# Group work - Classification

In this assignment, we will focus on sports analytics. This data set is made available by http://www.baseball-reference.com. It contains data about professional baseball (MLB) games played in the 2016 season. There are 2,427 games in the data set. Each row represents a single game. The goal is to predict the attendance at a home teamâ€™s game. This is an important task because most franchises want to predict the number of attendees for a variety of reasons including profits.

## Description of Variables

The description of variables are provided in "Baseball - Data Dictionary.docx"

## Goal

Use the **baseball.csv** data set and build a model to predict **attendance_binary**.

## Submission:

Please save and submit this Jupyter notebook file. The correctness of the code matters for your grade. **Readability and organization of your code is also important.** You may lose points for submitting unreadable/undecipherable code. Therefore, use markdown cells to create sections, and use comments where necessary.

## Recommended roles for group members:

**Section 1:** to be completed by both group members

**Section 2:** to be completed by the first group member and checked by the second

**Section 3:** to be completed by the second group member and checked by the first

**Important notes:**
- Both group members will get the same grade. Therefore, you should check the work of your group member. If they make a mistake, you will be responsible for that mistake too.
- Both group members must put in their fair share of effort. Otherwise, those who don't contribute to the assignment will not receive any grade.

# Section 1: (6 points in total)

## Data Prep (5.5 points)

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
data_frame = pd.read_csv('baseball.csv')
data_frame.head()

,attendance_binary,previous_attendance,previous_away_team_errors,previous_away_team_hits,previous_away_team_runs,game_type,previous_game_type,previous_home_team_errors,previous_home_team_hits,previous_home_team_runs,game_day,previous_game_day,temperature,wind_speed,sky,previous_game_duration,previous_homewin
0,0,43683,2,6,2,Night Game,Day Game,0,6,6,Wednesday,Monday,55,24,Overcast,2.933333,1
1,0,45785,0,7,2,Night Game,Day Game,0,10,3,Wednesday,Monday,48,7,Unknown,2.800000,1
2,0,48282,0,8,4,Night Game,Day Game,2,4,3,Wednesday,Monday,65,10,Cloudy,3.383333,0
3,0,21830,0,9,6,Day Game,Night Game,0,15,11,Wednesday,Tuesday,77,0,In Dome,3.233333,1
4,0,49289,2,4,2,Night Game,Day Game,1,1,3,Tuesday,Monday,81,12,Cloudy,2.633333,1

In [3]:
train_set, test_set = train_test_split(data_frame, test_size=0.3)
train_set.head()

,attendance_binary,previous_attendance,previous_away_team_errors,previous_away_team_hits,previous_away_team_runs,game_type,previous_game_type,previous_home_team_errors,previous_home_team_hits,previous_home_team_runs,game_day,previous_game_day,temperature,wind_speed,sky,previous_game_duration,previous_homewin
2023,0,25804,0,13,11,Day Game,Night Game,1,17,13,Wednesday,Tuesday,85,12,Sunny,3.366667,1
2014,1,31226,0,9,7,Night Game,Night Game,0,7,3,Thursday,Wednesday,73,6,Sunny,3.300000,0
1710,1,41363,1,9,3,Night Game,Day Game,0,10,4,Tuesday,Wednesday,61,14,Unknown,3.366667,1
2313,1,28955,1,8,3,Night Game,Night Game,1,8,2,Saturday,Friday,76,14,Sunny,3.133333,0
1259,0,26626,0,8,5,Day Game,Night Game,2,6,1,Wednesday,Tuesday,77,0,In Dome,2.966667,0

In [4]:
test_set.head()

,attendance_binary,previous_attendance,previous_away_team_errors,previous_away_team_hits,previous_away_team_runs,game_type,previous_game_type,previous_home_team_errors,previous_home_team_hits,previous_home_team_runs,game_day,previous_game_day,temperature,wind_speed,sky,previous_game_duration,previous_homewin
1910,0,38200,0,6,4,Day Game,Day Game,1,4,0,Sunday,Saturday,74,9,Sunny,2.866667,0
1466,1,41442,0,12,8,Night Game,Night Game,0,7,3,Tuesday,Monday,59,16,Sunny,2.716667,0
1941,1,44006,2,8,1,Night Game,Night Game,0,12,8,Thursday,Wednesday,66,9,Overcast,3.200000,1
2153,0,18677,1,6,3,Night Game,Night Game,0,10,4,Saturday,Friday,58,4,Unknown,3.333333,1
1473,1,36419,0,6,5,Night Game,Night Game,0,10,9,Tuesday,Monday,62,4,Cloudy,2.800000,1

In [5]:
## Checking Null values counts per column
train_set.dtypes

attendance_binary              int64
previous_attendance            int64
previous_away_team_errors      int64
previous_away_team_hits        int64
previous_away_team_runs        int64
game_type                     object
previous_game_type            object
previous_home_team_errors      int64
previous_home_team_hits        int64
previous_home_team_runs        int64
game_day                      object
previous_game_day             object
temperature                    int64
wind_speed                     int64
sky                           object
previous_game_duration       float64
previous_homewin               int64
dtype: object

In [6]:
for item in train_set.dtypes:
    print(item)

int64
int64
int64
int64
int64
object
object
int64
int64
int64
object
object
int64
int64
object
float64
int64

In [7]:
# check for quantity of Null Values
test_set.isnull().sum()

attendance_binary            0
previous_attendance          0
previous_away_team_errors    0
previous_away_team_hits      0
previous_away_team_runs      0
game_type                    0
previous_game_type           0
previous_home_team_errors    0
previous_home_team_hits      0
previous_home_team_runs      0
game_day                     0
previous_game_day            0
temperature                  0
wind_speed                   0
sky                          0
previous_game_duration       0
previous_homewin             0
dtype: int64

In [8]:
# Checking for null values in the train split
train_set.isnull().sum()

attendance_binary            0
previous_attendance          0
previous_away_team_errors    0
previous_away_team_hits      0
previous_away_team_runs      0
game_type                    0
previous_game_type           0
previous_home_team_errors    0
previous_home_team_hits      0
previous_home_team_runs      0
game_day                     0
previous_game_day            0
temperature                  0
wind_speed                   0
sky                          0
previous_game_duration       0
previous_homewin             0
dtype: int64

In [9]:
# Verifying the split has been done correctly
print(train_set.shape)
print(test_set.shape)

(1698, 17)
(729, 17)

In [10]:
# Gathering cols in a separate list
my_cols = list(data_frame.columns)
my_cols

['attendance_binary',
 'previous_attendance',
 'previous_away_team_errors',
 'previous_away_team_hits',
 'previous_away_team_runs',
 'game_type',
 'previous_game_type',
 'previous_home_team_errors',
 'previous_home_team_hits',
 'previous_home_team_runs',
 'game_day',
 'previous_game_day',
 'temperature',
 'wind_speed',
 'sky',
 'previous_game_duration',
 'previous_homewin']

In [11]:
# Verifying cols quantity
len(my_cols)

17

In [12]:
# Separating target variable into a separate data frame
train_target = train_set[[my_cols[0]]]
train_target

      attendance_binary
2023                  0
2014                  1
1710                  1
2313                  1
1259                  0
...                 ...
1400                  0
81                    1
1277                  0
2216                  1
954                   0

[1698 rows x 1 columns]

In [13]:
test_target = test_set[[my_cols[0]]]
test_target

      attendance_binary
1910                  0
1466                  1
1941                  1
2153                  0
1473                  1
...                 ...
1905                  1
1056                  0
1079                  1
927                   0
894                   1

[729 rows x 1 columns]

In [14]:
# Split target variable from the data frames
train_input = train_set.drop([my_cols[0]], axis=1)
test_input = test_set.drop([my_cols[0]], axis=1)
print(train_input.shape, test_input.shape, sep='\n')

(1698, 16)
(729, 16)

In [15]:
train_input

,previous_attendance,previous_away_team_errors,previous_away_team_hits,previous_away_team_runs,game_type,previous_game_type,previous_home_team_errors,previous_home_team_hits,previous_home_team_runs,game_day,previous_game_day,temperature,wind_speed,sky,previous_game_duration,previous_homewin
2023,25804,0,13,11,Day Game,Night Game,1,17,13,Wednesday,Tuesday,85,12,Sunny,3.366667,1
2014,31226,0,9,7,Night Game,Night Game,0,7,3,Thursday,Wednesday,73,6,Sunny,3.300000,0
1710,41363,1,9,3,Night Game,Day Game,0,10,4,Tuesday,Wednesday,61,14,Unknown,3.366667,1
2313,28955,1,8,3,Night Game,Night Game,1,8,2,Saturday,Friday,76,14,Sunny,3.133333,0
1259,26626,0,8,5,Day Game,Night Game,2,6,1,Wednesday,Tuesday,77,0,In Dome,2.966667,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1400,30379,0,9,4,Day Game,Day Game,0,3,1,Monday,Sunday,73,0,In Dome,2.966667,0
81,34982,1,7,1,Night Game,Night Game,1,14,11,Friday,Thursday,65,12,Unknown,2.933333,1
1277,21626,0,10,5,Night Game,Day Game,1,8,3,Monday,Sunday,66,17,Sunny,3.200000,0
2216,31688,1,16,11,Day Game,Night Game,0,5,2,Sunday,Saturday,70,13,Sunny,3.100000,0
954,32074,2,5,3,Night Game,Day Game,0,11,1,Monday,Sunday,76,11,Unknown,2.833333,0

In [16]:
#splitting data based on type
train_numerical_data=train_input[['previous_attendance','previous_away_team_errors','previous_away_team_hits','previous_away_team_runs',
                                  'previous_home_team_errors','previous_home_team_hits','previous_home_team_runs','temperature','wind_speed','previous_game_duration']]
train_binary_data=train_input[['previous_homewin']]
train_categorical_data=train_input[['game_type','previous_game_type','game_day','previous_game_day','sky']]

In [17]:
#numercial value Process
#imputation of numerical values
from sklearn.impute import SimpleImputer
imputer=SimpleImputer(strategy="mean")
train_numeric_imputedData=imputer.fit_transform(train_numerical_data)

In [18]:
train_numeric_imputedData

array([[2.58040000e+04, 0.00000000e+00, 1.30000000e+01, ...,
        8.50000000e+01, 1.20000000e+01, 3.36666667e+00],
       [3.12260000e+04, 0.00000000e+00, 9.00000000e+00, ...,
        7.30000000e+01, 6.00000000e+00, 3.30000000e+00],
       [4.13630000e+04, 1.00000000e+00, 9.00000000e+00, ...,
        6.10000000e+01, 1.40000000e+01, 3.36666667e+00],
       ...,
       [2.16260000e+04, 0.00000000e+00, 1.00000000e+01, ...,
        6.60000000e+01, 1.70000000e+01, 3.20000000e+00],
       [3.16880000e+04, 1.00000000e+00, 1.60000000e+01, ...,
        7.00000000e+01, 1.30000000e+01, 3.10000000e+00],
       [3.20740000e+04, 2.00000000e+00, 5.00000000e+00, ...,
        7.60000000e+01, 1.10000000e+01, 2.83333333e+00]])

In [19]:
#standerdizing values
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
train_numeric_StanderdizedData=scaler.fit_transform(train_numeric_imputedData)

In [20]:
train_numeric_StanderdizedData

array([[-0.48619834, -0.72646401,  1.1817162 , ...,  1.01795164,
         0.91302504,  0.64002517],
       [ 0.06506836, -0.72646401,  0.05412187, ..., -0.1160988 ,
        -0.29815974,  0.49262254],
       [ 1.0957195 ,  0.53740473,  0.05412187, ..., -1.25014924,
         1.3167533 ,  0.64002517],
       ...,
       [-0.91098481, -0.72646401,  0.33602045, ..., -0.77762823,
         1.92234569,  0.27151859],
       [ 0.11204091,  0.53740473,  2.02741194, ..., -0.39961141,
         1.11488917,  0.05041465],
       [ 0.15128639,  1.80127346, -1.07347245, ...,  0.16741381,
         0.71116091, -0.53919587]])

In [21]:
#Back to pandas(Numerics)
train_numeric_DataDF=pd.DataFrame(train_numeric_StanderdizedData,columns=train_numerical_data.columns).reset_index(drop=True)
train_numeric_DataDF.head()

,previous_attendance,previous_away_team_errors,previous_away_team_hits,previous_away_team_runs,previous_home_team_errors,previous_home_team_hits,previous_home_team_runs,temperature,wind_speed,previous_game_duration
0,-0.486198,-0.726464,1.181716,2.088282,0.522900,2.438429,2.718196,1.017952,0.913025,0.640025
1,0.065068,-0.726464,0.054122,0.814152,-0.732947,-0.443088,-0.477910,-0.116099,-0.298160,0.492623
2,1.095719,0.537405,0.054122,-0.459977,-0.732947,0.421367,-0.158299,-1.250149,1.316753,0.640025
3,-0.165829,0.537405,-0.227777,-0.459977,0.522900,-0.154937,-0.797521,0.167414,1.316753,0.124116
4,-0.402624,-0.726464,-0.227777,0.177087,1.778746,-0.731240,-1.117131,0.261918,-1.509345,-0.244391

In [22]:
#Processing Categorical
train_categorical_data.isna().sum()
#I believe no need to process categorical in this case as there are no null values, NIC please confirm.

game_type             0
previous_game_type    0
game_day              0
previous_game_day     0
sky                   0
dtype: int64

In [23]:
#Categorical back to pandas
train_categorical_DataDF=pd.DataFrame(train_categorical_data,columns=train_categorical_data.columns).reset_index(drop=True)
train_categorical_DataDF

       game_type previous_game_type   game_day previous_game_day      sky
0       Day Game         Night Game  Wednesday           Tuesday    Sunny
1     Night Game         Night Game   Thursday         Wednesday    Sunny
2     Night Game           Day Game    Tuesday         Wednesday  Unknown
3     Night Game         Night Game   Saturday            Friday    Sunny
4       Day Game         Night Game  Wednesday           Tuesday  In Dome
...          ...                ...        ...               ...      ...
1693    Day Game           Day Game     Monday            Sunday  In Dome
1694  Night Game         Night Game     Friday          Thursday  Unknown
1695  Night Game           Day Game     Monday            Sunday    Sunny
1696    Day Game         Night Game     Sunday          Saturday    Sunny
1697  Night Game           Day Game     Monday            Sunday  Unknown

[1698 rows x 5 columns]

In [24]:
#One hard encoding to categorical values
from sklearn.preprocessing import OneHotEncoder
encoder=OneHotEncoder()
train_categorical_data_Encoded=encoder.fit_transform(train_categorical_DataDF)
train_categorical_data_Encoded.toarray()

array([[1., 0., 0., ..., 0., 1., 0.],
       [0., 1., 0., ..., 0., 1., 0.],
       [0., 1., 1., ..., 0., 0., 1.],
       ...,
       [0., 1., 1., ..., 0., 1., 0.],
       [1., 0., 0., ..., 0., 1., 0.],
       [0., 1., 1., ..., 0., 0., 1.]])

In [25]:
encoder.categories_

[array(['Day Game', 'Night Game'], dtype=object),
 array(['Day Game', 'Night Game'], dtype=object),
 array(['Friday', 'Monday', 'Saturday', 'Sunday', 'Thursday', 'Tuesday',
        'Wednesday'], dtype=object),
 array(['Friday', 'Monday', 'Saturday', 'Sunday', 'Thursday', 'Tuesday',
        'Wednesday'], dtype=object),
 array(['Cloudy', 'Drizzle', 'In Dome', 'Night', 'Overcast', 'Rain',
        'Sunny', 'Unknown'], dtype=object)]

In [26]:
OneHotEncoder_column_names=[item for sublist in encoder.categories_ for item in sublist]
OneHotEncoder_column_names

['Day Game',
 'Night Game',
 'Day Game',
 'Night Game',
 'Friday',
 'Monday',
 'Saturday',
 'Sunday',
 'Thursday',
 'Tuesday',
 'Wednesday',
 'Friday',
 'Monday',
 'Saturday',
 'Sunday',
 'Thursday',
 'Tuesday',
 'Wednesday',
 'Cloudy',
 'Drizzle',
 'In Dome',
 'Night',
 'Overcast',
 'Rain',
 'Sunny',
 'Unknown']

In [27]:
#back to pandas
train_categorical_data_Encoded_DF=pd.DataFrame(train_categorical_data_Encoded.toarray(),
                                               columns=OneHotEncoder_column_names).reset_index(drop=True)
train_categorical_data_Encoded_DF

,Day Game,Night Game,Day Game,Night Game,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,...,Tuesday,Wednesday,Cloudy,Drizzle,In Dome,Night,Overcast,Rain,Sunny,Unknown
0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1693,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1694,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1695,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1696,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1697,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [28]:
#Concatinate all Train Data
Train_Data_Final=pd.concat((train_numeric_DataDF.reset_index(drop=True),train_categorical_data_Encoded_DF.reset_index(drop=True)
                           ,train_binary_data.reset_index(drop=True)),axis=1)
Train_Data_Final

,previous_attendance,previous_away_team_errors,previous_away_team_hits,previous_away_team_runs,previous_home_team_errors,previous_home_team_hits,previous_home_team_runs,temperature,wind_speed,previous_game_duration,...,Wednesday,Cloudy,Drizzle,In Dome,Night,Overcast,Rain,Sunny,Unknown,previous_homewin
0,-0.486198,-0.726464,1.181716,2.088282,0.522900,2.438429,2.718196,1.017952,0.913025,0.640025,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1
1,0.065068,-0.726464,0.054122,0.814152,-0.732947,-0.443088,-0.477910,-0.116099,-0.298160,0.492623,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0
2,1.095719,0.537405,0.054122,-0.459977,-0.732947,0.421367,-0.158299,-1.250149,1.316753,0.640025,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1
3,-0.165829,0.537405,-0.227777,-0.459977,0.522900,-0.154937,-0.797521,0.167414,1.316753,0.124116,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0
4,-0.402624,-0.726464,-0.227777,0.177087,1.778746,-0.731240,-1.117131,0.261918,-1.509345,-0.244391,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1693,-0.021048,-0.726464,0.054122,-0.141445,-0.732947,-1.595695,-1.117131,-0.116099,-1.509345,-0.244391,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0
1694,0.446949,0.537405,-0.509675,-1.097042,0.522900,1.573974,2.078975,-0.872132,0.913025,-0.318092,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1
1695,-0.910985,-0.726464,0.336020,0.177087,0.522900,-0.154937,-0.477910,-0.777628,1.922346,0.271519,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0
1696,0.112041,0.537405,2.027412,2.088282,-0.732947,-1.019392,-0.797521,-0.399611,1.114889,0.050415,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0
1697,0.151286,1.801273,-1.073472,-0.459977,-0.732947,0.709519,-1.117131,0.167414,0.711161,-0.539196,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0

In [29]:
test_numerical_data=test_input[['previous_attendance','previous_away_team_errors','previous_away_team_hits','previous_away_team_runs',
                                  'previous_home_team_errors','previous_home_team_hits','previous_home_team_runs','temperature','wind_speed','previous_game_duration']]
test_binary_data=test_input[['previous_homewin']]
test_categorical_data=test_input[['game_type','previous_game_type','game_day','previous_game_day','sky']]

In [30]:
#processing numerical test data
test_numeric_imputedData=imputer.transform(test_numerical_data)
test_numeric_imputedData

array([[3.82000000e+04, 0.00000000e+00, 6.00000000e+00, ...,
        7.40000000e+01, 9.00000000e+00, 2.86666667e+00],
       [4.14420000e+04, 0.00000000e+00, 1.20000000e+01, ...,
        5.90000000e+01, 1.60000000e+01, 2.71666667e+00],
       [4.40060000e+04, 2.00000000e+00, 8.00000000e+00, ...,
        6.60000000e+01, 9.00000000e+00, 3.20000000e+00],
       ...,
       [2.86820000e+04, 0.00000000e+00, 6.00000000e+00, ...,
        6.90000000e+01, 6.00000000e+00, 2.51666667e+00],
       [1.38570000e+04, 1.00000000e+00, 7.00000000e+00, ...,
        8.10000000e+01, 6.00000000e+00, 3.13333333e+00],
       [3.23570000e+04, 1.00000000e+00, 1.60000000e+01, ...,
        8.40000000e+01, 1.00000000e+01, 3.60000000e+00]])

In [31]:
#Standerdizing the numerical values
test_numeric_standerdizedData=scaler.transform(test_numeric_imputedData)
test_numeric_standerdizedData

array([[ 0.77413031, -0.72646401, -0.79157387, ..., -0.0215946 ,
         0.30743265, -0.46549455],
       [ 1.1037516 , -0.72646401,  0.89981762, ..., -1.43915765,
         1.72048156, -0.79715046],
       [ 1.36443914,  1.80127346, -0.22777671, ..., -0.77762823,
         0.30743265,  0.27151859],
       ...,
       [-0.19358573, -0.72646401, -0.79157387, ..., -0.49411562,
        -0.29815974, -1.23935835],
       [-1.70087618,  0.53740473, -0.50967529, ...,  0.63993482,
        -0.29815974,  0.12411596],
       [ 0.18005962,  0.53740473,  2.02741194, ...,  0.92344743,
         0.50929678,  1.15593437]])

In [32]:
#convert numeric to pandas
test_numeric_DataDF=pd.DataFrame(test_numeric_standerdizedData,columns=test_numerical_data.columns).reset_index(drop=True)
test_numeric_DataDF.head()

,previous_attendance,previous_away_team_errors,previous_away_team_hits,previous_away_team_runs,previous_home_team_errors,previous_home_team_hits,previous_home_team_runs,temperature,wind_speed,previous_game_duration
0,0.774130,-0.726464,-0.791574,-0.141445,0.522900,-1.307544,-1.436742,-0.021595,0.307433,-0.465495
1,1.103752,-0.726464,0.899818,1.132685,-0.732947,-0.443088,-0.477910,-1.439158,1.720482,-0.797150
2,1.364439,1.801273,-0.227777,-1.097042,-0.732947,0.997670,1.120143,-0.777628,0.307433,0.271519
3,-1.210816,0.537405,-0.791574,-0.459977,-0.732947,0.421367,-0.158299,-1.533662,-0.701888,0.566324
4,0.593052,-0.726464,-0.791574,0.177087,-0.732947,0.421367,1.439753,-1.155645,-0.701888,-0.612897

In [33]:
#Processing Categorical Test Data
test_categorical_data.isna().sum()

game_type             0
previous_game_type    0
game_day              0
previous_game_day     0
sky                   0
dtype: int64

In [34]:
#No null values in categorical data, hence converting back into pandas
test_categorical_dataDF=pd.DataFrame(test_categorical_data,columns=test_categorical_data.columns).reset_index(drop=True)
test_categorical_dataDF

      game_type previous_game_type   game_day previous_game_day       sky
0      Day Game           Day Game     Sunday          Saturday     Sunny
1    Night Game         Night Game    Tuesday            Monday     Sunny
2    Night Game         Night Game   Thursday         Wednesday  Overcast
3    Night Game         Night Game   Saturday            Friday   Unknown
4    Night Game         Night Game    Tuesday            Monday    Cloudy
..          ...                ...        ...               ...       ...
724    Day Game           Day Game     Sunday          Saturday    Cloudy
725  Night Game         Night Game   Saturday            Friday   In Dome
726  Night Game         Night Game   Thursday         Wednesday  Overcast
727  Night Game         Night Game  Wednesday           Tuesday    Cloudy
728  Night Game         Night Game   Saturday            Friday    Cloudy

[729 rows x 5 columns]

In [35]:
#One Hot Encoding test categorical data
test_categorical_data_Encoded=encoder.transform(test_categorical_dataDF)
test_categorical_data_Encoded.toarray()

array([[1., 0., 1., ..., 0., 1., 0.],
       [0., 1., 0., ..., 0., 1., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       ...,
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.]])

In [36]:
#Back to pandas
test_categorical_data_Encoded_DF=pd.DataFrame(test_categorical_data_Encoded.toarray(),
                                               columns=OneHotEncoder_column_names).reset_index(drop=True)
test_categorical_data_Encoded_DF

,Day Game,Night Game,Day Game,Night Game,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,...,Tuesday,Wednesday,Cloudy,Drizzle,In Dome,Night,Overcast,Rain,Sunny,Unknown
0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
724,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
725,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
726,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
727,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
728,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [37]:
#Concatinate all to one DataFrame
test_Final_Data=pd.concat((test_numeric_DataDF.reset_index(drop=True),test_categorical_data_Encoded_DF.reset_index(drop=True),
                           test_binary_data.reset_index(drop=True)),axis=1)
test_Final_Data

,previous_attendance,previous_away_team_errors,previous_away_team_hits,previous_away_team_runs,previous_home_team_errors,previous_home_team_hits,previous_home_team_runs,temperature,wind_speed,previous_game_duration,...,Wednesday,Cloudy,Drizzle,In Dome,Night,Overcast,Rain,Sunny,Unknown,previous_homewin
0,0.774130,-0.726464,-0.791574,-0.141445,0.522900,-1.307544,-1.436742,-0.021595,0.307433,-0.465495,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0
1,1.103752,-0.726464,0.899818,1.132685,-0.732947,-0.443088,-0.477910,-1.439158,1.720482,-0.797150,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0
2,1.364439,1.801273,-0.227777,-1.097042,-0.732947,0.997670,1.120143,-0.777628,0.307433,0.271519,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1
3,-1.210816,0.537405,-0.791574,-0.459977,-0.732947,0.421367,-0.158299,-1.533662,-0.701888,0.566324,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1
4,0.593052,-0.726464,-0.791574,0.177087,-0.732947,0.421367,1.439753,-1.155645,-0.701888,-0.612897,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
724,0.925419,-0.726464,-0.509675,-0.141445,-0.732947,0.133215,0.161311,-0.777628,-0.096296,0.160967,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
725,-1.873312,-0.726464,0.336020,0.495620,0.522900,-0.443088,-0.797521,-0.210603,-1.509345,-0.281241,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0
726,-0.193586,-0.726464,-0.791574,-0.778510,-0.732947,2.438429,2.398585,-0.494116,-0.298160,-1.239358,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1
727,-1.700876,0.537405,-0.509675,-1.097042,-0.732947,0.709519,-0.477910,0.639935,-0.298160,0.124116,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
728,0.180060,0.537405,2.027412,0.495620,1.778746,0.997670,0.161311,0.923447,0.509297,1.155934,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

## Find the Baseline (0.5 point)

In [38]:
train_target.value_counts()

attendance_binary
1                    892
0                    806
dtype: int64

In [39]:
train_target.value_counts()/len(train_target)

attendance_binary
1                    0.525324
0                    0.474676
dtype: float64

# Section 2: (3 points in total)

Build three different SVM models (by changing the kernels, regularization, etc.). Generate their training and test values. Each model is worth 1 point. 

(Add cells as needed)

## SVM Model 1:

In [40]:
#Linear SVC
from sklearn.svm import LinearSVC
svm_clf = LinearSVC(C=10)
svm_clf.fit(Train_Data_Final, train_target)

C:\Users\Kumar Vankadara\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\Kumar Vankadara\anaconda3\lib\site-packages\sklearn\svm\_base.py:985: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn("Liblinear failed to converge, increase "

LinearSVC(C=10)

In [41]:
from sklearn.metrics import accuracy_score
train_y_pred=svm_clf.predict(Train_Data_Final)
accuracy_score(train_target,train_y_pred)

0.8409893992932862

In [42]:
#Classification Matrix
from sklearn.metrics import confusion_matrix
confusion_matrix(train_target,train_y_pred)

array([[655, 151],
       [119, 773]], dtype=int64)

In [43]:
#classification report
from sklearn.metrics import classification_report
print(classification_report(train_target,train_y_pred))

              precision    recall  f1-score   support

           0       0.85      0.81      0.83       806
           1       0.84      0.87      0.85       892

    accuracy                           0.84      1698
   macro avg       0.84      0.84      0.84      1698
weighted avg       0.84      0.84      0.84      1698

## SVM Model 2:

In [48]:
#Linear SVC with poly=2
from sklearn.preprocessing import PolynomialFeatures
poly_fea=PolynomialFeatures(degree=2,include_bias=False)
train_poly_x=poly_fea.fit_transform(Train_Data_Final)
test_poly_y=poly_fea.transform(test_Final_Data)
poly_SVM = LinearSVC(C=10)
poly_SVM.fit(train_poly_x,train_target)
#predicting trained values
trained_poly_y_predicted=poly_SVM.predict(train_poly_x)
#accuracy
accuracy_score(train_target,trained_poly_y_predicted)

C:\Users\Kumar Vankadara\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\Kumar Vankadara\anaconda3\lib\site-packages\sklearn\svm\_base.py:985: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn("Liblinear failed to converge, increase "

0.8981154299175501

In [50]:
#predict test values
test_poly_y_predicted=poly_SVM.predict(test_poly_y)
#accuracy test 
accuracy_score(test_target,test_poly_y_predicted)

0.7709190672153635

## SVM Model 3:

In [54]:
#rbf kernel
from sklearn.svm import SVC
rbf_kernel_svm=SVC(kernel="rbf",C=10,gamma="scale")
rbf_kernel_svm.fit(Train_Data_Final,train_target)

C:\Users\Kumar Vankadara\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

SVC(C=10)

In [60]:
#predicting train values
train_y_predicted_rbf=rbf_kernel_svm.predict(Train_Data_Final)
#Accuracy of train predictions
accuracy_score(train_target,train_y_predicted_rbf)

0.9752650176678446

In [61]:
#predicting test values
test_y_predicted_rbf=rbf_kernel_svm.predict(test_Final_Data)
#accuracy of test predictions
accuracy_score(test_target,test_y_predicted_rbf)

0.7969821673525377

# Section 3: (3 points in total)

Build two different SGD models (by changing the penalty, etc. or adding polynomial terms) and one LogisticRregression model. Generate their training and test values. Each model is worth 1 point.

(Add cells as needed)

## SGD Model 1:

## SGD Model 2:

## LogisticRegression Model:

# Discussion (3 points in total)

## List the train and test values of each model you built (1 point)

## Which model performs the best and why? (0.5 points) How does it compare to baseline? (0.5 points)

Hint: The best model is the one that has the highest TEST score (regardless of any of the training values). If you select your model based on TRAIN values, you will lose points.

## Is there any evidence of overfitting in the best model, why or why not? If there is, what did you do about it? (0.5 points)

## Is there any evidence of overfitting in the other models (besides the best model), why or why not? If there is, what did you do about it? (0.5 points)