# Group work - Classification

In this assignment, we will focus on sports analytics. This data set is made available by http://www.baseball-reference.com. It contains data about professional baseball (MLB) games played in the 2016 season. There are 2,427 games in the data set. Each row represents a single game. The goal is to predict the attendance at a home team’s game. This is an important task because most franchises want to predict the number of attendees for a variety of reasons including profits.

## Description of Variables

The description of variables are provided in "Baseball - Data Dictionary.docx"

## Goal

Use the **baseball.csv** data set and build a model to predict **attendance_binary**.

## Submission:

Please save and submit this Jupyter notebook file. The correctness of the code matters for your grade. **Readability and organization of your code is also important.** You may lose points for submitting unreadable/undecipherable code. Therefore, use markdown cells to create sections, and use comments where necessary.

## Recommended roles for group members:

**Section 1:** to be completed by both group members

**Section 2:** to be completed by the first group member and checked by the second

**Section 3:** to be completed by the second group member and checked by the first

**Important notes:**
- Both group members will get the same grade. Therefore, you should check the work of your group member. If they make a mistake, you will be responsible for that mistake too.
- Both group members must put in their fair share of effort. Otherwise, those who don't contribute to the assignment will not receive any grade.

# Section 1: (6 points in total)

## Data Prep (5.5 points)

In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [3]:
data_frame = pd.read_csv('baseball.csv')
data_frame.head()

,attendance_binary,previous_attendance,previous_away_team_errors,previous_away_team_hits,previous_away_team_runs,game_type,previous_game_type,previous_home_team_errors,previous_home_team_hits,previous_home_team_runs,game_day,previous_game_day,temperature,wind_speed,sky,previous_game_duration,previous_homewin
0,0,43683,2,6,2,Night Game,Day Game,0,6,6,Wednesday,Monday,55,24,Overcast,2.933333,1
1,0,45785,0,7,2,Night Game,Day Game,0,10,3,Wednesday,Monday,48,7,Unknown,2.800000,1
2,0,48282,0,8,4,Night Game,Day Game,2,4,3,Wednesday,Monday,65,10,Cloudy,3.383333,0
3,0,21830,0,9,6,Day Game,Night Game,0,15,11,Wednesday,Tuesday,77,0,In Dome,3.233333,1
4,0,49289,2,4,2,Night Game,Day Game,1,1,3,Tuesday,Monday,81,12,Cloudy,2.633333,1

In [4]:
train_set, test_set = train_test_split(data_frame, test_size=0.3)
train_set.head()

,attendance_binary,previous_attendance,previous_away_team_errors,previous_away_team_hits,previous_away_team_runs,game_type,previous_game_type,previous_home_team_errors,previous_home_team_hits,previous_home_team_runs,game_day,previous_game_day,temperature,wind_speed,sky,previous_game_duration,previous_homewin
1874,0,15185,1,4,2,Night Game,Night Game,0,5,1,Wednesday,Tuesday,84,9,Cloudy,3.133333,0
354,1,49617,0,8,5,Night Game,Day Game,0,7,6,Tuesday,Tuesday,72,4,Night,3.733333,1
1539,1,40093,0,7,3,Night Game,Day Game,1,13,6,Thursday,Wednesday,79,7,Cloudy,2.916667,1
679,0,16169,1,10,4,Night Game,Night Game,0,7,3,Wednesday,Tuesday,76,0,In Dome,3.000000,0
688,1,40446,0,7,1,Night Game,Day Game,0,6,2,Tuesday,Monday,72,8,Cloudy,3.016667,1

In [5]:
test_set.head()

,attendance_binary,previous_attendance,previous_away_team_errors,previous_away_team_hits,previous_away_team_runs,game_type,previous_game_type,previous_home_team_errors,previous_home_team_hits,previous_home_team_runs,game_day,previous_game_day,temperature,wind_speed,sky,previous_game_duration,previous_homewin
1238,1,36717,1,12,9,Night Game,Night Game,0,11,5,Thursday,Wednesday,86,7,Cloudy,3.716667,0
1030,1,41147,1,11,4,Night Game,Day Game,0,9,5,Tuesday,Wednesday,82,3,Unknown,3.316667,1
358,1,42392,1,6,2,Night Game,Night Game,3,9,5,Saturday,Saturday,72,14,Cloudy,3.050000,1
2396,0,38019,0,9,7,Day Game,Day Game,1,3,1,Saturday,Friday,32,13,Sunny,2.750000,0
2056,0,19625,1,10,6,Night Game,Day Game,1,10,5,Monday,Sunday,80,11,Sunny,3.166667,0

In [6]:
## Checking Null values counts per column
train_set.dtypes

attendance_binary              int64
previous_attendance            int64
previous_away_team_errors      int64
previous_away_team_hits        int64
previous_away_team_runs        int64
game_type                     object
previous_game_type            object
previous_home_team_errors      int64
previous_home_team_hits        int64
previous_home_team_runs        int64
game_day                      object
previous_game_day             object
temperature                    int64
wind_speed                     int64
sky                           object
previous_game_duration       float64
previous_homewin               int64
dtype: object

In [7]:
for item in train_set.dtypes:
    print(item)

int64
int64
int64
int64
int64
object
object
int64
int64
int64
object
object
int64
int64
object
float64
int64

In [8]:
# check for quantity of Null Values
test_set.isnull().sum()

attendance_binary            0
previous_attendance          0
previous_away_team_errors    0
previous_away_team_hits      0
previous_away_team_runs      0
game_type                    0
previous_game_type           0
previous_home_team_errors    0
previous_home_team_hits      0
previous_home_team_runs      0
game_day                     0
previous_game_day            0
temperature                  0
wind_speed                   0
sky                          0
previous_game_duration       0
previous_homewin             0
dtype: int64

In [9]:
# Checking for null values in the train split
train_set.isnull().sum()

attendance_binary            0
previous_attendance          0
previous_away_team_errors    0
previous_away_team_hits      0
previous_away_team_runs      0
game_type                    0
previous_game_type           0
previous_home_team_errors    0
previous_home_team_hits      0
previous_home_team_runs      0
game_day                     0
previous_game_day            0
temperature                  0
wind_speed                   0
sky                          0
previous_game_duration       0
previous_homewin             0
dtype: int64

In [10]:
# Verifying the split has been done correctly
print(train_set.shape)
print(test_set.shape)

(1698, 17)
(729, 17)

In [12]:
# Gathering cols in a separate list
my_cols = list(data_frame.columns)
my_cols

['attendance_binary',
 'previous_attendance',
 'previous_away_team_errors',
 'previous_away_team_hits',
 'previous_away_team_runs',
 'game_type',
 'previous_game_type',
 'previous_home_team_errors',
 'previous_home_team_hits',
 'previous_home_team_runs',
 'game_day',
 'previous_game_day',
 'temperature',
 'wind_speed',
 'sky',
 'previous_game_duration',
 'previous_homewin']

In [13]:
# Verifying cols quantity
len(my_cols)

17

In [14]:
# Separating target variable into a separate data frame
train_target = train_set[[my_cols[0]]]
train_target

      attendance_binary
1874                  0
354                   1
1539                  1
679                   0
688                   1
...                 ...
2004                  1
1065                  1
318                   0
2362                  0
1004                  1

[1698 rows x 1 columns]

In [15]:
test_target = test_set[[my_cols[0]]]
test_target

      attendance_binary
1238                  1
1030                  1
358                   1
2396                  0
2056                  0
...                 ...
1591                  1
124                   1
1808                  0
1511                  0
475                   1

[729 rows x 1 columns]

In [16]:
# Split target variable from the data frames
train_input = train_set.drop([my_cols[0]], axis=1)
test_input = test_set.drop([my_cols[0]], axis=1)
print(train_input.shape, test_input.shape, sep='\n')

(1698, 16)
(729, 16)

## Find the Baseline (0.5 point)

In [ ]:
# This is for testing purposes

# Section 2: (3 points in total)

Build three different SVM models (by changing the kernels, regularization, etc.). Generate their training and test values. Each model is worth 1 point. 

(Add cells as needed)

## SVM Model 1:

## SVM Model 2:

## SVM Model 3:

# Section 3: (3 points in total)

Build two different SGD models (by changing the penalty, etc. or adding polynomial terms) and one LogisticRregression model. Generate their training and test values. Each model is worth 1 point.

(Add cells as needed)

## SGD Model 1:

## SGD Model 2:

## LogisticRegression Model:

# Discussion (3 points in total)

## List the train and test values of each model you built (1 point)

## Which model performs the best and why? (0.5 points) How does it compare to baseline? (0.5 points)

Hint: The best model is the one that has the highest TEST score (regardless of any of the training values). If you select your model based on TRAIN values, you will lose points.

## Is there any evidence of overfitting in the best model, why or why not? If there is, what did you do about it? (0.5 points)

## Is there any evidence of overfitting in the other models (besides the best model), why or why not? If there is, what did you do about it? (0.5 points)