# Group work - Classification

In this assignment, we will focus on sports analytics. This data set is made available by http://www.baseball-reference.com. It contains data about professional baseball (MLB) games played in the 2016 season. There are 2,427 games in the data set. Each row represents a single game. The goal is to predict the attendance at a home teamâ€™s game. This is an important task because most franchises want to predict the number of attendees for a variety of reasons including profits.

## Description of Variables

The description of variables are provided in "Baseball - Data Dictionary.docx"

## Goal

Use the **baseball.csv** data set and build a model to predict **attendance_binary**.

## Submission:

Please save and submit this Jupyter notebook file. The correctness of the code matters for your grade. **Readability and organization of your code is also important.** You may lose points for submitting unreadable/undecipherable code. Therefore, use markdown cells to create sections, and use comments where necessary.

## Recommended roles for group members:

**Section 1:** to be completed by both group members

**Section 2:** to be completed by the first group member and checked by the second

**Section 3:** to be completed by the second group member and checked by the first

**Important notes:**
- Both group members will get the same grade. Therefore, you should check the work of your group member. If they make a mistake, you will be responsible for that mistake too.
- Both group members must put in their fair share of effort. Otherwise, those who don't contribute to the assignment will not receive any grade.

# Section 1: (6 points in total)

## Data Prep (5.5 points)

In [30]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [31]:
data_frame = pd.read_csv('baseball.csv')
data_frame.head()

,attendance_binary,previous_attendance,previous_away_team_errors,previous_away_team_hits,previous_away_team_runs,game_type,previous_game_type,previous_home_team_errors,previous_home_team_hits,previous_home_team_runs,game_day,previous_game_day,temperature,wind_speed,sky,previous_game_duration,previous_homewin
0,0,43683,2,6,2,Night Game,Day Game,0,6,6,Wednesday,Monday,55,24,Overcast,2.933333,1
1,0,45785,0,7,2,Night Game,Day Game,0,10,3,Wednesday,Monday,48,7,Unknown,2.800000,1
2,0,48282,0,8,4,Night Game,Day Game,2,4,3,Wednesday,Monday,65,10,Cloudy,3.383333,0
3,0,21830,0,9,6,Day Game,Night Game,0,15,11,Wednesday,Tuesday,77,0,In Dome,3.233333,1
4,0,49289,2,4,2,Night Game,Day Game,1,1,3,Tuesday,Monday,81,12,Cloudy,2.633333,1

In [32]:
train_set, test_set = train_test_split(data_frame, test_size=0.3)
train_set.head()

,attendance_binary,previous_attendance,previous_away_team_errors,previous_away_team_hits,previous_away_team_runs,game_type,previous_game_type,previous_home_team_errors,previous_home_team_hits,previous_home_team_runs,game_day,previous_game_day,temperature,wind_speed,sky,previous_game_duration,previous_homewin
1374,1,35917,1,7,3,Night Game,Night Game,0,13,8,Wednesday,Tuesday,74,10,Overcast,2.533333,1
1016,1,38089,0,7,3,Night Game,Night Game,1,9,5,Wednesday,Tuesday,79,12,Unknown,3.216667,1
2265,0,9890,1,3,2,Day Game,Night Game,1,4,1,Thursday,Wednesday,64,3,Rain,2.800000,0
238,1,37842,1,11,4,Night Game,Day Game,0,7,3,Tuesday,Wednesday,75,17,Cloudy,2.916667,0
323,1,24582,0,5,1,Night Game,Night Game,0,4,3,Friday,Thursday,74,0,In Dome,2.650000,1

In [33]:
test_set.head()

,attendance_binary,previous_attendance,previous_away_team_errors,previous_away_team_hits,previous_away_team_runs,game_type,previous_game_type,previous_home_team_errors,previous_home_team_hits,previous_home_team_runs,game_day,previous_game_day,temperature,wind_speed,sky,previous_game_duration,previous_homewin
1002,1,37779,0,15,9,Night Game,Night Game,0,9,4,Thursday,Wednesday,94,14,Cloudy,4.250000,0
870,0,28616,2,6,3,Night Game,Day Game,2,5,2,Monday,Sunday,76,5,Cloudy,2.916667,0
341,0,31635,0,4,1,Day Game,Day Game,1,7,2,Sunday,Saturday,73,2,Overcast,3.050000,1
290,0,25910,0,11,5,Night Game,Day Game,2,10,6,Monday,Sunday,80,7,Sunny,3.716667,1
2237,1,37153,0,8,5,Night Game,Night Game,1,9,7,Saturday,Friday,72,12,Unknown,3.450000,1

In [34]:
## Checking Null values counts per column
train_set.dtypes

attendance_binary              int64
previous_attendance            int64
previous_away_team_errors      int64
previous_away_team_hits        int64
previous_away_team_runs        int64
game_type                     object
previous_game_type            object
previous_home_team_errors      int64
previous_home_team_hits        int64
previous_home_team_runs        int64
game_day                      object
previous_game_day             object
temperature                    int64
wind_speed                     int64
sky                           object
previous_game_duration       float64
previous_homewin               int64
dtype: object

In [35]:
for item in train_set.dtypes:
    print(item)

int64
int64
int64
int64
int64
object
object
int64
int64
int64
object
object
int64
int64
object
float64
int64

In [36]:
# check for quantity of Null Values
test_set.isnull().sum()

attendance_binary            0
previous_attendance          0
previous_away_team_errors    0
previous_away_team_hits      0
previous_away_team_runs      0
game_type                    0
previous_game_type           0
previous_home_team_errors    0
previous_home_team_hits      0
previous_home_team_runs      0
game_day                     0
previous_game_day            0
temperature                  0
wind_speed                   0
sky                          0
previous_game_duration       0
previous_homewin             0
dtype: int64

In [37]:
# Checking for null values in the train split
train_set.isnull().sum()

attendance_binary            0
previous_attendance          0
previous_away_team_errors    0
previous_away_team_hits      0
previous_away_team_runs      0
game_type                    0
previous_game_type           0
previous_home_team_errors    0
previous_home_team_hits      0
previous_home_team_runs      0
game_day                     0
previous_game_day            0
temperature                  0
wind_speed                   0
sky                          0
previous_game_duration       0
previous_homewin             0
dtype: int64

In [38]:
# Verifying the split has been done correctly
print(train_set.shape)
print(test_set.shape)

(1698, 17)
(729, 17)

In [39]:
# Gathering cols in a separate list
my_cols = list(data_frame.columns)
my_cols

['attendance_binary',
 'previous_attendance',
 'previous_away_team_errors',
 'previous_away_team_hits',
 'previous_away_team_runs',
 'game_type',
 'previous_game_type',
 'previous_home_team_errors',
 'previous_home_team_hits',
 'previous_home_team_runs',
 'game_day',
 'previous_game_day',
 'temperature',
 'wind_speed',
 'sky',
 'previous_game_duration',
 'previous_homewin']

In [40]:
# Verifying cols quantity
len(my_cols)

17

In [41]:
# Separating target variable into a separate data frame
train_target = train_set[[my_cols[0]]]
train_target

      attendance_binary
1374                  1
1016                  1
2265                  0
238                   1
323                   1
...                 ...
1281                  1
315                   1
1577                  1
2322                  0
2064                  1

[1698 rows x 1 columns]

In [42]:
test_target = test_set[[my_cols[0]]]
test_target

      attendance_binary
1002                  1
870                   0
341                   0
290                   0
2237                  1
...                 ...
2281                  0
2187                  0
788                   0
2096                  1
2018                  0

[729 rows x 1 columns]

In [43]:
# Split target variable from the data frames
train_input = train_set.drop([my_cols[0]], axis=1)
test_input = test_set.drop([my_cols[0]], axis=1)
print(train_input.shape, test_input.shape, sep='\n')

(1698, 16)
(729, 16)

In [44]:
train_input

,previous_attendance,previous_away_team_errors,previous_away_team_hits,previous_away_team_runs,game_type,previous_game_type,previous_home_team_errors,previous_home_team_hits,previous_home_team_runs,game_day,previous_game_day,temperature,wind_speed,sky,previous_game_duration,previous_homewin
1374,35917,1,7,3,Night Game,Night Game,0,13,8,Wednesday,Tuesday,74,10,Overcast,2.533333,1
1016,38089,0,7,3,Night Game,Night Game,1,9,5,Wednesday,Tuesday,79,12,Unknown,3.216667,1
2265,9890,1,3,2,Day Game,Night Game,1,4,1,Thursday,Wednesday,64,3,Rain,2.800000,0
238,37842,1,11,4,Night Game,Day Game,0,7,3,Tuesday,Wednesday,75,17,Cloudy,2.916667,0
323,24582,0,5,1,Night Game,Night Game,0,4,3,Friday,Thursday,74,0,In Dome,2.650000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1281,32113,1,13,10,Night Game,Day Game,0,10,3,Monday,Sunday,76,4,Unknown,3.183333,0
315,39691,0,12,11,Day Game,Night Game,0,6,2,Sunday,Saturday,93,7,Cloudy,2.866667,0
1577,32134,1,7,4,Day Game,Night Game,0,7,3,Sunday,Saturday,84,11,Sunny,3.033333,0
2322,15365,2,14,6,Day Game,Night Game,1,14,5,Saturday,Friday,54,12,Sunny,3.616667,0
2064,41590,0,12,1,Day Game,Day Game,0,7,2,Sunday,Saturday,62,10,Overcast,4.333333,1

In [45]:
#splitting data based on type
train_numerical_data=train_input[['previous_attendance','previous_away_team_errors','previous_away_team_hits','previous_away_team_runs',
                                  'previous_home_team_errors','previous_home_team_hits','previous_home_team_runs','temperature','wind_speed','previous_game_duration']]
train_binary_data=train_input[['previous_homewin']]
train_categorical_data=train_input[['game_type','previous_game_type','game_day','previous_game_day','sky']]

In [46]:
#numercial value Process
#imputation of numerical values
from sklearn.impute import SimpleImputer
imputer=SimpleImputer(strategy="mean")
train_numeric_imputedData=imputer.fit_transform(train_numerical_data)

In [47]:
train_numeric_imputedData

array([[3.59170000e+04, 1.00000000e+00, 7.00000000e+00, ...,
        7.40000000e+01, 1.00000000e+01, 2.53333333e+00],
       [3.80890000e+04, 0.00000000e+00, 7.00000000e+00, ...,
        7.90000000e+01, 1.20000000e+01, 3.21666667e+00],
       [9.89000000e+03, 1.00000000e+00, 3.00000000e+00, ...,
        6.40000000e+01, 3.00000000e+00, 2.80000000e+00],
       ...,
       [3.21340000e+04, 1.00000000e+00, 7.00000000e+00, ...,
        8.40000000e+01, 1.10000000e+01, 3.03333333e+00],
       [1.53650000e+04, 2.00000000e+00, 1.40000000e+01, ...,
        5.40000000e+01, 1.20000000e+01, 3.61666667e+00],
       [4.15900000e+04, 0.00000000e+00, 1.20000000e+01, ...,
        6.20000000e+01, 1.00000000e+01, 4.33333333e+00]])

In [48]:
#standerdizing values
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
train_numeric_StanderdizedData=scaler.fit_transform(train_numeric_imputedData)

In [49]:
train_numeric_StanderdizedData

array([[ 0.54239575,  0.54524692, -0.4930472 , ...,  0.01073514,
         0.5046221 , -1.20309674],
       [ 0.76268804, -0.72649658, -0.4930472 , ...,  0.48542964,
         0.90278583,  0.28934261],
       [-2.09735899,  0.54524692, -1.65059181, ..., -0.93865386,
        -0.88895093, -0.62068138],
       ...,
       [ 0.15870988,  0.54524692, -0.4930472 , ...,  0.96012414,
         0.70370397, -0.11106795],
       [-1.54206421,  1.81699043,  1.53265587, ..., -1.88804286,
         0.90278583,  1.16296565],
       [ 1.11777242, -0.72649658,  0.95388357, ..., -1.12853166,
         0.5046221 ,  2.72820692]])

In [51]:
#Back to pandas(Numerics)
train_numeric_DataDF=pd.DataFrame(train_numeric_StanderdizedData,columns=train_numerical_data.columns).reset_index(drop=True)
train_numeric_DataDF.head()

,previous_attendance,previous_away_team_errors,previous_away_team_hits,previous_away_team_runs,previous_home_team_errors,previous_home_team_hits,previous_home_team_runs,temperature,wind_speed,previous_game_duration
0,0.542396,0.545247,-0.493047,-0.436210,-0.717336,1.274323,1.131166,0.010735,0.504622,-1.203097
1,0.762688,-0.726497,-0.493047,-0.436210,0.528100,0.110989,0.156841,0.485430,0.902786,0.289343
2,-2.097359,0.545247,-1.650592,-0.765990,0.528100,-1.343177,-1.142260,-0.938654,-0.888951,-0.620681
3,0.737636,0.545247,0.664497,-0.106431,-0.717336,-0.470677,-0.492710,0.105674,1.898195,-0.365875
4,-0.607242,-0.726497,-1.071820,-1.095769,-0.717336,-1.343177,-0.492710,0.010735,-1.486197,-0.948290

In [52]:
#Processing Categorical
train_categorical_data.isna().sum()
#I believe no need to process categorical in this case as there are no null values, NIC please confirm.

game_type             0
previous_game_type    0
game_day              0
previous_game_day     0
sky                   0
dtype: int64

In [53]:
#Categorical back to pandas
train_categorical_DataDF=pd.DataFrame(train_categorical_data,columns=train_categorical_data.columns).reset_index(drop=True)
train_categorical_DataDF

       game_type previous_game_type   game_day previous_game_day       sky
0     Night Game         Night Game  Wednesday           Tuesday  Overcast
1     Night Game         Night Game  Wednesday           Tuesday   Unknown
2       Day Game         Night Game   Thursday         Wednesday      Rain
3     Night Game           Day Game    Tuesday         Wednesday    Cloudy
4     Night Game         Night Game     Friday          Thursday   In Dome
...          ...                ...        ...               ...       ...
1693  Night Game           Day Game     Monday            Sunday   Unknown
1694    Day Game         Night Game     Sunday          Saturday    Cloudy
1695    Day Game         Night Game     Sunday          Saturday     Sunny
1696    Day Game         Night Game   Saturday            Friday     Sunny
1697    Day Game           Day Game     Sunday          Saturday  Overcast

[1698 rows x 5 columns]

In [54]:
#One hard encoding to categorical values
from sklearn.preprocessing import OneHotEncoder
encoder=OneHotEncoder()
train_categorical_data_Encoded=encoder.fit_transform(train_categorical_DataDF)
train_categorical_data_Encoded.toarray()

array([[0., 1., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 1.],
       [1., 0., 0., ..., 1., 0., 0.],
       ...,
       [1., 0., 0., ..., 0., 1., 0.],
       [1., 0., 0., ..., 0., 1., 0.],
       [1., 0., 1., ..., 0., 0., 0.]])

In [55]:
encoder.categories_

[array(['Day Game', 'Night Game'], dtype=object),
 array(['Day Game', 'Night Game'], dtype=object),
 array(['Friday', 'Monday', 'Saturday', 'Sunday', 'Thursday', 'Tuesday',
        'Wednesday'], dtype=object),
 array(['Friday', 'Monday', 'Saturday', 'Sunday', 'Thursday', 'Tuesday',
        'Wednesday'], dtype=object),
 array(['Cloudy', 'Drizzle', 'In Dome', 'Night', 'Overcast', 'Rain',
        'Sunny', 'Unknown'], dtype=object)]

In [56]:
OneHotEncoder_column_names=[item for sublist in encoder.categories_ for item in sublist]
OneHotEncoder_column_names

['Day Game',
 'Night Game',
 'Day Game',
 'Night Game',
 'Friday',
 'Monday',
 'Saturday',
 'Sunday',
 'Thursday',
 'Tuesday',
 'Wednesday',
 'Friday',
 'Monday',
 'Saturday',
 'Sunday',
 'Thursday',
 'Tuesday',
 'Wednesday',
 'Cloudy',
 'Drizzle',
 'In Dome',
 'Night',
 'Overcast',
 'Rain',
 'Sunny',
 'Unknown']

In [57]:
#back to pandas
train_categorical_data_Encoded_DF=pd.DataFrame(train_categorical_data_Encoded.toarray(),
                                               columns=OneHotEncoder_column_names).reset_index(drop=True)
train_categorical_data_Encoded_DF

,Day Game,Night Game,Day Game,Night Game,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,...,Tuesday,Wednesday,Cloudy,Drizzle,In Dome,Night,Overcast,Rain,Sunny,Unknown
0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1693,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1694,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1695,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1696,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1697,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [58]:
#Concatinate all Train Data
Train_Data_Final=pd.concat((train_numeric_DataDF.reset_index(drop=True),train_categorical_data_Encoded_DF.reset_index(drop=True)
                           ,train_binary_data.reset_index(drop=True)),axis=1)
Train_Data_Final

,previous_attendance,previous_away_team_errors,previous_away_team_hits,previous_away_team_runs,previous_home_team_errors,previous_home_team_hits,previous_home_team_runs,temperature,wind_speed,previous_game_duration,...,Wednesday,Cloudy,Drizzle,In Dome,Night,Overcast,Rain,Sunny,Unknown,previous_homewin
0,0.542396,0.545247,-0.493047,-0.436210,-0.717336,1.274323,1.131166,0.010735,0.504622,-1.203097,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1
1,0.762688,-0.726497,-0.493047,-0.436210,0.528100,0.110989,0.156841,0.485430,0.902786,0.289343,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1
2,-2.097359,0.545247,-1.650592,-0.765990,0.528100,-1.343177,-1.142260,-0.938654,-0.888951,-0.620681,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0
3,0.737636,0.545247,0.664497,-0.106431,-0.717336,-0.470677,-0.492710,0.105674,1.898195,-0.365875,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4,-0.607242,-0.726497,-1.071820,-1.095769,-0.717336,-1.343177,-0.492710,0.010735,-1.486197,-0.948290,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1693,0.156580,0.545247,1.243270,1.872247,-0.717336,0.401823,-0.492710,0.200613,-0.689869,0.216541,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0
1694,0.925169,-0.726497,0.953884,2.202026,-0.717336,-0.761511,-0.817485,1.814574,-0.092623,-0.475078,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1695,0.158710,0.545247,-0.493047,-0.106431,-0.717336,-0.470677,-0.492710,0.960124,0.703704,-0.111068,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0
1696,-1.542064,1.816990,1.532656,0.553128,0.528100,1.565156,0.156841,-1.888043,0.902786,1.162966,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0
1697,1.117772,-0.726497,0.953884,-1.095769,-0.717336,-0.470677,-0.817485,-1.128532,0.504622,2.728207,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1

In [59]:
test_numerical_data=test_input[['previous_attendance','previous_away_team_errors','previous_away_team_hits','previous_away_team_runs',
                                  'previous_home_team_errors','previous_home_team_hits','previous_home_team_runs','temperature','wind_speed','previous_game_duration']]
test_binary_data=test_input[['previous_homewin']]
test_categorical_data=test_input[['game_type','previous_game_type','game_day','previous_game_day','sky']]

In [60]:
#processing numerical test data
test_numeric_imputedData=imputer.transform(test_numerical_data)
test_numeric_imputedData

array([[3.77790000e+04, 0.00000000e+00, 1.50000000e+01, ...,
        9.40000000e+01, 1.40000000e+01, 4.25000000e+00],
       [2.86160000e+04, 2.00000000e+00, 6.00000000e+00, ...,
        7.60000000e+01, 5.00000000e+00, 2.91666667e+00],
       [3.16350000e+04, 0.00000000e+00, 4.00000000e+00, ...,
        7.30000000e+01, 2.00000000e+00, 3.05000000e+00],
       ...,
       [4.62060000e+04, 4.00000000e+00, 7.00000000e+00, ...,
        7.00000000e+01, 5.00000000e+00, 3.00000000e+00],
       [4.07250000e+04, 0.00000000e+00, 6.00000000e+00, ...,
        6.10000000e+01, 1.60000000e+01, 3.05000000e+00],
       [4.36900000e+04, 0.00000000e+00, 7.00000000e+00, ...,
        6.50000000e+01, 4.00000000e+00, 2.98333333e+00]])

In [61]:
#Standerdizing the numerical values
test_numeric_standerdizedData=scaler.transform(test_numeric_imputedData)
test_numeric_standerdizedData

array([[ 0.73124669, -0.72649658,  1.82204202, ...,  1.90951315,
         1.30094955,  2.54620212],
       [-0.19809871,  1.81699043, -0.78243335, ...,  0.20061294,
        -0.49078721, -0.36587466],
       [ 0.10809945, -0.72649658, -1.36120565, ..., -0.08420376,
        -1.08803279, -0.07466699],
       ...,
       [ 1.58594424,  4.36047743, -0.4930472 , ..., -0.36902046,
        -0.49078721, -0.18386987],
       [ 1.03004092, -0.72649658, -0.78243335, ..., -1.22347056,
         1.69911328, -0.07466699],
       [ 1.3307622 , -0.72649658, -0.4930472 , ..., -0.84371496,
        -0.68986907, -0.22027083]])

In [62]:
#convert numeric to pandas
test_numeric_DataDF=pd.DataFrame(test_numeric_standerdizedData,columns=test_numerical_data.columns).reset_index(drop=True)
test_numeric_DataDF.head()

,previous_attendance,previous_away_team_errors,previous_away_team_hits,previous_away_team_runs,previous_home_team_errors,previous_home_team_hits,previous_home_team_runs,temperature,wind_speed,previous_game_duration
0,0.731247,-0.726497,1.822042,1.542467,-0.717336,0.110989,-0.167934,1.909513,1.300950,2.546202
1,-0.198099,1.816990,-0.782433,-0.436210,1.773536,-1.052344,-0.817485,0.200613,-0.490787,-0.365875
2,0.108099,-0.726497,-1.361206,-1.095769,0.528100,-0.470677,-0.817485,-0.084204,-1.088033,-0.074667
3,-0.472551,-0.726497,0.664497,0.223349,1.773536,0.401823,0.481616,0.580369,-0.092623,1.381371
4,0.667755,-0.726497,-0.203661,0.223349,0.528100,0.110989,0.806391,-0.179143,0.902786,0.798956

In [63]:
#Processing Categorical Test Data
test_categorical_data.isna().sum()

game_type             0
previous_game_type    0
game_day              0
previous_game_day     0
sky                   0
dtype: int64

In [64]:
#No null values in categorical data, hence converting back into pandas
test_categorical_dataDF=pd.DataFrame(test_categorical_data,columns=test_categorical_data.columns).reset_index(drop=True)
test_categorical_dataDF

      game_type previous_game_type   game_day previous_game_day       sky
0    Night Game         Night Game   Thursday         Wednesday    Cloudy
1    Night Game           Day Game     Monday            Sunday    Cloudy
2      Day Game           Day Game     Sunday          Saturday  Overcast
3    Night Game           Day Game     Monday            Sunday     Sunny
4    Night Game         Night Game   Saturday            Friday   Unknown
..          ...                ...        ...               ...       ...
724    Day Game         Night Game  Wednesday           Tuesday   Unknown
725  Night Game         Night Game  Wednesday           Tuesday   In Dome
726  Night Game           Day Game     Monday            Sunday   Unknown
727    Day Game         Night Game   Thursday         Wednesday    Cloudy
728  Night Game           Day Game   Thursday            Sunday   Unknown

[729 rows x 5 columns]

In [65]:
#One Hot Encoding test categorical data
test_categorical_data_Encoded=encoder.transform(test_categorical_dataDF)
test_categorical_data_Encoded.toarray()

array([[0., 1., 0., ..., 0., 0., 0.],
       [0., 1., 1., ..., 0., 0., 0.],
       [1., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 1., 1., ..., 0., 0., 1.],
       [1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 1., ..., 0., 0., 1.]])

In [66]:
#Back to pandas
test_categorical_data_Encoded_DF=pd.DataFrame(test_categorical_data_Encoded.toarray(),
                                               columns=OneHotEncoder_column_names).reset_index(drop=True)
test_categorical_data_Encoded_DF

,Day Game,Night Game,Day Game,Night Game,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,...,Tuesday,Wednesday,Cloudy,Drizzle,In Dome,Night,Overcast,Rain,Sunny,Unknown
0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
724,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
725,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
726,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
727,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
728,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [67]:
#Concatinate all to one DataFrame
test_Final_Data=pd.concat((test_numeric_DataDF.reset_index(drop=True),test_categorical_data_Encoded_DF.reset_index(drop=True),
                           test_binary_data.reset_index(drop=True)),axis=1)
test_Final_Data

,previous_attendance,previous_away_team_errors,previous_away_team_hits,previous_away_team_runs,previous_home_team_errors,previous_home_team_hits,previous_home_team_runs,temperature,wind_speed,previous_game_duration,...,Wednesday,Cloudy,Drizzle,In Dome,Night,Overcast,Rain,Sunny,Unknown,previous_homewin
0,0.731247,-0.726497,1.822042,1.542467,-0.717336,0.110989,-0.167934,1.909513,1.300950,2.546202,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,-0.198099,1.816990,-0.782433,-0.436210,1.773536,-1.052344,-0.817485,0.200613,-0.490787,-0.365875,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2,0.108099,-0.726497,-1.361206,-1.095769,0.528100,-0.470677,-0.817485,-0.084204,-1.088033,-0.074667,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1
3,-0.472551,-0.726497,0.664497,0.223349,1.773536,0.401823,0.481616,0.580369,-0.092623,1.381371,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1
4,0.667755,-0.726497,-0.203661,0.223349,0.528100,0.110989,0.806391,-0.179143,0.902786,0.798956,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
724,-1.873923,-0.726497,-1.650592,-1.425549,-0.717336,0.110989,0.156841,-0.748776,0.703704,-0.693483,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1
725,-1.985996,-0.726497,0.085725,-1.095769,-0.717336,-0.470677,-0.492710,-0.179143,-1.486197,-0.766285,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1
726,1.585944,4.360477,-0.493047,-0.106431,-0.717336,1.565156,2.105492,-0.369020,-0.490787,-0.183870,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1
727,1.030041,-0.726497,-0.782433,-0.106431,-0.717336,0.401823,0.156841,-1.223471,1.699113,-0.074667,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
728,1.330762,-0.726497,-0.493047,-0.436210,0.528100,0.983490,2.105492,-0.843715,-0.689869,-0.220271,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1

## Find the Baseline (0.5 point)

In [70]:
train_target.value_counts()

attendance_binary
1                    0.530035
0                    0.469965
dtype: float64

In [69]:
train_target.value_counts()/len(train_target)

attendance_binary
1                    0.530035
0                    0.469965
dtype: float64

In [73]:
#Linear SVC
from sklearn.svm import LinearSVC
svm_clf = LinearSVC(C=10)
svm_clf.fit(train_input, train_target)

ValueError: could not convert string to float: 'Night Game'

# Section 2: (3 points in total)

Build three different SVM models (by changing the kernels, regularization, etc.). Generate their training and test values. Each model is worth 1 point. 

(Add cells as needed)

## SVM Model 1:

## SVM Model 2:

## SVM Model 3:

# Section 3: (3 points in total)

Build two different SGD models (by changing the penalty, etc. or adding polynomial terms) and one LogisticRregression model. Generate their training and test values. Each model is worth 1 point.

(Add cells as needed)

## SGD Model 1:

## SGD Model 2:

## LogisticRegression Model:

# Discussion (3 points in total)

## List the train and test values of each model you built (1 point)

## Which model performs the best and why? (0.5 points) How does it compare to baseline? (0.5 points)

Hint: The best model is the one that has the highest TEST score (regardless of any of the training values). If you select your model based on TRAIN values, you will lose points.

## Is there any evidence of overfitting in the best model, why or why not? If there is, what did you do about it? (0.5 points)

## Is there any evidence of overfitting in the other models (besides the best model), why or why not? If there is, what did you do about it? (0.5 points)