# Group work - Classification

In this assignment, we will focus on sports analytics. This data set is made available by http://www.baseball-reference.com. It contains data about professional baseball (MLB) games played in the 2016 season. There are 2,427 games in the data set. Each row represents a single game. The goal is to predict the attendance at a home team’s game. This is an important task because most franchises want to predict the number of attendees for a variety of reasons including profits.

## Description of Variables

The description of variables are provided in "Baseball - Data Dictionary.docx"

## Goal

Use the **baseball.csv** data set and build a model to predict **attendance_binary**.

## Submission:

Please save and submit this Jupyter notebook file. The correctness of the code matters for your grade. **Readability and organization of your code is also important.** You may lose points for submitting unreadable/undecipherable code. Therefore, use markdown cells to create sections, and use comments where necessary.

## Recommended roles for group members:

**Section 1:** to be completed by both group members

**Section 2:** to be completed by the first group member and checked by the second

**Section 3:** to be completed by the second group member and checked by the first

**Important notes:**
- Both group members will get the same grade. Therefore, you should check the work of your group member. If they make a mistake, you will be responsible for that mistake too.
- Both group members must put in their fair share of effort. Otherwise, those who don't contribute to the assignment will not receive any grade.

# Section 1: (6 points in total)

## Data Prep (5.5 points)

In [101]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [102]:
data_frame = pd.read_csv('baseball.csv')
data_frame.head()

,attendance_binary,previous_attendance,previous_away_team_errors,previous_away_team_hits,previous_away_team_runs,game_type,previous_game_type,previous_home_team_errors,previous_home_team_hits,previous_home_team_runs,game_day,previous_game_day,temperature,wind_speed,sky,previous_game_duration,previous_homewin
0,0,43683,2,6,2,Night Game,Day Game,0,6,6,Wednesday,Monday,55,24,Overcast,2.933333,1
1,0,45785,0,7,2,Night Game,Day Game,0,10,3,Wednesday,Monday,48,7,Unknown,2.800000,1
2,0,48282,0,8,4,Night Game,Day Game,2,4,3,Wednesday,Monday,65,10,Cloudy,3.383333,0
3,0,21830,0,9,6,Day Game,Night Game,0,15,11,Wednesday,Tuesday,77,0,In Dome,3.233333,1
4,0,49289,2,4,2,Night Game,Day Game,1,1,3,Tuesday,Monday,81,12,Cloudy,2.633333,1

In [103]:
train_set, test_set = train_test_split(data_frame, test_size=0.3)
train_set.head()

,attendance_binary,previous_attendance,previous_away_team_errors,previous_away_team_hits,previous_away_team_runs,game_type,previous_game_type,previous_home_team_errors,previous_home_team_hits,previous_home_team_runs,game_day,previous_game_day,temperature,wind_speed,sky,previous_game_duration,previous_homewin
1799,0,30608,0,17,11,Night Game,Day Game,0,11,8,Tuesday,Monday,64,7,Unknown,3.416667,0
1076,1,48339,1,10,5,Night Game,Night Game,2,9,9,Thursday,Wednesday,77,7,Sunny,3.033333,1
474,0,20543,0,9,2,Night Game,Night Game,0,6,1,Saturday,Friday,72,0,In Dome,2.866667,0
1523,0,29986,1,9,5,Night Game,Day Game,0,5,3,Friday,Thursday,80,7,Cloudy,3.066667,0
999,1,25188,1,13,2,Night Game,Night Game,0,12,3,Thursday,Wednesday,94,13,Sunny,4.566667,1

In [104]:
test_set.head()

,attendance_binary,previous_attendance,previous_away_team_errors,previous_away_team_hits,previous_away_team_runs,game_type,previous_game_type,previous_home_team_errors,previous_home_team_hits,previous_home_team_runs,game_day,previous_game_day,temperature,wind_speed,sky,previous_game_duration,previous_homewin
1169,0,26690,0,7,2,Night Game,Night Game,1,5,0,Wednesday,Tuesday,73,9,Overcast,2.383333,0
1594,1,44998,1,12,2,Night Game,Night Game,0,8,3,Saturday,Friday,81,5,Cloudy,3.616667,1
2417,0,26049,1,8,5,Night Game,Night Game,2,12,6,Wednesday,Tuesday,63,15,Cloudy,3.450000,1
147,1,29293,0,9,2,Night Game,Night Game,0,9,3,Wednesday,Tuesday,97,4,Sunny,2.916667,1
1285,1,38861,1,6,0,Day Game,Night Game,0,10,6,Sunday,Saturday,87,4,Cloudy,2.600000,1

In [105]:
## Checking Null values counts per column
train_set.dtypes

attendance_binary              int64
previous_attendance            int64
previous_away_team_errors      int64
previous_away_team_hits        int64
previous_away_team_runs        int64
game_type                     object
previous_game_type            object
previous_home_team_errors      int64
previous_home_team_hits        int64
previous_home_team_runs        int64
game_day                      object
previous_game_day             object
temperature                    int64
wind_speed                     int64
sky                           object
previous_game_duration       float64
previous_homewin               int64
dtype: object

In [106]:
for item in train_set.dtypes:
    print(item)

int64
int64
int64
int64
int64
object
object
int64
int64
int64
object
object
int64
int64
object
float64
int64

In [107]:
# check for quantity of Null Values
test_set.isnull().sum()

attendance_binary            0
previous_attendance          0
previous_away_team_errors    0
previous_away_team_hits      0
previous_away_team_runs      0
game_type                    0
previous_game_type           0
previous_home_team_errors    0
previous_home_team_hits      0
previous_home_team_runs      0
game_day                     0
previous_game_day            0
temperature                  0
wind_speed                   0
sky                          0
previous_game_duration       0
previous_homewin             0
dtype: int64

In [108]:
# Checking for null values in the train split
train_set.isnull().sum()

attendance_binary            0
previous_attendance          0
previous_away_team_errors    0
previous_away_team_hits      0
previous_away_team_runs      0
game_type                    0
previous_game_type           0
previous_home_team_errors    0
previous_home_team_hits      0
previous_home_team_runs      0
game_day                     0
previous_game_day            0
temperature                  0
wind_speed                   0
sky                          0
previous_game_duration       0
previous_homewin             0
dtype: int64

In [109]:
# Verifying the split has been done correctly
print(train_set.shape)
print(test_set.shape)

(1698, 17)
(729, 17)

In [110]:
# Gathering cols in a separate list
my_cols = list(data_frame.columns)
my_cols

['attendance_binary',
 'previous_attendance',
 'previous_away_team_errors',
 'previous_away_team_hits',
 'previous_away_team_runs',
 'game_type',
 'previous_game_type',
 'previous_home_team_errors',
 'previous_home_team_hits',
 'previous_home_team_runs',
 'game_day',
 'previous_game_day',
 'temperature',
 'wind_speed',
 'sky',
 'previous_game_duration',
 'previous_homewin']

In [111]:
# Verifying cols quantity
len(my_cols)

17

In [112]:
# Separating target variable into a separate data frame
train_target = train_set[[my_cols[0]]]
train_target

      attendance_binary
1799                  0
1076                  1
474                   0
1523                  0
999                   1
...                 ...
1391                  0
1602                  1
112                   0
37                    1
1993                  1

[1698 rows x 1 columns]

In [113]:
test_target = test_set[[my_cols[0]]]
test_target

      attendance_binary
1169                  0
1594                  1
2417                  0
147                   1
1285                  1
...                 ...
2007                  1
1565                  0
267                   1
63                    1
1392                  1

[729 rows x 1 columns]

In [114]:
# Split target variable from the data frames
train_input = train_set.drop([my_cols[0]], axis=1)
test_input = test_set.drop([my_cols[0]], axis=1)
print(train_input.shape, test_input.shape, sep='\n')

(1698, 16)
(729, 16)

In [115]:
train_input

,previous_attendance,previous_away_team_errors,previous_away_team_hits,previous_away_team_runs,game_type,previous_game_type,previous_home_team_errors,previous_home_team_hits,previous_home_team_runs,game_day,previous_game_day,temperature,wind_speed,sky,previous_game_duration,previous_homewin
1799,30608,0,17,11,Night Game,Day Game,0,11,8,Tuesday,Monday,64,7,Unknown,3.416667,0
1076,48339,1,10,5,Night Game,Night Game,2,9,9,Thursday,Wednesday,77,7,Sunny,3.033333,1
474,20543,0,9,2,Night Game,Night Game,0,6,1,Saturday,Friday,72,0,In Dome,2.866667,0
1523,29986,1,9,5,Night Game,Day Game,0,5,3,Friday,Thursday,80,7,Cloudy,3.066667,0
999,25188,1,13,2,Night Game,Night Game,0,12,3,Thursday,Wednesday,94,13,Sunny,4.566667,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1391,37328,0,3,1,Day Game,Day Game,0,15,12,Monday,Sunday,72,2,Overcast,3.133333,1
1602,42008,0,9,4,Night Game,Night Game,0,8,1,Friday,Wednesday,85,11,Sunny,2.933333,0
112,23612,1,10,7,Night Game,Night Game,2,7,2,Thursday,Wednesday,81,5,Cloudy,2.833333,0
37,22113,0,7,1,Night Game,Day Game,0,7,2,Monday,Wednesday,64,8,Cloudy,2.883333,1
1993,32174,1,5,3,Day Game,Night Game,0,11,9,Sunday,Saturday,54,7,Cloudy,2.733333,1

In [116]:
#splitting data based on type
train_numerical_data=train_input[['previous_attendance','previous_away_team_errors','previous_away_team_hits','previous_away_team_runs',
                                  'previous_home_team_errors','previous_home_team_hits','previous_home_team_runs','temperature','wind_speed','previous_game_duration']]
train_binary_data=train_input[['previous_homewin']]
train_categorical_data=train_input[['game_type','previous_game_type','game_day','previous_game_day','sky']]

In [117]:
#numercial value Process
#imputation of numerical values
from sklearn.impute import SimpleImputer
imputer=SimpleImputer(strategy="mean")
train_numeric_imputedData=imputer.fit_transform(train_numerical_data)

In [118]:
train_numeric_imputedData

array([[3.06080000e+04, 0.00000000e+00, 1.70000000e+01, ...,
        6.40000000e+01, 7.00000000e+00, 3.41666667e+00],
       [4.83390000e+04, 1.00000000e+00, 1.00000000e+01, ...,
        7.70000000e+01, 7.00000000e+00, 3.03333333e+00],
       [2.05430000e+04, 0.00000000e+00, 9.00000000e+00, ...,
        7.20000000e+01, 0.00000000e+00, 2.86666667e+00],
       ...,
       [2.36120000e+04, 1.00000000e+00, 1.00000000e+01, ...,
        8.10000000e+01, 5.00000000e+00, 2.83333333e+00],
       [2.21130000e+04, 0.00000000e+00, 7.00000000e+00, ...,
        6.40000000e+01, 8.00000000e+00, 2.88333333e+00],
       [3.21740000e+04, 1.00000000e+00, 5.00000000e+00, ...,
        5.40000000e+01, 7.00000000e+00, 2.73333333e+00]])

In [119]:
#standerdizing values
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
train_numeric_StanderdizedData=scaler.fit_transform(train_numeric_imputedData)

In [120]:
train_numeric_StanderdizedData

array([[ 0.03040394, -0.72140892,  2.26379747, ..., -0.96890869,
        -0.0974024 ,  0.72805875],
       [ 1.84781403,  0.57209936,  0.32059701, ...,  0.2863848 ,
        -0.0974024 , -0.11833068],
       [-1.00124868, -0.72140892,  0.04299695, ..., -0.19642039,
        -1.49562093, -0.48632608],
       ...,
       [-0.68667919,  0.57209936,  0.32059701, ...,  0.67262895,
        -0.49689341, -0.55992516],
       [-0.84032522, -0.72140892, -0.51220318, ..., -0.96890869,
         0.1023431 , -0.44952654],
       [ 0.1909174 ,  0.57209936, -1.06740331, ..., -1.93451907,
        -0.0974024 , -0.78072241]])

In [121]:
#Back to pandas(Numerics)
train_numeric_DataDF=pd.DataFrame(train_numeric_StanderdizedData,columns=train_numerical_data.columns).reset_index(drop=True)
train_numeric_DataDF.head()

,previous_attendance,previous_away_team_errors,previous_away_team_hits,previous_away_team_runs,previous_home_team_errors,previous_home_team_hits,previous_home_team_runs,temperature,wind_speed,previous_game_duration
0,0.030404,-0.721409,2.263797,2.070802,-0.731096,0.697536,1.107958,-0.968909,-0.097402,0.728059
1,1.847814,0.572099,0.320597,0.164991,1.719844,0.119067,1.425211,0.286385,-0.097402,-0.118331
2,-1.001249,-0.721409,0.042997,-0.787915,-0.731096,-0.748637,-1.112815,-0.196420,-1.495621,-0.486326
3,-0.033350,0.572099,0.042997,0.164991,-0.731096,-1.037872,-0.478309,0.576068,-0.097402,-0.044732
4,-0.525141,0.572099,1.153397,-0.787915,-0.731096,0.986770,-0.478309,1.927922,1.101071,3.267227

In [122]:
#Processing Categorical
train_categorical_data.isna().sum()
#I believe no need to process categorical in this case as there are no null values, NIC please confirm.

game_type             0
previous_game_type    0
game_day              0
previous_game_day     0
sky                   0
dtype: int64

In [123]:
#Categorical back to pandas
train_categorical_DataDF=pd.DataFrame(train_categorical_data,columns=train_categorical_data.columns).reset_index(drop=True)
train_categorical_DataDF

       game_type previous_game_type  game_day previous_game_day       sky
0     Night Game           Day Game   Tuesday            Monday   Unknown
1     Night Game         Night Game  Thursday         Wednesday     Sunny
2     Night Game         Night Game  Saturday            Friday   In Dome
3     Night Game           Day Game    Friday          Thursday    Cloudy
4     Night Game         Night Game  Thursday         Wednesday     Sunny
...          ...                ...       ...               ...       ...
1693    Day Game           Day Game    Monday            Sunday  Overcast
1694  Night Game         Night Game    Friday         Wednesday     Sunny
1695  Night Game         Night Game  Thursday         Wednesday    Cloudy
1696  Night Game           Day Game    Monday         Wednesday    Cloudy
1697    Day Game         Night Game    Sunday          Saturday    Cloudy

[1698 rows x 5 columns]

In [124]:
#One hard encoding to categorical values
from sklearn.preprocessing import OneHotEncoder
encoder=OneHotEncoder()
train_categorical_data_Encoded=encoder.fit_transform(train_categorical_DataDF)
train_categorical_data_Encoded.toarray()

array([[0., 1., 1., ..., 0., 0., 1.],
       [0., 1., 0., ..., 0., 1., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       ...,
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 1., 1., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.]])

In [125]:
encoder.categories_

[array(['Day Game', 'Night Game'], dtype=object),
 array(['Day Game', 'Night Game'], dtype=object),
 array(['Friday', 'Monday', 'Saturday', 'Sunday', 'Thursday', 'Tuesday',
        'Wednesday'], dtype=object),
 array(['Friday', 'Monday', 'Saturday', 'Sunday', 'Thursday', 'Tuesday',
        'Wednesday'], dtype=object),
 array(['Cloudy', 'Drizzle', 'In Dome', 'Night', 'Overcast', 'Rain',
        'Sunny', 'Unknown'], dtype=object)]

In [126]:
OneHotEncoder_column_names=[item for sublist in encoder.categories_ for item in sublist]
OneHotEncoder_column_names

['Day Game',
 'Night Game',
 'Day Game',
 'Night Game',
 'Friday',
 'Monday',
 'Saturday',
 'Sunday',
 'Thursday',
 'Tuesday',
 'Wednesday',
 'Friday',
 'Monday',
 'Saturday',
 'Sunday',
 'Thursday',
 'Tuesday',
 'Wednesday',
 'Cloudy',
 'Drizzle',
 'In Dome',
 'Night',
 'Overcast',
 'Rain',
 'Sunny',
 'Unknown']

In [127]:
#back to pandas
train_categorical_data_Encoded_DF=pd.DataFrame(train_categorical_data_Encoded.toarray(),
                                               columns=OneHotEncoder_column_names).reset_index(drop=True)
train_categorical_data_Encoded_DF

,Day Game,Night Game,Day Game,Night Game,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,...,Tuesday,Wednesday,Cloudy,Drizzle,In Dome,Night,Overcast,Rain,Sunny,Unknown
0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1693,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1694,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1695,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1696,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1697,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [128]:
#Concatinate all Train Data
train_data_final=pd.concat((train_numeric_DataDF.reset_index(drop=True),train_categorical_data_Encoded_DF.reset_index(drop=True)
                           ,train_binary_data.reset_index(drop=True)),axis=1)
train_data_final

,previous_attendance,previous_away_team_errors,previous_away_team_hits,previous_away_team_runs,previous_home_team_errors,previous_home_team_hits,previous_home_team_runs,temperature,wind_speed,previous_game_duration,...,Wednesday,Cloudy,Drizzle,In Dome,Night,Overcast,Rain,Sunny,Unknown,previous_homewin
0,0.030404,-0.721409,2.263797,2.070802,-0.731096,0.697536,1.107958,-0.968909,-0.097402,0.728059,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0
1,1.847814,0.572099,0.320597,0.164991,1.719844,0.119067,1.425211,0.286385,-0.097402,-0.118331,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1
2,-1.001249,-0.721409,0.042997,-0.787915,-0.731096,-0.748637,-1.112815,-0.196420,-1.495621,-0.486326,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0
3,-0.033350,0.572099,0.042997,0.164991,-0.731096,-1.037872,-0.478309,0.576068,-0.097402,-0.044732,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4,-0.525141,0.572099,1.153397,-0.787915,-0.731096,0.986770,-0.478309,1.927922,1.101071,3.267227,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1693,0.719197,-0.721409,-1.622603,-1.105550,-0.731096,1.854474,2.376971,-0.196420,-1.096130,0.102467,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1
1694,1.198893,-0.721409,0.042997,-0.152644,-0.731096,-0.170168,-1.112815,1.058873,0.701580,-0.339128,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0
1695,-0.686679,0.572099,0.320597,0.800261,1.719844,-0.459403,-0.795562,0.672629,-0.496893,-0.559925,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1696,-0.840325,-0.721409,-0.512203,-1.105550,-0.731096,-0.459403,-0.795562,-0.968909,0.102343,-0.449527,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
1697,0.190917,0.572099,-1.067403,-0.470280,-0.731096,0.697536,1.425211,-1.934519,-0.097402,-0.780722,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1

In [129]:
test_numerical_data=test_input[['previous_attendance','previous_away_team_errors','previous_away_team_hits','previous_away_team_runs',
                                  'previous_home_team_errors','previous_home_team_hits','previous_home_team_runs','temperature','wind_speed','previous_game_duration']]
test_binary_data=test_input[['previous_homewin']]
test_categorical_data=test_input[['game_type','previous_game_type','game_day','previous_game_day','sky']]

In [130]:
#processing numerical test data
test_numeric_imputedData=imputer.transform(test_numerical_data)
test_numeric_imputedData

array([[2.66900000e+04, 0.00000000e+00, 7.00000000e+00, ...,
        7.30000000e+01, 9.00000000e+00, 2.38333333e+00],
       [4.49980000e+04, 1.00000000e+00, 1.20000000e+01, ...,
        8.10000000e+01, 5.00000000e+00, 3.61666667e+00],
       [2.60490000e+04, 1.00000000e+00, 8.00000000e+00, ...,
        6.30000000e+01, 1.50000000e+01, 3.45000000e+00],
       ...,
       [5.32970000e+04, 0.00000000e+00, 8.00000000e+00, ...,
        6.80000000e+01, 7.00000000e+00, 3.03333333e+00],
       [2.54130000e+04, 1.00000000e+00, 5.00000000e+00, ...,
        8.10000000e+01, 1.10000000e+01, 2.76666667e+00],
       [4.59620000e+04, 2.00000000e+00, 5.00000000e+00, ...,
        7.70000000e+01, 4.00000000e+00, 3.16666667e+00]])

In [131]:
#Standerdizing the numerical values
test_numeric_standerdizedData=scaler.transform(test_numeric_imputedData)
test_numeric_standerdizedData

array([[-0.37118722, -0.72140892, -0.51220318, ..., -0.09985935,
         0.30208861, -1.55351276],
       [ 1.50536481,  0.57209936,  0.87579714, ...,  0.67262895,
        -0.49689341,  1.16965324],
       [-0.43688909,  0.57209936, -0.23460312, ..., -1.06546973,
         1.50056163,  0.80165783],
       ...,
       [ 2.35600416, -0.72140892, -0.23460312, ..., -0.58266454,
        -0.0974024 , -0.11833068],
       [-0.50207846,  0.57209936, -1.06740331, ...,  0.67262895,
         0.70157961, -0.70712332],
       [ 1.60417386,  1.86560764, -1.06740331, ...,  0.2863848 ,
        -0.69663891,  0.17606565]])

In [132]:
#convert numeric to pandas
test_numeric_DataDF=pd.DataFrame(test_numeric_standerdizedData,columns=test_numerical_data.columns).reset_index(drop=True)
test_numeric_DataDF.head()

,previous_attendance,previous_away_team_errors,previous_away_team_hits,previous_away_team_runs,previous_home_team_errors,previous_home_team_hits,previous_home_team_runs,temperature,wind_speed,previous_game_duration
0,-0.371187,-0.721409,-0.512203,-0.787915,0.494374,-1.037872,-1.430069,-0.099859,0.302089,-1.553513
1,1.505365,0.572099,0.875797,-0.787915,-0.731096,-0.170168,-0.478309,0.672629,-0.496893,1.169653
2,-0.436889,0.572099,-0.234603,0.164991,1.719844,0.986770,0.473451,-1.065470,1.500562,0.801658
3,-0.104382,-0.721409,0.042997,-0.787915,-0.731096,0.119067,-0.478309,2.217606,-0.696639,-0.375927
4,0.876328,0.572099,-0.789803,-1.423185,-0.731096,0.408301,0.473451,1.251995,-0.696639,-1.075119

In [133]:
#Processing Categorical Test Data
test_categorical_data.isna().sum()

game_type             0
previous_game_type    0
game_day              0
previous_game_day     0
sky                   0
dtype: int64

In [134]:
#No null values in categorical data, hence converting back into pandas
test_categorical_dataDF=pd.DataFrame(test_categorical_data,columns=test_categorical_data.columns).reset_index(drop=True)
test_categorical_dataDF

      game_type previous_game_type   game_day previous_game_day       sky
0    Night Game         Night Game  Wednesday           Tuesday  Overcast
1    Night Game         Night Game   Saturday            Friday    Cloudy
2    Night Game         Night Game  Wednesday           Tuesday    Cloudy
3    Night Game         Night Game  Wednesday           Tuesday     Sunny
4      Day Game         Night Game     Sunday          Saturday    Cloudy
..          ...                ...        ...               ...       ...
724    Day Game           Day Game   Saturday            Friday  Overcast
725  Night Game           Day Game     Monday            Sunday   In Dome
726  Night Game         Night Game     Friday          Thursday     Sunny
727  Night Game         Night Game   Saturday            Friday    Cloudy
728  Night Game           Day Game     Monday            Sunday     Sunny

[729 rows x 5 columns]

In [135]:
#One Hot Encoding test categorical data
test_categorical_data_Encoded=encoder.transform(test_categorical_dataDF)
test_categorical_data_Encoded.toarray()

array([[0., 1., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       ...,
       [0., 1., 0., ..., 0., 1., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 1., 1., ..., 0., 1., 0.]])

In [136]:
#Back to pandas
test_categorical_data_Encoded_DF=pd.DataFrame(test_categorical_data_Encoded.toarray(),
                                               columns=OneHotEncoder_column_names).reset_index(drop=True)
test_categorical_data_Encoded_DF

,Day Game,Night Game,Day Game,Night Game,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,...,Tuesday,Wednesday,Cloudy,Drizzle,In Dome,Night,Overcast,Rain,Sunny,Unknown
0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
724,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
725,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
726,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
727,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
728,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [137]:
#Concatinate all to one DataFrame
test_final_data=pd.concat((test_numeric_DataDF.reset_index(drop=True),test_categorical_data_Encoded_DF.reset_index(drop=True),
                           test_binary_data.reset_index(drop=True)),axis=1)
test_final_data

,previous_attendance,previous_away_team_errors,previous_away_team_hits,previous_away_team_runs,previous_home_team_errors,previous_home_team_hits,previous_home_team_runs,temperature,wind_speed,previous_game_duration,...,Wednesday,Cloudy,Drizzle,In Dome,Night,Overcast,Rain,Sunny,Unknown,previous_homewin
0,-0.371187,-0.721409,-0.512203,-0.787915,0.494374,-1.037872,-1.430069,-0.099859,0.302089,-1.553513,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0
1,1.505365,0.572099,0.875797,-0.787915,-0.731096,-0.170168,-0.478309,0.672629,-0.496893,1.169653,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2,-0.436889,0.572099,-0.234603,0.164991,1.719844,0.986770,0.473451,-1.065470,1.500562,0.801658,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
3,-0.104382,-0.721409,0.042997,-0.787915,-0.731096,0.119067,-0.478309,2.217606,-0.696639,-0.375927,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1
4,0.876328,0.572099,-0.789803,-1.423185,-0.731096,0.408301,0.473451,1.251995,-0.696639,-1.075119,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
724,0.734675,-0.721409,0.598197,-0.152644,0.494374,0.697536,1.425211,-2.900129,1.900053,-0.375927,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1
725,-0.545128,0.572099,-1.900204,-1.423185,-0.731096,-0.170168,-0.478309,0.189824,-1.495621,-0.523126,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1
726,2.356004,-0.721409,-0.234603,-0.152644,0.494374,-2.194810,-1.430069,-0.582665,-0.097402,-0.118331,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0
727,-0.502078,0.572099,-1.067403,-0.470280,-0.731096,-0.170168,0.473451,0.672629,0.701580,-0.707123,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
728,1.604174,1.865608,-1.067403,-1.105550,-0.731096,2.722178,3.963237,0.286385,-0.696639,0.176066,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1

## Find the Baseline (0.5 point)

In [138]:
train_target.value_counts()

attendance_binary
1                    880
0                    818
dtype: int64

In [139]:
train_target.value_counts()/len(train_target)

attendance_binary
1                    0.518257
0                    0.481743
dtype: float64

# Section 2: (3 points in total)

Build three different SVM models (by changing the kernels, regularization, etc.). Generate their training and test values. Each model is worth 1 point. 

(Add cells as needed)

## SVM Model 1:

In [140]:
#Linear SVC
from sklearn.svm import LinearSVC
svm_clf = LinearSVC(C=10)
svm_clf.fit(Train_Data_Final, train_target)

C:\Users\nicol\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\nicol\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\svm\_base.py:1206: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(

LinearSVC(C=10)

In [141]:
from sklearn.metrics import accuracy_score
train_y_pred=svm_clf.predict(train_data_final)
accuracy_score(train_target,train_y_pred)

0.48115429917550057

In [142]:
#Classification Matrix
from sklearn.metrics import confusion_matrix
confusion_matrix(train_target,train_y_pred)

array([[397, 421],
       [460, 420]], dtype=int64)

In [143]:
#classification report
from sklearn.metrics import classification_report
print(classification_report(train_target,train_y_pred))

              precision    recall  f1-score   support

           0       0.46      0.49      0.47       818
           1       0.50      0.48      0.49       880

    accuracy                           0.48      1698
   macro avg       0.48      0.48      0.48      1698
weighted avg       0.48      0.48      0.48      1698

## SVM Model 2:

In [144]:
#Linear SVC with poly=2
from sklearn.preprocessing import PolynomialFeatures
poly_fea=PolynomialFeatures(degree=2,include_bias=False)
train_poly_x=poly_fea.fit_transform(train_data_final)
test_poly_y=poly_fea.transform(test_final_data)
poly_SVM = LinearSVC(C=10)
poly_SVM.fit(train_poly_x,train_target)
#predicting trained values
trained_poly_y_predicted=poly_SVM.predict(train_poly_x)
#accuracy
accuracy_score(train_target,trained_poly_y_predicted)

C:\Users\nicol\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\nicol\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\svm\_base.py:1206: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(

0.8828032979976443

In [145]:
#predict test values
test_poly_y_predicted=poly_SVM.predict(test_poly_y)
#accuracy test 
accuracy_score(test_target,test_poly_y_predicted)

0.7969821673525377

## SVM Model 3:

In [146]:
#rbf kernel
from sklearn.svm import SVC
rbf_kernel_svm=SVC(kernel="rbf",C=10,gamma="scale")
rbf_kernel_svm.fit(train_data_final,train_target)

C:\Users\nicol\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(C=10)

In [147]:
#predicting train values
train_y_predicted_rbf=rbf_kernel_svm.predict(train_data_final)
#Accuracy of train predictions
accuracy_score(train_target,train_y_predicted_rbf)

0.9758539458186102

In [148]:
#predicting test values
test_y_predicted_rbf=rbf_kernel_svm.predict(test_final_data)
#accuracy of test predictions
accuracy_score(test_target,test_y_predicted_rbf)

0.7969821673525377

# Section 3: (3 points in total)

Build two different SGD models (by changing the penalty, etc. or adding polynomial terms) and one LogisticRregression model. Generate their training and test values. Each model is worth 1 point.

(Add cells as needed)

## SGD Model 1:

### SGD Model 1: L2 Penalty

### Loading the Necessary Libraries for SGD analysis

In [149]:
from sklearn.linear_model import SGDClassifier

In [164]:
# Initiating trainer object and fit
sgdc_l2 = SGDClassifier(max_iter=1000, tol=0.1)
sgdc_l2.fit(train_data_final, train_target)

C:\Users\nicol\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SGDClassifier(tol=0.1)

In [165]:
# Training Score
training_score = sgdc_l2.score(train_data_final, train_target)
print(f'Training Score is: {training_score}')

Training Score is: 0.7838633686690224

In [166]:
test_score = sgdc_l2.score(test_final_data, test_target)
print(f'Test Score is: {test_score}')

Test Score is: 0.7901234567901234

In [167]:
# Prediction
target_prediction = sgdc_l2.predict(test_final_data)
confusion_matrix(target_prediction, test_target)

array([[314, 117],
       [ 36, 262]], dtype=int64)

In [168]:
classification_report(target_prediction, test_target)

'              precision    recall  f1-score   support\n\n           0       0.90      0.73      0.80       431\n           1       0.69      0.88      0.77       298\n\n    accuracy                           0.79       729\n   macro avg       0.79      0.80      0.79       729\nweighted avg       0.81      0.79      0.79       729\n'

## SGD Model 2:

## Elasticnet Penalty

In [178]:
# Initiating trainer object and fit
sgdc_elastic = SGDClassifier(max_iter=2000, tol=0.1, penalty='elasticnet')
sgdc_elastic.fit(train_data_final, train_target)

C:\Users\nicol\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SGDClassifier(max_iter=2000, penalty='elasticnet', tol=0.1)

In [179]:
# Training Score
training_score = sgdc_elastic.score(train_data_final, train_target)
print(f'Training Score is: {training_score}')

Training Score is: 0.8286219081272085

In [180]:
test_score = sgdc_elastic.score(test_final_data, test_target)
print(f'Test Score is: {test_score}')

Test Score is: 0.8093278463648834

In [181]:
# Prediction
target_prediction = sgdc_elastic.predict(test_final_data)
confusion_matrix(target_prediction, test_target)

array([[289,  78],
       [ 61, 301]], dtype=int64)

In [182]:
classification_report(target_prediction, test_target)

'              precision    recall  f1-score   support\n\n           0       0.83      0.79      0.81       367\n           1       0.79      0.83      0.81       362\n\n    accuracy                           0.81       729\n   macro avg       0.81      0.81      0.81       729\nweighted avg       0.81      0.81      0.81       729\n'

## LogisticRegression Model:

In [183]:
from sklearn.linear_model import LogisticRegression

In [187]:
logisticReg = LogisticRegression()
logisticReg.fit(train_data_final, train_target)

C:\Users\nicol\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression()

In [188]:
# Training Score
training_score = logisticReg.score(train_data_final, train_target)
print(f'Training Score is: {training_score}')

Training Score is: 0.823321554770318

In [189]:
test_score = logisticReg.score(test_final_data, test_target)
print(f'Test Score is: {test_score}')

Test Score is: 0.8353909465020576

In [190]:
# Prediction
target_prediction = sgdc_elastic.predict(test_final_data)
confusion_matrix(target_prediction, test_target)

array([[289,  78],
       [ 61, 301]], dtype=int64)

In [191]:
classification_report(target_prediction, test_target)

'              precision    recall  f1-score   support\n\n           0       0.83      0.79      0.81       367\n           1       0.79      0.83      0.81       362\n\n    accuracy                           0.81       729\n   macro avg       0.81      0.81      0.81       729\nweighted avg       0.81      0.81      0.81       729\n'

# Discussion (3 points in total)

## List the train and test values of each model you built (1 point)

## Which model performs the best and why? (0.5 points) How does it compare to baseline? (0.5 points)

Hint: The best model is the one that has the highest TEST score (regardless of any of the training values). If you select your model based on TRAIN values, you will lose points.

## Is there any evidence of overfitting in the best model, why or why not? If there is, what did you do about it? (0.5 points)

## Is there any evidence of overfitting in the other models (besides the best model), why or why not? If there is, what did you do about it? (0.5 points)