# Group work - Classification

In this assignment, we will focus on sports analytics. This data set is made available by http://www.baseball-reference.com. It contains data about professional baseball (MLB) games played in the 2016 season. There are 2,427 games in the data set. Each row represents a single game. The goal is to predict the attendance at a home team’s game. This is an important task because most franchises want to predict the number of attendees for a variety of reasons including profits.

## Description of Variables

The description of variables are provided in "Baseball - Data Dictionary.docx"

## Goal

Use the **baseball.csv** data set and build a model to predict **attendance_binary**.

## Submission:

Please save and submit this Jupyter notebook file. The correctness of the code matters for your grade. **Readability and organization of your code is also important.** You may lose points for submitting unreadable/undecipherable code. Therefore, use markdown cells to create sections, and use comments where necessary.

## Recommended roles for group members:

**Section 1:** to be completed by both group members

**Section 2:** to be completed by the first group member and checked by the second

**Section 3:** to be completed by the second group member and checked by the first

**Important notes:**
- Both group members will get the same grade. Therefore, you should check the work of your group member. If they make a mistake, you will be responsible for that mistake too.
- Both group members must put in their fair share of effort. Otherwise, those who don't contribute to the assignment will not receive any grade.

# Section 1: (6 points in total)

## Data Prep (5.5 points)

In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [3]:
data_frame = pd.read_csv('baseball.csv')
data_frame.head()

,attendance_binary,previous_attendance,previous_away_team_errors,previous_away_team_hits,previous_away_team_runs,game_type,previous_game_type,previous_home_team_errors,previous_home_team_hits,previous_home_team_runs,game_day,previous_game_day,temperature,wind_speed,sky,previous_game_duration,previous_homewin
0,0,43683,2,6,2,Night Game,Day Game,0,6,6,Wednesday,Monday,55,24,Overcast,2.933333,1
1,0,45785,0,7,2,Night Game,Day Game,0,10,3,Wednesday,Monday,48,7,Unknown,2.800000,1
2,0,48282,0,8,4,Night Game,Day Game,2,4,3,Wednesday,Monday,65,10,Cloudy,3.383333,0
3,0,21830,0,9,6,Day Game,Night Game,0,15,11,Wednesday,Tuesday,77,0,In Dome,3.233333,1
4,0,49289,2,4,2,Night Game,Day Game,1,1,3,Tuesday,Monday,81,12,Cloudy,2.633333,1

In [4]:
train_set, test_set = train_test_split(data_frame, test_size=0.3)
train_set.head()

,attendance_binary,previous_attendance,previous_away_team_errors,previous_away_team_hits,previous_away_team_runs,game_type,previous_game_type,previous_home_team_errors,previous_home_team_hits,previous_home_team_runs,game_day,previous_game_day,temperature,wind_speed,sky,previous_game_duration,previous_homewin
1391,0,37328,0,3,1,Day Game,Day Game,0,15,12,Monday,Sunday,72,2,Overcast,3.133333,1
2294,0,17621,0,9,6,Night Game,Day Game,2,3,0,Tuesday,Sunday,52,13,Cloudy,2.533333,0
338,1,32121,0,9,2,Night Game,Night Game,0,7,5,Friday,Thursday,69,4,Cloudy,3.300000,1
2244,1,36238,0,3,2,Night Game,Night Game,0,8,4,Friday,Thursday,68,0,In Dome,2.366667,1
688,1,40446,0,7,1,Night Game,Day Game,0,6,2,Tuesday,Monday,72,8,Cloudy,3.016667,1

In [5]:
test_set.head()

,attendance_binary,previous_attendance,previous_away_team_errors,previous_away_team_hits,previous_away_team_runs,game_type,previous_game_type,previous_home_team_errors,previous_home_team_hits,previous_home_team_runs,game_day,previous_game_day,temperature,wind_speed,sky,previous_game_duration,previous_homewin
915,1,40310,0,4,1,Day Game,Night Game,0,8,6,Thursday,Wednesday,84,9,Sunny,2.833333,1
793,1,40309,0,6,0,Night Game,Day Game,0,8,2,Monday,Sunday,81,4,Sunny,2.650000,1
347,1,38091,0,7,0,Night Game,Night Game,0,10,6,Wednesday,Tuesday,43,11,Cloudy,3.616667,1
2180,1,35861,1,4,3,Day Game,Night Game,0,7,4,Thursday,Tuesday,45,12,Overcast,3.150000,1
969,0,20006,0,10,8,Day Game,Night Game,0,14,7,Sunday,Saturday,75,0,In Dome,3.383333,0

In [6]:
## Checking Null values counts per column
train_set.dtypes

attendance_binary              int64
previous_attendance            int64
previous_away_team_errors      int64
previous_away_team_hits        int64
previous_away_team_runs        int64
game_type                     object
previous_game_type            object
previous_home_team_errors      int64
previous_home_team_hits        int64
previous_home_team_runs        int64
game_day                      object
previous_game_day             object
temperature                    int64
wind_speed                     int64
sky                           object
previous_game_duration       float64
previous_homewin               int64
dtype: object

In [7]:
for item in train_set.dtypes:
    print(item)

int64
int64
int64
int64
int64
object
object
int64
int64
int64
object
object
int64
int64
object
float64
int64

In [8]:
# check for quantity of Null Values
test_set.isnull().sum()

attendance_binary            0
previous_attendance          0
previous_away_team_errors    0
previous_away_team_hits      0
previous_away_team_runs      0
game_type                    0
previous_game_type           0
previous_home_team_errors    0
previous_home_team_hits      0
previous_home_team_runs      0
game_day                     0
previous_game_day            0
temperature                  0
wind_speed                   0
sky                          0
previous_game_duration       0
previous_homewin             0
dtype: int64

In [9]:
# Checking for null values in the train split
train_set.isnull().sum()

attendance_binary            0
previous_attendance          0
previous_away_team_errors    0
previous_away_team_hits      0
previous_away_team_runs      0
game_type                    0
previous_game_type           0
previous_home_team_errors    0
previous_home_team_hits      0
previous_home_team_runs      0
game_day                     0
previous_game_day            0
temperature                  0
wind_speed                   0
sky                          0
previous_game_duration       0
previous_homewin             0
dtype: int64

In [10]:
# Verifying the split has been done correctly
print(train_set.shape)
print(test_set.shape)

(1698, 17)
(729, 17)

In [11]:
# Gathering cols in a separate list
my_cols = list(data_frame.columns)
my_cols

['attendance_binary',
 'previous_attendance',
 'previous_away_team_errors',
 'previous_away_team_hits',
 'previous_away_team_runs',
 'game_type',
 'previous_game_type',
 'previous_home_team_errors',
 'previous_home_team_hits',
 'previous_home_team_runs',
 'game_day',
 'previous_game_day',
 'temperature',
 'wind_speed',
 'sky',
 'previous_game_duration',
 'previous_homewin']

In [12]:
# Verifying cols quantity
len(my_cols)

17

In [13]:
# Separating target variable into a separate data frame
train_target = train_set[[my_cols[0]]]
train_target

      attendance_binary
1391                  0
2294                  0
338                   1
2244                  1
688                   1
...                 ...
2027                  0
1524                  1
2400                  1
2302                  1
1852                  1

[1698 rows x 1 columns]

In [14]:
test_target = test_set[[my_cols[0]]]
test_target

      attendance_binary
915                   1
793                   1
347                   1
2180                  1
969                   0
...                 ...
1615                  1
2275                  1
2366                  0
1508                  1
261                   1

[729 rows x 1 columns]

In [15]:
# Split target variable from the data frames
train_input = train_set.drop([my_cols[0]], axis=1)
test_input = test_set.drop([my_cols[0]], axis=1)
print(train_input.shape, test_input.shape, sep='\n')

(1698, 16)
(729, 16)

In [16]:
train_input

,previous_attendance,previous_away_team_errors,previous_away_team_hits,previous_away_team_runs,game_type,previous_game_type,previous_home_team_errors,previous_home_team_hits,previous_home_team_runs,game_day,previous_game_day,temperature,wind_speed,sky,previous_game_duration,previous_homewin
1391,37328,0,3,1,Day Game,Day Game,0,15,12,Monday,Sunday,72,2,Overcast,3.133333,1
2294,17621,0,9,6,Night Game,Day Game,2,3,0,Tuesday,Sunday,52,13,Cloudy,2.533333,0
338,32121,0,9,2,Night Game,Night Game,0,7,5,Friday,Thursday,69,4,Cloudy,3.300000,1
2244,36238,0,3,2,Night Game,Night Game,0,8,4,Friday,Thursday,68,0,In Dome,2.366667,1
688,40446,0,7,1,Night Game,Day Game,0,6,2,Tuesday,Monday,72,8,Cloudy,3.016667,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2027,21586,0,14,5,Day Game,Night Game,1,6,3,Wednesday,Tuesday,56,8,Unknown,3.016667,0
1524,40104,1,9,8,Night Game,Day Game,1,10,9,Friday,Wednesday,77,5,Sunny,3.416667,1
2400,41940,1,13,6,Night Game,Day Game,0,17,12,Friday,Thursday,60,8,Overcast,3.116667,1
2302,38574,1,10,3,Day Game,Day Game,1,10,2,Sunday,Saturday,64,2,Sunny,3.350000,0
1852,32480,2,14,9,Night Game,Day Game,0,18,15,Friday,Wednesday,80,12,Cloudy,3.566667,1

In [17]:
#splitting data based on type
train_numerical_data=train_input[['previous_attendance','previous_away_team_errors','previous_away_team_hits','previous_away_team_runs',
                                  'previous_home_team_errors','previous_home_team_hits','previous_home_team_runs','temperature','wind_speed','previous_game_duration']]
train_binary_data=train_input[['previous_homewin']]
train_categorical_data=train_input[['game_type','previous_game_type','game_day','previous_game_day','sky']]

In [18]:
#numercial value Process
#imputation of numerical values
from sklearn.impute import SimpleImputer
imputer=SimpleImputer(strategy="mean")
train_numeric_imputedData=imputer.fit_transform(train_numerical_data)

In [19]:
train_numeric_imputedData

array([[3.73280000e+04, 0.00000000e+00, 3.00000000e+00, ...,
        7.20000000e+01, 2.00000000e+00, 3.13333333e+00],
       [1.76210000e+04, 0.00000000e+00, 9.00000000e+00, ...,
        5.20000000e+01, 1.30000000e+01, 2.53333333e+00],
       [3.21210000e+04, 0.00000000e+00, 9.00000000e+00, ...,
        6.90000000e+01, 4.00000000e+00, 3.30000000e+00],
       ...,
       [4.19400000e+04, 1.00000000e+00, 1.30000000e+01, ...,
        6.00000000e+01, 8.00000000e+00, 3.11666667e+00],
       [3.85740000e+04, 1.00000000e+00, 1.00000000e+01, ...,
        6.40000000e+01, 2.00000000e+00, 3.35000000e+00],
       [3.24800000e+04, 2.00000000e+00, 1.40000000e+01, ...,
        8.00000000e+01, 1.20000000e+01, 3.56666667e+00]])

In [20]:
#standerdizing values
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
train_numeric_StanderdizedData=scaler.fit_transform(train_numeric_imputedData)

In [21]:
train_numeric_StanderdizedData

array([[ 0.71429496, -0.72357748, -1.64492815, ..., -0.1798539 ,
        -1.08524906,  0.1165986 ],
       [-1.28012491, -0.72357748,  0.05093584, ..., -2.06440754,
         1.10921688, -1.17788724],
       [ 0.18732767, -0.72357748,  0.05093584, ..., -0.46253694,
        -0.68625525,  0.476178  ],
       ...,
       [ 1.18104608,  0.55358942,  1.18151184, ..., -1.31058609,
         0.11173236,  0.08064066],
       [ 0.84039467,  0.55358942,  0.33357984, ..., -0.93367536,
        -1.08524906,  0.58405182],
       [ 0.22365978,  1.83075632,  1.46415584, ...,  0.57396756,
         0.90971998,  1.05150503]])

In [22]:
#Back to pandas(Numerics)
train_numeric_DataDF=pd.DataFrame(train_numeric_StanderdizedData,columns=train_numerical_data.columns).reset_index(drop=True)
train_numeric_DataDF.head()

,previous_attendance,previous_away_team_errors,previous_away_team_hits,previous_away_team_runs,previous_home_team_errors,previous_home_team_hits,previous_home_team_runs,temperature,wind_speed,previous_game_duration
0,0.714295,-0.723577,-1.644928,-1.112505,-0.730935,1.852384,2.412923,-0.179854,-1.085249,0.116599
1,-1.280125,-0.723577,0.050936,0.496279,1.734066,-1.634376,-1.443817,-2.064408,1.109217,-1.177887
2,0.187328,-0.723577,0.050936,-0.790749,-0.730935,-0.472123,0.163158,-0.462537,-0.686255,0.476178
3,0.603983,-0.723577,-1.644928,-0.790749,-0.730935,-0.181559,-0.158237,-0.556765,-1.484243,-1.537467
4,1.029848,-0.723577,-0.514352,-1.112505,-0.730935,-0.762686,-0.801027,-0.179854,0.111732,-0.135107

In [23]:
#Processing Categorical
train_categorical_data.isna().sum()
#I believe no need to process categorical in this case as there are no null values, NIC please confirm.

game_type             0
previous_game_type    0
game_day              0
previous_game_day     0
sky                   0
dtype: int64

In [24]:
#Categorical back to pandas
train_categorical_DataDF=pd.DataFrame(train_categorical_data,columns=train_categorical_data.columns).reset_index(drop=True)
train_categorical_DataDF

       game_type previous_game_type   game_day previous_game_day       sky
0       Day Game           Day Game     Monday            Sunday  Overcast
1     Night Game           Day Game    Tuesday            Sunday    Cloudy
2     Night Game         Night Game     Friday          Thursday    Cloudy
3     Night Game         Night Game     Friday          Thursday   In Dome
4     Night Game           Day Game    Tuesday            Monday    Cloudy
...          ...                ...        ...               ...       ...
1693    Day Game         Night Game  Wednesday           Tuesday   Unknown
1694  Night Game           Day Game     Friday         Wednesday     Sunny
1695  Night Game           Day Game     Friday          Thursday  Overcast
1696    Day Game           Day Game     Sunday          Saturday     Sunny
1697  Night Game           Day Game     Friday         Wednesday    Cloudy

[1698 rows x 5 columns]

In [25]:
#One hard encoding to categorical values
from sklearn.preprocessing import OneHotEncoder
encoder=OneHotEncoder()
train_categorical_data_Encoded=encoder.fit_transform(train_categorical_DataDF)
train_categorical_data_Encoded.toarray()

array([[1., 0., 1., ..., 0., 0., 0.],
       [0., 1., 1., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       ...,
       [0., 1., 1., ..., 0., 0., 0.],
       [1., 0., 1., ..., 0., 1., 0.],
       [0., 1., 1., ..., 0., 0., 0.]])

In [26]:
encoder.categories_

[array(['Day Game', 'Night Game'], dtype=object),
 array(['Day Game', 'Night Game'], dtype=object),
 array(['Friday', 'Monday', 'Saturday', 'Sunday', 'Thursday', 'Tuesday',
        'Wednesday'], dtype=object),
 array(['Friday', 'Monday', 'Saturday', 'Sunday', 'Thursday', 'Tuesday',
        'Wednesday'], dtype=object),
 array(['Cloudy', 'Drizzle', 'In Dome', 'Night', 'Overcast', 'Rain',
        'Sunny', 'Unknown'], dtype=object)]

In [27]:
OneHotEncoder_column_names=[item for sublist in encoder.categories_ for item in sublist]
OneHotEncoder_column_names

['Day Game',
 'Night Game',
 'Day Game',
 'Night Game',
 'Friday',
 'Monday',
 'Saturday',
 'Sunday',
 'Thursday',
 'Tuesday',
 'Wednesday',
 'Friday',
 'Monday',
 'Saturday',
 'Sunday',
 'Thursday',
 'Tuesday',
 'Wednesday',
 'Cloudy',
 'Drizzle',
 'In Dome',
 'Night',
 'Overcast',
 'Rain',
 'Sunny',
 'Unknown']

In [28]:
#back to pandas
train_categorical_data_Encoded_DF=pd.DataFrame(train_categorical_data_Encoded.toarray(),
                                               columns=OneHotEncoder_column_names).reset_index(drop=True)
train_categorical_data_Encoded_DF

,Day Game,Night Game,Day Game,Night Game,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,...,Tuesday,Wednesday,Cloudy,Drizzle,In Dome,Night,Overcast,Rain,Sunny,Unknown
0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1693,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1694,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1695,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1696,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1697,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [29]:
#Concatinate all Train Data
Train_Data_Final=pd.concat((train_numeric_DataDF.reset_index(drop=True),train_categorical_data_Encoded_DF.reset_index(drop=True)
                           ,train_binary_data.reset_index(drop=True)),axis=1)
Train_Data_Final

,previous_attendance,previous_away_team_errors,previous_away_team_hits,previous_away_team_runs,previous_home_team_errors,previous_home_team_hits,previous_home_team_runs,temperature,wind_speed,previous_game_duration,...,Wednesday,Cloudy,Drizzle,In Dome,Night,Overcast,Rain,Sunny,Unknown,previous_homewin
0,0.714295,-0.723577,-1.644928,-1.112505,-0.730935,1.852384,2.412923,-0.179854,-1.085249,0.116599,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1
1,-1.280125,-0.723577,0.050936,0.496279,1.734066,-1.634376,-1.443817,-2.064408,1.109217,-1.177887,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2,0.187328,-0.723577,0.050936,-0.790749,-0.730935,-0.472123,0.163158,-0.462537,-0.686255,0.476178,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
3,0.603983,-0.723577,-1.644928,-0.790749,-0.730935,-0.181559,-0.158237,-0.556765,-1.484243,-1.537467,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1
4,1.029848,-0.723577,-0.514352,-1.112505,-0.730935,-0.762686,-0.801027,-0.179854,0.111732,-0.135107,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1693,-0.878853,-0.723577,1.464156,0.174522,0.501565,-0.762686,-0.479632,-1.687497,0.111732,-0.135107,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0
1694,0.995236,0.553589,0.050936,1.139792,0.501565,0.399567,1.448738,0.291285,-0.486758,0.727884,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1
1695,1.181046,0.553589,1.181512,0.496279,-0.730935,2.433511,2.412923,-1.310586,0.111732,0.080641,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1
1696,0.840395,0.553589,0.333580,-0.468992,0.501565,0.399567,-0.801027,-0.933675,-1.085249,0.584052,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0
1697,0.223660,1.830756,1.464156,1.461549,-0.730935,2.724074,3.377108,0.573968,0.909720,1.051505,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1

In [30]:
test_numerical_data=test_input[['previous_attendance','previous_away_team_errors','previous_away_team_hits','previous_away_team_runs',
                                  'previous_home_team_errors','previous_home_team_hits','previous_home_team_runs','temperature','wind_speed','previous_game_duration']]
test_binary_data=test_input[['previous_homewin']]
test_categorical_data=test_input[['game_type','previous_game_type','game_day','previous_game_day','sky']]

In [31]:
#processing numerical test data
test_numeric_imputedData=imputer.transform(test_numerical_data)
test_numeric_imputedData

array([[4.03100000e+04, 0.00000000e+00, 4.00000000e+00, ...,
        8.40000000e+01, 9.00000000e+00, 2.83333333e+00],
       [4.03090000e+04, 0.00000000e+00, 6.00000000e+00, ...,
        8.10000000e+01, 4.00000000e+00, 2.65000000e+00],
       [3.80910000e+04, 0.00000000e+00, 7.00000000e+00, ...,
        4.30000000e+01, 1.10000000e+01, 3.61666667e+00],
       ...,
       [4.52290000e+04, 0.00000000e+00, 6.00000000e+00, ...,
        5.70000000e+01, 1.70000000e+01, 2.85000000e+00],
       [2.82260000e+04, 0.00000000e+00, 1.30000000e+01, ...,
        8.40000000e+01, 2.00000000e+00, 3.28333333e+00],
       [3.43100000e+04, 1.00000000e+00, 7.00000000e+00, ...,
        8.70000000e+01, 1.30000000e+01, 2.41666667e+00]])

In [32]:
#Standerdizing the numerical values
test_numeric_standerdizedData=scaler.transform(test_numeric_imputedData)
test_numeric_standerdizedData

array([[ 1.01608417, -0.72357748, -1.36228415, ...,  0.95087829,
         0.31122927, -0.53064432],
       [ 1.01598297, -0.72357748, -0.79699615, ...,  0.66819524,
        -0.68625525, -0.92618166],
       [ 0.79151332, -0.72357748, -0.51435215, ..., -2.91245669,
         0.71022308,  1.15937885],
       ...,
       [ 1.51390481, -0.72357748, -0.79699615, ..., -1.59326913,
         1.9072045 , -0.49468638],
       [-0.20686045, -0.72357748,  1.18151184, ...,  0.95087829,
        -1.08524906,  0.44022005],
       [ 0.40886241,  0.55358942, -0.51435215, ...,  1.23356134,
         1.10921688, -1.42959282]])

In [33]:
#convert numeric to pandas
test_numeric_DataDF=pd.DataFrame(test_numeric_standerdizedData,columns=test_numerical_data.columns).reset_index(drop=True)
test_numeric_DataDF.head()

,previous_attendance,previous_away_team_errors,previous_away_team_hits,previous_away_team_runs,previous_home_team_errors,previous_home_team_hits,previous_home_team_runs,temperature,wind_speed,previous_game_duration
0,1.016084,-0.723577,-1.362284,-1.112505,-0.730935,-0.181559,0.484553,0.950878,0.311229,-0.530644
1,1.015983,-0.723577,-0.796996,-1.434262,-0.730935,-0.181559,-0.801027,0.668195,-0.686255,-0.926182
2,0.791513,-0.723577,-0.514352,-1.434262,-0.730935,0.399567,0.484553,-2.912457,0.710223,1.159379
3,0.565829,0.553589,-1.362284,-0.468992,-0.730935,-0.472123,-0.158237,-2.724001,0.909720,0.152557
4,-1.038754,-0.723577,0.333580,1.139792,-0.730935,1.561821,0.805948,0.102829,-1.484243,0.655968

In [34]:
#Processing Categorical Test Data
test_categorical_data.isna().sum()

game_type             0
previous_game_type    0
game_day              0
previous_game_day     0
sky                   0
dtype: int64

In [35]:
#No null values in categorical data, hence converting back into pandas
test_categorical_dataDF=pd.DataFrame(test_categorical_data,columns=test_categorical_data.columns).reset_index(drop=True)
test_categorical_dataDF

      game_type previous_game_type   game_day previous_game_day       sky
0      Day Game         Night Game   Thursday         Wednesday     Sunny
1    Night Game           Day Game     Monday            Sunday     Sunny
2    Night Game         Night Game  Wednesday           Tuesday    Cloudy
3      Day Game         Night Game   Thursday           Tuesday  Overcast
4      Day Game         Night Game     Sunday          Saturday   In Dome
..          ...                ...        ...               ...       ...
724  Night Game         Night Game     Friday         Wednesday    Cloudy
725  Night Game         Night Game  Wednesday           Tuesday     Sunny
726  Night Game           Day Game    Tuesday            Monday     Sunny
727  Night Game         Night Game   Saturday            Friday     Sunny
728  Night Game         Night Game   Thursday          Thursday     Sunny

[729 rows x 5 columns]

In [36]:
#One Hot Encoding test categorical data
test_categorical_data_Encoded=encoder.transform(test_categorical_dataDF)
test_categorical_data_Encoded.toarray()

array([[1., 0., 0., ..., 0., 1., 0.],
       [0., 1., 1., ..., 0., 1., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       ...,
       [0., 1., 1., ..., 0., 1., 0.],
       [0., 1., 0., ..., 0., 1., 0.],
       [0., 1., 0., ..., 0., 1., 0.]])

In [37]:
#Back to pandas
test_categorical_data_Encoded_DF=pd.DataFrame(test_categorical_data_Encoded.toarray(),
                                               columns=OneHotEncoder_column_names).reset_index(drop=True)
test_categorical_data_Encoded_DF

,Day Game,Night Game,Day Game,Night Game,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,...,Tuesday,Wednesday,Cloudy,Drizzle,In Dome,Night,Overcast,Rain,Sunny,Unknown
0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
724,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
725,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
726,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
727,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
728,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [38]:
#Concatinate all to one DataFrame
test_Final_Data=pd.concat((test_numeric_DataDF.reset_index(drop=True),test_categorical_data_Encoded_DF.reset_index(drop=True),
                           test_binary_data.reset_index(drop=True)),axis=1)
test_Final_Data

,previous_attendance,previous_away_team_errors,previous_away_team_hits,previous_away_team_runs,previous_home_team_errors,previous_home_team_hits,previous_home_team_runs,temperature,wind_speed,previous_game_duration,...,Wednesday,Cloudy,Drizzle,In Dome,Night,Overcast,Rain,Sunny,Unknown,previous_homewin
0,1.016084,-0.723577,-1.362284,-1.112505,-0.730935,-0.181559,0.484553,0.950878,0.311229,-0.530644,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1
1,1.015983,-0.723577,-0.796996,-1.434262,-0.730935,-0.181559,-0.801027,0.668195,-0.686255,-0.926182,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1
2,0.791513,-0.723577,-0.514352,-1.434262,-0.730935,0.399567,0.484553,-2.912457,0.710223,1.159379,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
3,0.565829,0.553589,-1.362284,-0.468992,-0.730935,-0.472123,-0.158237,-2.724001,0.909720,0.152557,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1
4,-1.038754,-0.723577,0.333580,1.139792,-0.730935,1.561821,0.805948,0.102829,-1.484243,0.655968,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
724,-1.122551,-0.723577,0.050936,-1.434262,-0.730935,-1.343813,-0.158237,0.573968,-0.885752,-0.638518,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
725,0.170224,0.553589,0.616224,-0.468992,-0.730935,-0.181559,-0.801027,-1.216358,0.311229,0.907673,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0
726,1.513905,-0.723577,-0.796996,-0.147235,-0.730935,-0.181559,-0.479632,-1.593269,1.907205,-0.494686,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0
727,-0.206860,-0.723577,1.181512,0.496279,-0.730935,0.980694,1.127343,0.950878,-1.085249,0.440220,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1
728,0.408862,0.553589,-0.514352,-1.112505,-0.730935,-1.343813,-0.801027,1.233561,1.109217,-1.429593,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1

## Find the Baseline (0.5 point)

In [39]:
train_target.value_counts()

attendance_binary
1                    879
0                    819
dtype: int64

In [40]:
train_target.value_counts()/len(train_target)

attendance_binary
1                    0.517668
0                    0.482332
dtype: float64

In [42]:
#Linear SVC
from sklearn.svm import LinearSVC
svm_clf = LinearSVC(C=10)
svm_clf.fit(Train_Data_Final, train_target)

C:\Users\nicol\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\nicol\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\svm\_base.py:1206: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(

LinearSVC(C=10)

NameError: name 'swf_cliff' is not defined

# Section 2: (3 points in total)

Build three different SVM models (by changing the kernels, regularization, etc.). Generate their training and test values. Each model is worth 1 point. 

(Add cells as needed)

## SVM Model 1:

## SVM Model 2:

## SVM Model 3:

# Section 3: (3 points in total)

Build two different SGD models (by changing the penalty, etc. or adding polynomial terms) and one LogisticRregression model. Generate their training and test values. Each model is worth 1 point.

(Add cells as needed)

## SGD Model 1:

## SGD Model 2:

## LogisticRegression Model:

# Discussion (3 points in total)

## List the train and test values of each model you built (1 point)

## Which model performs the best and why? (0.5 points) How does it compare to baseline? (0.5 points)

Hint: The best model is the one that has the highest TEST score (regardless of any of the training values). If you select your model based on TRAIN values, you will lose points.

## Is there any evidence of overfitting in the best model, why or why not? If there is, what did you do about it? (0.5 points)

## Is there any evidence of overfitting in the other models (besides the best model), why or why not? If there is, what did you do about it? (0.5 points)