# Group work - Classification

In this assignment, we will focus on sports analytics. This data set is made available by http://www.baseball-reference.com. It contains data about professional baseball (MLB) games played in the 2016 season. There are 2,427 games in the data set. Each row represents a single game. The goal is to predict the attendance at a home team’s game. This is an important task because most franchises want to predict the number of attendees for a variety of reasons including profits.

## Description of Variables

The description of variables are provided in "Baseball - Data Dictionary.docx"

## Goal

Use the **baseball.csv** data set and build a model to predict **attendance_binary**.

## Submission:

Please save and submit this Jupyter notebook file. The correctness of the code matters for your grade. **Readability and organization of your code is also important.** You may lose points for submitting unreadable/undecipherable code. Therefore, use markdown cells to create sections, and use comments where necessary.

## Recommended roles for group members:

**Section 1:** to be completed by both group members

**Section 2:** to be completed by the first group member and checked by the second

**Section 3:** to be completed by the second group member and checked by the first

**Important notes:**
- Both group members will get the same grade. Therefore, you should check the work of your group member. If they make a mistake, you will be responsible for that mistake too.
- Both group members must put in their fair share of effort. Otherwise, those who don't contribute to the assignment will not receive any grade.

# Section 1: (6 points in total)

## Data Prep (5.5 points)

In [107]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [108]:
data_frame = pd.read_csv('baseball.csv')
data_frame.head()

,attendance_binary,previous_attendance,previous_away_team_errors,previous_away_team_hits,previous_away_team_runs,game_type,previous_game_type,previous_home_team_errors,previous_home_team_hits,previous_home_team_runs,game_day,previous_game_day,temperature,wind_speed,sky,previous_game_duration,previous_homewin
0,0,43683,2,6,2,Night Game,Day Game,0,6,6,Wednesday,Monday,55,24,Overcast,2.933333,1
1,0,45785,0,7,2,Night Game,Day Game,0,10,3,Wednesday,Monday,48,7,Unknown,2.800000,1
2,0,48282,0,8,4,Night Game,Day Game,2,4,3,Wednesday,Monday,65,10,Cloudy,3.383333,0
3,0,21830,0,9,6,Day Game,Night Game,0,15,11,Wednesday,Tuesday,77,0,In Dome,3.233333,1
4,0,49289,2,4,2,Night Game,Day Game,1,1,3,Tuesday,Monday,81,12,Cloudy,2.633333,1

In [109]:
train_set, test_set = train_test_split(data_frame, test_size=0.3)
train_set.head()

,attendance_binary,previous_attendance,previous_away_team_errors,previous_away_team_hits,previous_away_team_runs,game_type,previous_game_type,previous_home_team_errors,previous_home_team_hits,previous_home_team_runs,game_day,previous_game_day,temperature,wind_speed,sky,previous_game_duration,previous_homewin
362,1,53901,0,9,8,Day Game,Day Game,1,6,3,Tuesday,Monday,70,6,Cloudy,4.200000,0
1775,1,36162,0,12,8,Night Game,Night Game,1,6,2,Friday,Thursday,67,6,Cloudy,2.850000,0
466,1,31398,0,10,6,Day Game,Night Game,1,6,1,Sunday,Saturday,76,10,Cloudy,3.016667,0
800,1,35925,0,12,9,Day Game,Night Game,1,11,6,Sunday,Saturday,77,5,Cloudy,3.350000,0
284,0,20329,0,15,5,Night Game,Night Game,0,9,8,Friday,Thursday,72,13,Cloudy,3.216667,1

In [110]:
test_set.head()

,attendance_binary,previous_attendance,previous_away_team_errors,previous_away_team_hits,previous_away_team_runs,game_type,previous_game_type,previous_home_team_errors,previous_home_team_hits,previous_home_team_runs,game_day,previous_game_day,temperature,wind_speed,sky,previous_game_duration,previous_homewin
1525,1,32491,3,7,3,Night Game,Day Game,2,9,5,Friday,Sunday,79,11,Sunny,2.850000,1
854,1,40019,0,6,2,Night Game,Night Game,0,9,3,Tuesday,Wednesday,75,9,Unknown,2.700000,1
2325,1,22820,0,9,3,Night Game,Night Game,0,10,6,Friday,Thursday,71,10,Sunny,2.783333,1
1193,1,47488,0,1,0,Night Game,Day Game,0,4,2,Monday,Sunday,88,8,Cloudy,2.350000,1
502,1,26520,0,8,4,Night Game,Night Game,1,12,5,Wednesday,Tuesday,90,4,Cloudy,3.366667,1

In [111]:
## Checking Null values counts per column
train_set.dtypes

attendance_binary              int64
previous_attendance            int64
previous_away_team_errors      int64
previous_away_team_hits        int64
previous_away_team_runs        int64
game_type                     object
previous_game_type            object
previous_home_team_errors      int64
previous_home_team_hits        int64
previous_home_team_runs        int64
game_day                      object
previous_game_day             object
temperature                    int64
wind_speed                     int64
sky                           object
previous_game_duration       float64
previous_homewin               int64
dtype: object

In [112]:
for item in train_set.dtypes:
    print(item)

int64
int64
int64
int64
int64
object
object
int64
int64
int64
object
object
int64
int64
object
float64
int64

In [113]:
# check for quantity of Null Values
test_set.isnull().sum()

attendance_binary            0
previous_attendance          0
previous_away_team_errors    0
previous_away_team_hits      0
previous_away_team_runs      0
game_type                    0
previous_game_type           0
previous_home_team_errors    0
previous_home_team_hits      0
previous_home_team_runs      0
game_day                     0
previous_game_day            0
temperature                  0
wind_speed                   0
sky                          0
previous_game_duration       0
previous_homewin             0
dtype: int64

In [114]:
# Checking for null values in the train split
train_set.isnull().sum()

attendance_binary            0
previous_attendance          0
previous_away_team_errors    0
previous_away_team_hits      0
previous_away_team_runs      0
game_type                    0
previous_game_type           0
previous_home_team_errors    0
previous_home_team_hits      0
previous_home_team_runs      0
game_day                     0
previous_game_day            0
temperature                  0
wind_speed                   0
sky                          0
previous_game_duration       0
previous_homewin             0
dtype: int64

In [115]:
# Verifying the split has been done correctly
print(train_set.shape)
print(test_set.shape)

(1698, 17)
(729, 17)

In [116]:
# Gathering cols in a separate list
my_cols = list(data_frame.columns)
my_cols

['attendance_binary',
 'previous_attendance',
 'previous_away_team_errors',
 'previous_away_team_hits',
 'previous_away_team_runs',
 'game_type',
 'previous_game_type',
 'previous_home_team_errors',
 'previous_home_team_hits',
 'previous_home_team_runs',
 'game_day',
 'previous_game_day',
 'temperature',
 'wind_speed',
 'sky',
 'previous_game_duration',
 'previous_homewin']

In [117]:
# Verifying cols quantity
len(my_cols)

17

In [118]:
# Separating target variable into a separate data frame
train_target = train_set[[my_cols[0]]]
train_target

      attendance_binary
362                   1
1775                  1
466                   1
800                   1
284                   0
...                 ...
1064                  0
610                   0
1584                  1
1809                  0
1506                  1

[1698 rows x 1 columns]

In [119]:
test_target = test_set[[my_cols[0]]]
test_target

      attendance_binary
1525                  1
854                   1
2325                  1
1193                  1
502                   1
...                 ...
1473                  1
447                   0
1804                  0
942                   0
2303                  0

[729 rows x 1 columns]

In [120]:
# Split target variable from the data frames
train_input = train_set.drop([my_cols[0]], axis=1)
test_input = test_set.drop([my_cols[0]], axis=1)
print(train_input.shape, test_input.shape, sep='\n')

(1698, 16)
(729, 16)

In [121]:
train_input

,previous_attendance,previous_away_team_errors,previous_away_team_hits,previous_away_team_runs,game_type,previous_game_type,previous_home_team_errors,previous_home_team_hits,previous_home_team_runs,game_day,previous_game_day,temperature,wind_speed,sky,previous_game_duration,previous_homewin
362,53901,0,9,8,Day Game,Day Game,1,6,3,Tuesday,Monday,70,6,Cloudy,4.200000,0
1775,36162,0,12,8,Night Game,Night Game,1,6,2,Friday,Thursday,67,6,Cloudy,2.850000,0
466,31398,0,10,6,Day Game,Night Game,1,6,1,Sunday,Saturday,76,10,Cloudy,3.016667,0
800,35925,0,12,9,Day Game,Night Game,1,11,6,Sunday,Saturday,77,5,Cloudy,3.350000,0
284,20329,0,15,5,Night Game,Night Game,0,9,8,Friday,Thursday,72,13,Cloudy,3.216667,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1064,17642,1,5,2,Night Game,Day Game,0,10,3,Friday,Sunday,59,11,Sunny,2.350000,1
610,14671,0,6,0,Night Game,Night Game,1,7,3,Tuesday,Monday,78,10,Sunny,2.533333,1
1584,41424,0,8,3,Night Game,Night Game,0,6,4,Sunday,Saturday,87,11,Sunny,3.000000,1
1809,20522,1,5,2,Day Game,Day Game,0,9,4,Monday,Sunday,68,10,Cloudy,2.800000,1
1506,42238,2,10,4,Night Game,Night Game,0,9,5,Saturday,Friday,63,14,Sunny,3.350000,1

In [122]:
#splitting data based on type
train_numerical_data=train_input[['previous_attendance','previous_away_team_errors','previous_away_team_hits','previous_away_team_runs',
                                  'previous_home_team_errors','previous_home_team_hits','previous_home_team_runs','temperature','wind_speed','previous_game_duration']]
train_binary_data=train_input[['previous_homewin']]
train_categorical_data=train_input[['game_type','previous_game_type','game_day','previous_game_day','sky']]

In [123]:
#numercial value Process
#imputation of numerical values
from sklearn.impute import SimpleImputer
imputer=SimpleImputer(strategy="mean")
train_numeric_imputedData=imputer.fit_transform(train_numerical_data)

In [124]:
train_numeric_imputedData

array([[5.39010000e+04, 0.00000000e+00, 9.00000000e+00, ...,
        7.00000000e+01, 6.00000000e+00, 4.20000000e+00],
       [3.61620000e+04, 0.00000000e+00, 1.20000000e+01, ...,
        6.70000000e+01, 6.00000000e+00, 2.85000000e+00],
       [3.13980000e+04, 0.00000000e+00, 1.00000000e+01, ...,
        7.60000000e+01, 1.00000000e+01, 3.01666667e+00],
       ...,
       [4.14240000e+04, 0.00000000e+00, 8.00000000e+00, ...,
        8.70000000e+01, 1.10000000e+01, 3.00000000e+00],
       [2.05220000e+04, 1.00000000e+00, 5.00000000e+00, ...,
        6.80000000e+01, 1.00000000e+01, 2.80000000e+00],
       [4.22380000e+04, 2.00000000e+00, 1.00000000e+01, ...,
        6.30000000e+01, 1.40000000e+01, 3.35000000e+00]])

In [125]:
#standerdizing values
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
train_numeric_StanderdizedData=scaler.fit_transform(train_numeric_imputedData)

In [126]:
train_numeric_StanderdizedData

array([[ 2.392136  , -0.73726792,  0.07328067, ..., -0.38353986,
        -0.27339412,  2.39881466],
       [ 0.5950514 , -0.73726792,  0.92360346, ..., -0.67238551,
        -0.27339412, -0.51569366],
       [ 0.11242492, -0.73726792,  0.3567216 , ...,  0.19415146,
         0.52837309, -0.15587782],
       ...,
       [ 1.12812875, -0.73726792, -0.21016027, ...,  1.2532522 ,
         0.7288149 , -0.1918594 ],
       [-0.98938985,  0.50221815, -1.06048306, ..., -0.57610363,
         0.52837309, -0.62363841],
       [ 1.21059264,  1.74170421,  0.3567216 , ..., -1.05751306,
         1.3301403 ,  0.56375387]])

In [127]:
#Back to pandas(Numerics)
train_numeric_DataDF=pd.DataFrame(train_numeric_StanderdizedData,columns=train_numerical_data.columns).reset_index(drop=True)
train_numeric_DataDF.head()

,previous_attendance,previous_away_team_errors,previous_away_team_hits,previous_away_team_runs,previous_home_team_errors,previous_home_team_hits,previous_home_team_runs,temperature,wind_speed,previous_game_duration
0,2.392136,-0.737268,0.073281,1.141270,0.484944,-0.751507,-0.476376,-0.383540,-0.273394,2.398815
1,0.595051,-0.737268,0.923603,1.141270,0.484944,-0.751507,-0.798642,-0.672386,-0.273394,-0.515694
2,0.112425,-0.737268,0.356722,0.504125,0.484944,-0.751507,-1.120908,0.194151,0.528373,-0.155878
3,0.571042,-0.737268,0.923603,1.459843,0.484944,0.708180,0.490421,0.290433,-0.473836,0.563754
4,-1.008942,-0.737268,1.773926,0.185553,-0.751445,0.124306,1.134952,-0.190976,1.129699,0.275901

In [128]:
#Processing Categorical
train_categorical_data.isna().sum()
#I believe no need to process categorical in this case as there are no null values, NIC please confirm.

game_type             0
previous_game_type    0
game_day              0
previous_game_day     0
sky                   0
dtype: int64

In [129]:
#Categorical back to pandas
train_categorical_DataDF=pd.DataFrame(train_categorical_data,columns=train_categorical_data.columns).reset_index(drop=True)
train_categorical_DataDF

       game_type previous_game_type  game_day previous_game_day     sky
0       Day Game           Day Game   Tuesday            Monday  Cloudy
1     Night Game         Night Game    Friday          Thursday  Cloudy
2       Day Game         Night Game    Sunday          Saturday  Cloudy
3       Day Game         Night Game    Sunday          Saturday  Cloudy
4     Night Game         Night Game    Friday          Thursday  Cloudy
...          ...                ...       ...               ...     ...
1693  Night Game           Day Game    Friday            Sunday   Sunny
1694  Night Game         Night Game   Tuesday            Monday   Sunny
1695  Night Game         Night Game    Sunday          Saturday   Sunny
1696    Day Game           Day Game    Monday            Sunday  Cloudy
1697  Night Game         Night Game  Saturday            Friday   Sunny

[1698 rows x 5 columns]

In [130]:
#One hard encoding to categorical values
from sklearn.preprocessing import OneHotEncoder
encoder=OneHotEncoder()
train_categorical_data_Encoded=encoder.fit_transform(train_categorical_DataDF)
train_categorical_data_Encoded.toarray()

array([[1., 0., 1., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 1., 0., ..., 0., 1., 0.],
       [1., 0., 1., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 1., 0.]])

In [143]:
encoder.categories_

[array(['Day Game', 'Night Game'], dtype=object),
 array(['Day Game', 'Night Game'], dtype=object),
 array(['Friday', 'Monday', 'Saturday', 'Sunday', 'Thursday', 'Tuesday',
        'Wednesday'], dtype=object),
 array(['Friday', 'Monday', 'Saturday', 'Sunday', 'Thursday', 'Tuesday',
        'Wednesday'], dtype=object),
 array(['Cloudy', 'Drizzle', 'In Dome', 'Night', 'Overcast', 'Rain',
        'Sunny', 'Unknown'], dtype=object)]

In [144]:
OneHotEncoder_column_names=[item for sublist in encoder.categories_ for item in sublist]
OneHotEncoder_column_names

['Day Game',
 'Night Game',
 'Day Game',
 'Night Game',
 'Friday',
 'Monday',
 'Saturday',
 'Sunday',
 'Thursday',
 'Tuesday',
 'Wednesday',
 'Friday',
 'Monday',
 'Saturday',
 'Sunday',
 'Thursday',
 'Tuesday',
 'Wednesday',
 'Cloudy',
 'Drizzle',
 'In Dome',
 'Night',
 'Overcast',
 'Rain',
 'Sunny',
 'Unknown']

In [147]:
#back to pandas
train_categorical_data_Encoded_DF=pd.DataFrame(train_categorical_data_Encoded.toarray(),
                                               columns=OneHotEncoder_column_names).reset_index(drop=True)
train_categorical_data_Encoded_DF

,Day Game,Night Game,Day Game,Night Game,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,...,Tuesday,Wednesday,Cloudy,Drizzle,In Dome,Night,Overcast,Rain,Sunny,Unknown
0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1693,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1694,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1695,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1696,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1697,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [134]:
#Concatinate all Train Data
Train_Data_Final=pd.concat((train_numeric_DataDF.reset_index(drop=True),train_categorical_data_Encoded.DF.reset_index(drop=True)
                           ,train_binary_data.reset_index(drop=True)),axis=1)
Train_Data_Final

,previous_attendance,previous_away_team_errors,previous_away_team_hits,previous_away_team_runs,previous_home_team_errors,previous_home_team_hits,previous_home_team_runs,temperature,wind_speed,previous_game_duration,...,Wednesday,Cloudy,Drizzle,In Dome,Night,Overcast,Rain,Sunny,Unknown,previous_homewin
0,2.392136,-0.737268,0.073281,1.141270,0.484944,-0.751507,-0.476376,-0.383540,-0.273394,2.398815,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,0.595051,-0.737268,0.923603,1.141270,0.484944,-0.751507,-0.798642,-0.672386,-0.273394,-0.515694,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2,0.112425,-0.737268,0.356722,0.504125,0.484944,-0.751507,-1.120908,0.194151,0.528373,-0.155878,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,0.571042,-0.737268,0.923603,1.459843,0.484944,0.708180,0.490421,0.290433,-0.473836,0.563754,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4,-1.008942,-0.737268,1.773926,0.185553,-0.751445,0.124306,1.134952,-0.190976,1.129699,0.275901,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1693,-1.281154,0.502218,-1.060483,-0.770165,-0.751445,0.416243,-0.476376,-1.442641,0.728815,-1.595141,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1
1694,-1.582137,-0.737268,-0.777042,-1.407311,0.484944,-0.459569,-0.476376,0.386715,0.528373,-1.199344,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1
1695,1.128129,-0.737268,-0.210160,-0.451593,-0.751445,-0.751507,-0.154111,1.253252,0.728815,-0.191859,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1
1696,-0.989390,0.502218,-1.060483,-0.770165,-0.751445,0.124306,-0.154111,-0.576104,0.528373,-0.623638,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
1697,1.210593,1.741704,0.356722,-0.133020,-0.751445,0.124306,0.168155,-1.057513,1.330140,0.563754,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1

In [135]:
test_numerical_data=test_input[['previous_attendance','previous_away_team_errors','previous_away_team_hits','previous_away_team_runs',
                                  'previous_home_team_errors','previous_home_team_hits','previous_home_team_runs','temperature','wind_speed','previous_game_duration']]
test_binary_data=test_input[['previous_homewin']]
test_categorical_data=test_input[['game_type','previous_game_type','game_day','previous_game_day','sky']]

In [136]:
#processing numerical test data
test_numeric_imputedData=imputer.transform(test_numerical_data)
test_numeric_imputedData

array([[3.24910000e+04, 3.00000000e+00, 7.00000000e+00, ...,
        7.90000000e+01, 1.10000000e+01, 2.85000000e+00],
       [4.00190000e+04, 0.00000000e+00, 6.00000000e+00, ...,
        7.50000000e+01, 9.00000000e+00, 2.70000000e+00],
       [2.28200000e+04, 0.00000000e+00, 9.00000000e+00, ...,
        7.10000000e+01, 1.00000000e+01, 2.78333333e+00],
       ...,
       [2.47980000e+04, 0.00000000e+00, 1.30000000e+01, ...,
        7.40000000e+01, 0.00000000e+00, 2.90000000e+00],
       [1.91740000e+04, 0.00000000e+00, 1.00000000e+01, ...,
        7.70000000e+01, 1.40000000e+01, 2.95000000e+00],
       [2.74640000e+04, 0.00000000e+00, 9.00000000e+00, ...,
        7.70000000e+01, 1.40000000e+01, 2.91666667e+00]])

In [137]:
#Standerdizing the numerical values
test_numeric_standerdizedData=scaler.transform(test_numeric_imputedData)
test_numeric_standerdizedData

array([[ 2.23153454e-01,  2.98119027e+00, -4.93601199e-01, ...,
         4.82997117e-01,  7.28814895e-01, -5.15693659e-01],
       [ 9.85792437e-01, -7.37267917e-01, -7.77042132e-01, ...,
         9.78695731e-02,  3.27931289e-01, -8.39527917e-01],
       [-7.56586398e-01, -7.37267917e-01,  7.32806650e-02, ...,
        -2.87257971e-01,  5.28373092e-01, -6.59619997e-01],
       ...,
       [-5.56201181e-01, -7.37267917e-01,  1.20704439e+00, ...,
         1.58768717e-03, -1.47604494e+00, -4.07748907e-01],
       [-1.12595166e+00, -7.37267917e-01,  3.56721597e-01, ...,
         2.90433345e-01,  1.33014030e+00, -2.99804154e-01],
       [-2.86116759e-01, -7.37267917e-01,  7.32806650e-02, ...,
         2.90433345e-01,  1.33014030e+00, -3.71767322e-01]])

In [138]:
#convert numeric to pandas
test_numeric_DataDF=pd.DataFrame(test_numeric_standerdizedData,columns=test_numerical_data.columns).reset_index(drop=True)
test_numeric_DataDF.head()

,previous_attendance,previous_away_team_errors,previous_away_team_hits,previous_away_team_runs,previous_home_team_errors,previous_home_team_hits,previous_home_team_runs,temperature,wind_speed,previous_game_duration
0,0.223153,2.981190,-0.493601,-0.451593,1.721334,0.124306,0.168155,0.482997,0.728815,-0.515694
1,0.985792,-0.737268,-0.777042,-0.770165,-0.751445,0.124306,-0.476376,0.097870,0.327931,-0.839528
2,-0.756586,-0.737268,0.073281,-0.451593,-0.751445,0.416243,0.490421,-0.287258,0.528373,-0.659620
3,1.742454,-0.737268,-2.194247,-1.407311,-0.751445,-1.335382,-0.798642,1.349534,0.127489,-1.595141
4,-0.381751,-0.737268,-0.210160,-0.133020,0.484944,1.000118,0.168155,1.542098,-0.674278,0.599735

In [139]:
#Processing Categorical Test Data
test_categorical_data.isna().sum()

game_type             0
previous_game_type    0
game_day              0
previous_game_day     0
sky                   0
dtype: int64

In [140]:
#No null values in categorical data, hence converting back into pandas
test_categorical_dataDF=pd.DataFrame(test_categorical_data,columns=test_categorical_data.columns).reset_index(drop=True)
test_categorical_dataDF

      game_type previous_game_type   game_day previous_game_day       sky
0    Night Game           Day Game     Friday            Sunday     Sunny
1    Night Game         Night Game    Tuesday         Wednesday   Unknown
2    Night Game         Night Game     Friday          Thursday     Sunny
3    Night Game           Day Game     Monday            Sunday    Cloudy
4    Night Game         Night Game  Wednesday           Tuesday    Cloudy
..          ...                ...        ...               ...       ...
724  Night Game         Night Game    Tuesday            Monday    Cloudy
725  Night Game         Night Game    Tuesday            Monday   Unknown
726    Day Game           Day Game    Tuesday            Monday   In Dome
727  Night Game           Day Game    Tuesday            Monday  Overcast
728    Day Game           Day Game     Sunday          Saturday    Cloudy

[729 rows x 5 columns]

In [141]:
#One Hot Encoding test categorical data
test_categorical_data_Encoded=encoder.transform(test_categorical_dataDF)
test_categorical_data_Encoded.toarray()

array([[0., 1., 1., ..., 0., 1., 0.],
       [0., 1., 0., ..., 0., 0., 1.],
       [0., 1., 0., ..., 0., 1., 0.],
       ...,
       [1., 0., 1., ..., 0., 0., 0.],
       [0., 1., 1., ..., 0., 0., 0.],
       [1., 0., 1., ..., 0., 0., 0.]])

In [149]:
#Back to pandas
test_categorical_data_Encoded_DF=pd.DataFrame(test_categorical_data_Encoded.toarray(),
                                               columns=OneHotEncoder_column_names).reset_index(drop=True)
test_categorical_data_Encoded_DF

,Day Game,Night Game,Day Game,Night Game,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,...,Tuesday,Wednesday,Cloudy,Drizzle,In Dome,Night,Overcast,Rain,Sunny,Unknown
0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
724,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
725,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
726,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
727,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
728,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [154]:
#Concatinate all to one DataFrame
test_Final_Data=pd.concat((test_numeric_DataDF.reset_index(drop=True),test_categorical_data_Encoded_DF.reset_index(drop=True),
                           test_binary_data.reset_index(drop=True)),axis=1)
test_Final_Data

,previous_attendance,previous_away_team_errors,previous_away_team_hits,previous_away_team_runs,previous_home_team_errors,previous_home_team_hits,previous_home_team_runs,temperature,wind_speed,previous_game_duration,...,Wednesday,Cloudy,Drizzle,In Dome,Night,Overcast,Rain,Sunny,Unknown,previous_homewin
0,0.223153,2.981190,-0.493601,-0.451593,1.721334,0.124306,0.168155,0.482997,0.728815,-0.515694,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1
1,0.985792,-0.737268,-0.777042,-0.770165,-0.751445,0.124306,-0.476376,0.097870,0.327931,-0.839528,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1
2,-0.756586,-0.737268,0.073281,-0.451593,-0.751445,0.416243,0.490421,-0.287258,0.528373,-0.659620,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1
3,1.742454,-0.737268,-2.194247,-1.407311,-0.751445,-1.335382,-0.798642,1.349534,0.127489,-1.595141,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
4,-0.381751,-0.737268,-0.210160,-0.133020,0.484944,1.000118,0.168155,1.542098,-0.674278,0.599735,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
724,0.621087,-0.737268,-0.777042,0.185553,-0.751445,0.416243,1.457218,-1.153795,-0.674278,-0.623638,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
725,-1.684052,-0.737268,0.073281,-1.088738,0.484944,0.708180,0.812686,-0.576104,1.330140,-0.047933,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1
726,-0.556201,-0.737268,1.207044,1.141270,1.721334,-1.043444,-0.476376,0.001588,-1.476045,-0.407749,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0
727,-1.125952,-0.737268,0.356722,-0.451593,-0.751445,-0.751507,-0.798642,0.290433,1.330140,-0.299804,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0
728,-0.286117,-0.737268,0.073281,-0.133020,-0.751445,0.416243,0.490421,0.290433,1.330140,-0.371767,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1

## Find the Baseline (0.5 point)

In [ ]:
# This is for testing purposes

# Section 2: (3 points in total)

Build three different SVM models (by changing the kernels, regularization, etc.). Generate their training and test values. Each model is worth 1 point. 

(Add cells as needed)

## SVM Model 1:

## SVM Model 2:

## SVM Model 3:

# Section 3: (3 points in total)

Build two different SGD models (by changing the penalty, etc. or adding polynomial terms) and one LogisticRregression model. Generate their training and test values. Each model is worth 1 point.

(Add cells as needed)

## SGD Model 1:

## SGD Model 2:

## LogisticRegression Model:

# Discussion (3 points in total)

## List the train and test values of each model you built (1 point)

## Which model performs the best and why? (0.5 points) How does it compare to baseline? (0.5 points)

Hint: The best model is the one that has the highest TEST score (regardless of any of the training values). If you select your model based on TRAIN values, you will lose points.

## Is there any evidence of overfitting in the best model, why or why not? If there is, what did you do about it? (0.5 points)

## Is there any evidence of overfitting in the other models (besides the best model), why or why not? If there is, what did you do about it? (0.5 points)