# Group work - Classification

In this assignment, we will focus on sports analytics. This data set is made available by http://www.baseball-reference.com. It contains data about professional baseball (MLB) games played in the 2016 season. There are 2,427 games in the data set. Each row represents a single game. The goal is to predict the attendance at a home teamâ€™s game. This is an important task because most franchises want to predict the number of attendees for a variety of reasons including profits.

## Description of Variables

The description of variables are provided in "Baseball - Data Dictionary.docx"

## Goal

Use the **baseball.csv** data set and build a model to predict **attendance_binary**.

## Submission:

Please save and submit this Jupyter notebook file. The correctness of the code matters for your grade. **Readability and organization of your code is also important.** You may lose points for submitting unreadable/undecipherable code. Therefore, use markdown cells to create sections, and use comments where necessary.

## Recommended roles for group members:

**Section 1:** to be completed by both group members

**Section 2:** to be completed by the first group member and checked by the second

**Section 3:** to be completed by the second group member and checked by the first

**Important notes:**
- Both group members will get the same grade. Therefore, you should check the work of your group member. If they make a mistake, you will be responsible for that mistake too.
- Both group members must put in their fair share of effort. Otherwise, those who don't contribute to the assignment will not receive any grade.

# Section 1: (6 points in total)

## Data Prep (5.5 points)

In [3]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [4]:
data_frame = pd.read_csv('baseball.csv')
data_frame.head()

,attendance_binary,previous_attendance,previous_away_team_errors,previous_away_team_hits,previous_away_team_runs,game_type,previous_game_type,previous_home_team_errors,previous_home_team_hits,previous_home_team_runs,game_day,previous_game_day,temperature,wind_speed,sky,previous_game_duration,previous_homewin
0,0,43683,2,6,2,Night Game,Day Game,0,6,6,Wednesday,Monday,55,24,Overcast,2.933333,1
1,0,45785,0,7,2,Night Game,Day Game,0,10,3,Wednesday,Monday,48,7,Unknown,2.800000,1
2,0,48282,0,8,4,Night Game,Day Game,2,4,3,Wednesday,Monday,65,10,Cloudy,3.383333,0
3,0,21830,0,9,6,Day Game,Night Game,0,15,11,Wednesday,Tuesday,77,0,In Dome,3.233333,1
4,0,49289,2,4,2,Night Game,Day Game,1,1,3,Tuesday,Monday,81,12,Cloudy,2.633333,1

In [5]:
train_set, test_set = train_test_split(data_frame, test_size=0.3)
train_set.head()

,attendance_binary,previous_attendance,previous_away_team_errors,previous_away_team_hits,previous_away_team_runs,game_type,previous_game_type,previous_home_team_errors,previous_home_team_hits,previous_home_team_runs,game_day,previous_game_day,temperature,wind_speed,sky,previous_game_duration,previous_homewin
1687,1,19901,0,7,5,Night Game,Night Game,1,13,3,Friday,Thursday,59,1,In Dome,3.650000,0
110,0,22642,1,8,4,Day Game,Night Game,0,9,5,Thursday,Wednesday,73,0,In Dome,3.716667,1
954,0,32074,2,5,3,Night Game,Day Game,0,11,1,Monday,Sunday,76,11,Unknown,2.833333,0
1152,1,41157,1,5,1,Day Game,Night Game,0,7,3,Friday,Thursday,76,10,Cloudy,2.850000,1
1608,0,28196,0,4,0,Night Game,Day Game,0,5,1,Friday,Sunday,77,0,In Dome,2.283333,1

In [6]:
test_set.head()

,attendance_binary,previous_attendance,previous_away_team_errors,previous_away_team_hits,previous_away_team_runs,game_type,previous_game_type,previous_home_team_errors,previous_home_team_hits,previous_home_team_runs,game_day,previous_game_day,temperature,wind_speed,sky,previous_game_duration,previous_homewin
1803,0,23147,1,6,3,Night Game,Day Game,2,6,5,Tuesday,Monday,89,3,Cloudy,2.616667,1
1960,0,27461,0,11,4,Night Game,Day Game,2,8,3,Tuesday,Sunday,62,5,Unknown,3.500000,0
1855,0,25237,2,10,5,Night Game,Day Game,1,6,4,Friday,Sunday,69,11,Cloudy,2.916667,0
1992,1,37430,0,11,5,Day Game,Day Game,0,14,6,Sunday,Saturday,58,25,Cloudy,4.216667,1
2085,1,40981,0,12,8,Night Game,Day Game,0,6,1,Friday,Sunday,50,17,Drizzle,2.833333,0

In [7]:
## Checking Null values counts per column
train_set.dtypes

attendance_binary              int64
previous_attendance            int64
previous_away_team_errors      int64
previous_away_team_hits        int64
previous_away_team_runs        int64
game_type                     object
previous_game_type            object
previous_home_team_errors      int64
previous_home_team_hits        int64
previous_home_team_runs        int64
game_day                      object
previous_game_day             object
temperature                    int64
wind_speed                     int64
sky                           object
previous_game_duration       float64
previous_homewin               int64
dtype: object

In [8]:
for item in train_set.dtypes:
    print(item)

int64
int64
int64
int64
int64
object
object
int64
int64
int64
object
object
int64
int64
object
float64
int64

In [9]:
# check for quantity of Null Values
test_set.isnull().sum()

attendance_binary            0
previous_attendance          0
previous_away_team_errors    0
previous_away_team_hits      0
previous_away_team_runs      0
game_type                    0
previous_game_type           0
previous_home_team_errors    0
previous_home_team_hits      0
previous_home_team_runs      0
game_day                     0
previous_game_day            0
temperature                  0
wind_speed                   0
sky                          0
previous_game_duration       0
previous_homewin             0
dtype: int64

In [10]:
# Checking for null values in the train split
train_set.isnull().sum()

attendance_binary            0
previous_attendance          0
previous_away_team_errors    0
previous_away_team_hits      0
previous_away_team_runs      0
game_type                    0
previous_game_type           0
previous_home_team_errors    0
previous_home_team_hits      0
previous_home_team_runs      0
game_day                     0
previous_game_day            0
temperature                  0
wind_speed                   0
sky                          0
previous_game_duration       0
previous_homewin             0
dtype: int64

In [11]:
# Verifying the split has been done correctly
print(train_set.shape)
print(test_set.shape)

(1698, 17)
(729, 17)

In [12]:
# Gathering cols in a separate list
my_cols = list(data_frame.columns)
my_cols

['attendance_binary',
 'previous_attendance',
 'previous_away_team_errors',
 'previous_away_team_hits',
 'previous_away_team_runs',
 'game_type',
 'previous_game_type',
 'previous_home_team_errors',
 'previous_home_team_hits',
 'previous_home_team_runs',
 'game_day',
 'previous_game_day',
 'temperature',
 'wind_speed',
 'sky',
 'previous_game_duration',
 'previous_homewin']

In [13]:
# Verifying cols quantity
len(my_cols)

17

In [14]:
# Separating target variable into a separate data frame
train_target = train_set[[my_cols[0]]]
train_target

      attendance_binary
1874                  0
354                   1
1539                  1
679                   0
688                   1
...                 ...
2004                  1
1065                  1
318                   0
2362                  0
1004                  1

[1698 rows x 1 columns]

In [14]:
test_target = test_set[[my_cols[0]]]
test_target

      attendance_binary
1803                  0
1960                  0
1855                  0
1992                  1
2085                  1
...                 ...
1133                  0
586                   0
1007                  0
1988                  1
2187                  0

[729 rows x 1 columns]

In [15]:
# Split target variable from the data frames
train_input = train_set.drop([my_cols[0]], axis=1)
test_input = test_set.drop([my_cols[0]], axis=1)
print(train_input.shape, test_input.shape, sep='\n')

(1698, 16)
(729, 16)

In [17]:
train_input

,previous_attendance,previous_away_team_errors,previous_away_team_hits,previous_away_team_runs,game_type,previous_game_type,previous_home_team_errors,previous_home_team_hits,previous_home_team_runs,game_day,previous_game_day,temperature,wind_speed,sky,previous_game_duration,previous_homewin
1687,19901,0,7,5,Night Game,Night Game,1,13,3,Friday,Thursday,59,1,In Dome,3.650000,0
110,22642,1,8,4,Day Game,Night Game,0,9,5,Thursday,Wednesday,73,0,In Dome,3.716667,1
954,32074,2,5,3,Night Game,Day Game,0,11,1,Monday,Sunday,76,11,Unknown,2.833333,0
1152,41157,1,5,1,Day Game,Night Game,0,7,3,Friday,Thursday,76,10,Cloudy,2.850000,1
1608,28196,0,4,0,Night Game,Day Game,0,5,1,Friday,Sunday,77,0,In Dome,2.283333,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
228,33032,0,5,3,Night Game,Night Game,0,8,4,Saturday,Friday,80,7,Cloudy,2.916667,1
330,19796,0,9,2,Night Game,Night Game,0,12,3,Friday,Thursday,64,1,Sunny,2.900000,1
1558,13811,0,5,4,Night Game,Night Game,2,11,7,Tuesday,Monday,80,4,Sunny,2.433333,1
1285,38861,1,6,0,Day Game,Night Game,0,10,6,Sunday,Saturday,87,4,Cloudy,2.600000,1
1364,11267,0,9,7,Day Game,Night Game,3,9,2,Thursday,Wednesday,72,0,In Dome,3.300000,0

In [23]:
#splitting data based on type
train_numerical_data=train_input[['previous_attendance','previous_away_team_errors','previous_away_team_hits','previous_away_team_runs',
                                  'previous_home_team_errors','previous_home_team_hits','previous_home_team_runs','temperature','wind_speed','previous_game_duration']]
train_binary_data=train_input[['previous_homewin']]
train_categorical_data=train_input[['game_type','previous_game_type','game_day','previous_game_day','sky']]

In [29]:
#numercial value Process
#imputation of numerical values
from sklearn.impute import SimpleImputer
imputer=SimpleImputer(strategy="mean")
train_numeric_imputedData=imputer.fit_transform(train_numerical_data)

In [30]:
train_numeric_imputedData

array([[1.99010000e+04, 0.00000000e+00, 7.00000000e+00, ...,
        5.90000000e+01, 1.00000000e+00, 3.65000000e+00],
       [2.26420000e+04, 1.00000000e+00, 8.00000000e+00, ...,
        7.30000000e+01, 0.00000000e+00, 3.71666667e+00],
       [3.20740000e+04, 2.00000000e+00, 5.00000000e+00, ...,
        7.60000000e+01, 1.10000000e+01, 2.83333333e+00],
       ...,
       [1.38110000e+04, 0.00000000e+00, 5.00000000e+00, ...,
        8.00000000e+01, 4.00000000e+00, 2.43333333e+00],
       [3.88610000e+04, 1.00000000e+00, 6.00000000e+00, ...,
        8.70000000e+01, 4.00000000e+00, 2.60000000e+00],
       [1.12670000e+04, 0.00000000e+00, 9.00000000e+00, ...,
        7.20000000e+01, 0.00000000e+00, 3.30000000e+00]])

In [34]:
#standerdizing values
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
train_numeric_StanderdizedData=scaler.fit_transform(train_numeric_imputedData)

In [35]:
train_numeric_StanderdizedData

array([[-1.03983495, -0.72743715, -0.50404626, ..., -1.45368499,
        -1.28277125,  1.28557894],
       [-0.7629145 ,  0.52022778, -0.22148748, ..., -0.10727341,
        -1.48145278,  1.43609612],
       [ 0.1899909 ,  1.7678927 , -1.06916382, ...,  0.18124336,
         0.70404402, -0.55825652],
       ...,
       [-1.65510148, -0.72743715, -1.06916382, ...,  0.56593238,
        -0.68672667, -1.4613596 ],
       [ 0.87567463,  0.52022778, -0.78660504, ...,  1.23913817,
        -0.68672667, -1.08506665],
       [-1.91211922, -0.72743715,  0.0610713 , ..., -0.20344567,
        -1.48145278,  0.49536374]])

In [39]:
#Back to pandas(Numerics)
train_numeric_DataDF=pd.DataFrame(train_numeric_StanderdizedData,columns=train_numerical_data.columns).reset_index(drop=True)
train_numeric_DataDF.head()

,previous_attendance,previous_away_team_errors,previous_away_team_hits,previous_away_team_runs,previous_home_team_errors,previous_home_team_hits,previous_home_team_runs,temperature,wind_speed,previous_game_duration
0,-1.039835,-0.727437,-0.504046,0.173554,0.499576,1.251840,-0.509876,-1.453685,-1.282771,1.285579
1,-0.762915,0.520228,-0.221487,-0.149222,-0.726262,0.101766,0.120921,-0.107273,-1.481453,1.436096
2,0.189991,1.767893,-1.069164,-0.471997,-0.726262,0.676803,-1.140673,0.181243,0.704044,-0.558257
3,1.107637,0.520228,-1.069164,-1.117548,-0.726262,-0.473271,-0.509876,0.181243,0.505362,-0.520627
4,-0.201800,-0.727437,-1.351723,-1.440324,-0.726262,-1.048308,-1.140673,0.277416,-1.481453,-1.800023

In [42]:
#Processing Categorical
train_categorical_data.isna().sum()
#I believe no need to process categorical in this case as there are no null values, NIC please confirm.

game_type             0
previous_game_type    0
game_day              0
previous_game_day     0
sky                   0
dtype: int64

In [46]:
#Categorical back to pandas
train_categorical_DataDF=pd.DataFrame(train_Categorical_data,columns=train_categorical_data.columns).reset_index(drop=True)
train_categorical_DataDF

       game_type previous_game_type  game_day previous_game_day      sky
0     Night Game         Night Game    Friday          Thursday  In Dome
1       Day Game         Night Game  Thursday         Wednesday  In Dome
2     Night Game           Day Game    Monday            Sunday  Unknown
3       Day Game         Night Game    Friday          Thursday   Cloudy
4     Night Game           Day Game    Friday            Sunday  In Dome
...          ...                ...       ...               ...      ...
1693  Night Game         Night Game  Saturday            Friday   Cloudy
1694  Night Game         Night Game    Friday          Thursday    Sunny
1695  Night Game         Night Game   Tuesday            Monday    Sunny
1696    Day Game         Night Game    Sunday          Saturday   Cloudy
1697    Day Game         Night Game  Thursday         Wednesday  In Dome

[1698 rows x 5 columns]

In [50]:
#One hard encoding to categorical values
from sklearn.preprocessing import OneHotEncoder
encoder=OneHotEncoder()
train_categorical_data_Encoded=encoder.fit_transform(train_categorical_DataDF)
train_categorical_data_Encoded.toarray()

array([[0., 1., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 1., ..., 0., 0., 1.],
       ...,
       [0., 1., 0., ..., 0., 1., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.]])

In [51]:
encoder.categories_

[array(['Day Game', 'Night Game'], dtype=object),
 array(['Day Game', 'Night Game'], dtype=object),
 array(['Friday', 'Monday', 'Saturday', 'Sunday', 'Thursday', 'Tuesday',
        'Wednesday'], dtype=object),
 array(['Friday', 'Monday', 'Saturday', 'Sunday', 'Thursday', 'Tuesday',
        'Wednesday'], dtype=object),
 array(['Cloudy', 'Drizzle', 'In Dome', 'Night', 'Overcast', 'Rain',
        'Sunny', 'Unknown'], dtype=object)]

In [53]:
OneHotEncoder_column_names=[item for sublist in encoder.categories_ for item in sublist]
OneHotEncoder_column_names

['Day Game',
 'Night Game',
 'Day Game',
 'Night Game',
 'Friday',
 'Monday',
 'Saturday',
 'Sunday',
 'Thursday',
 'Tuesday',
 'Wednesday',
 'Friday',
 'Monday',
 'Saturday',
 'Sunday',
 'Thursday',
 'Tuesday',
 'Wednesday',
 'Cloudy',
 'Drizzle',
 'In Dome',
 'Night',
 'Overcast',
 'Rain',
 'Sunny',
 'Unknown']

In [55]:
#back to pandas
train_categorical_data_Encoded.DF=pd.DataFrame(train_categorical_data_Encoded.toarray(),
                                               columns=OneHotEncoder_column_names).reset_index(drop=True)
train_categorical_data_Encoded.DF

,Day Game,Night Game,Day Game,Night Game,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,...,Tuesday,Wednesday,Cloudy,Drizzle,In Dome,Night,Overcast,Rain,Sunny,Unknown
0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1693,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1694,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1695,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1696,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1697,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [58]:
#Concatinate all Train Data
Train_Data_Final=pd.concat((train_numeric_DataDF.reset_index(drop=True),train_categorical_data_Encoded.DF.reset_index(drop=True)
                           ,train_binary_data.reset_index(drop=True)),axis=1)
Train_Data_Final

,previous_attendance,previous_away_team_errors,previous_away_team_hits,previous_away_team_runs,previous_home_team_errors,previous_home_team_hits,previous_home_team_runs,temperature,wind_speed,previous_game_duration,...,Wednesday,Cloudy,Drizzle,In Dome,Night,Overcast,Rain,Sunny,Unknown,previous_homewin
0,-1.039835,-0.727437,-0.504046,0.173554,0.499576,1.251840,-0.509876,-1.453685,-1.282771,1.285579,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0
1,-0.762915,0.520228,-0.221487,-0.149222,-0.726262,0.101766,0.120921,-0.107273,-1.481453,1.436096,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1
2,0.189991,1.767893,-1.069164,-0.471997,-0.726262,0.676803,-1.140673,0.181243,0.704044,-0.558257,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0
3,1.107637,0.520228,-1.069164,-1.117548,-0.726262,-0.473271,-0.509876,0.181243,0.505362,-0.520627,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
4,-0.201800,-0.727437,-1.351723,-1.440324,-0.726262,-1.048308,-1.140673,0.277416,-1.481453,-1.800023,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1693,0.286777,-0.727437,-1.069164,-0.471997,-0.726262,-0.185752,-0.194477,0.565932,-0.090682,-0.370110,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
1694,-1.050443,-0.727437,0.061071,-0.794773,-0.726262,0.964321,-0.509876,-0.972824,-1.282771,-0.407739,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1
1695,-1.655101,-0.727437,-1.069164,-0.149222,1.725413,0.676803,0.751718,0.565932,-0.686727,-1.461360,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1
1696,0.875675,0.520228,-0.786605,-1.440324,-0.726262,0.389284,0.436320,1.239138,-0.686727,-1.085067,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
1697,-1.912119,-0.727437,0.061071,0.819105,2.951250,0.101766,-0.825274,-0.203446,-1.481453,0.495364,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0

## Find the Baseline (0.5 point)

In [ ]:
# This is for testing purposes

# Section 2: (3 points in total)

Build three different SVM models (by changing the kernels, regularization, etc.). Generate their training and test values. Each model is worth 1 point. 

(Add cells as needed)

## SVM Model 1:

## SVM Model 2:

## SVM Model 3:

# Section 3: (3 points in total)

Build two different SGD models (by changing the penalty, etc. or adding polynomial terms) and one LogisticRregression model. Generate their training and test values. Each model is worth 1 point.

(Add cells as needed)

## SGD Model 1:

## SGD Model 2:

## LogisticRegression Model:

# Discussion (3 points in total)

## List the train and test values of each model you built (1 point)

## Which model performs the best and why? (0.5 points) How does it compare to baseline? (0.5 points)

Hint: The best model is the one that has the highest TEST score (regardless of any of the training values). If you select your model based on TRAIN values, you will lose points.

## Is there any evidence of overfitting in the best model, why or why not? If there is, what did you do about it? (0.5 points)

## Is there any evidence of overfitting in the other models (besides the best model), why or why not? If there is, what did you do about it? (0.5 points)