# Group work - Classification

In this assignment, we will focus on sports analytics. This data set is made available by http://www.baseball-reference.com. It contains data about professional baseball (MLB) games played in the 2016 season. There are 2,427 games in the data set. Each row represents a single game. The goal is to predict the attendance at a home team’s game. This is an important task because most franchises want to predict the number of attendees for a variety of reasons including profits.

## Description of Variables

The description of variables are provided in "Baseball - Data Dictionary.docx"

## Goal

Use the **baseball.csv** data set and build a model to predict **attendance_binary**.

## Submission:

Please save and submit this Jupyter notebook file. The correctness of the code matters for your grade. **Readability and organization of your code is also important.** You may lose points for submitting unreadable/undecipherable code. Therefore, use markdown cells to create sections, and use comments where necessary.

## Recommended roles for group members:

**Section 1:** to be completed by both group members

**Section 2:** to be completed by the first group member and checked by the second

**Section 3:** to be completed by the second group member and checked by the first

**Important notes:**
- Both group members will get the same grade. Therefore, you should check the work of your group member. If they make a mistake, you will be responsible for that mistake too.
- Both group members must put in their fair share of effort. Otherwise, those who don't contribute to the assignment will not receive any grade.

# Section 1: (6 points in total)

## Data Prep (5.5 points)

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
data_frame = pd.read_csv('baseball.csv')
data_frame.head()

,attendance_binary,previous_attendance,previous_away_team_errors,previous_away_team_hits,previous_away_team_runs,game_type,previous_game_type,previous_home_team_errors,previous_home_team_hits,previous_home_team_runs,game_day,previous_game_day,temperature,wind_speed,sky,previous_game_duration,previous_homewin
0,0,43683,2,6,2,Night Game,Day Game,0,6,6,Wednesday,Monday,55,24,Overcast,2.933333,1
1,0,45785,0,7,2,Night Game,Day Game,0,10,3,Wednesday,Monday,48,7,Unknown,2.800000,1
2,0,48282,0,8,4,Night Game,Day Game,2,4,3,Wednesday,Monday,65,10,Cloudy,3.383333,0
3,0,21830,0,9,6,Day Game,Night Game,0,15,11,Wednesday,Tuesday,77,0,In Dome,3.233333,1
4,0,49289,2,4,2,Night Game,Day Game,1,1,3,Tuesday,Monday,81,12,Cloudy,2.633333,1

In [3]:
train_set, test_set = train_test_split(data_frame, test_size=0.3)
train_set.head()

,attendance_binary,previous_attendance,previous_away_team_errors,previous_away_team_hits,previous_away_team_runs,game_type,previous_game_type,previous_home_team_errors,previous_home_team_hits,previous_home_team_runs,game_day,previous_game_day,temperature,wind_speed,sky,previous_game_duration,previous_homewin
2386,1,38106,0,10,4,Day Game,Night Game,2,5,1,Sunday,Saturday,67,10,Unknown,2.883333,0
1117,1,36279,0,8,4,Night Game,Day Game,1,6,6,Monday,Sunday,76,7,Unknown,3.100000,1
748,0,26437,0,11,8,Night Game,Day Game,1,9,5,Thursday,Thursday,72,8,Cloudy,2.816667,0
1265,0,10651,0,10,4,Night Game,Night Game,2,11,7,Tuesday,Monday,65,15,Sunny,3.100000,1
313,1,19233,1,12,7,Night Game,Night Game,0,9,6,Friday,Thursday,73,5,Cloudy,3.450000,0

In [4]:
test_set.head()

,attendance_binary,previous_attendance,previous_away_team_errors,previous_away_team_hits,previous_away_team_runs,game_type,previous_game_type,previous_home_team_errors,previous_home_team_hits,previous_home_team_runs,game_day,previous_game_day,temperature,wind_speed,sky,previous_game_duration,previous_homewin
2014,1,31226,0,9,7,Night Game,Night Game,0,7,3,Thursday,Wednesday,73,6,Sunny,3.300000,0
2038,0,27153,1,7,4,Night Game,Night Game,0,7,5,Tuesday,Monday,63,8,Cloudy,2.950000,1
2372,1,37160,2,9,9,Night Game,Day Game,0,11,7,Tuesday,Monday,53,12,Cloudy,3.433333,0
14,0,24109,1,8,4,Night Game,Night Game,1,6,2,Thursday,Wednesday,75,2,Cloudy,3.050000,0
784,0,37583,0,7,3,Night Game,Day Game,0,5,1,Monday,Sunday,80,7,Unknown,2.650000,0

In [5]:
## Checking Null values counts per column
train_set.dtypes

attendance_binary              int64
previous_attendance            int64
previous_away_team_errors      int64
previous_away_team_hits        int64
previous_away_team_runs        int64
game_type                     object
previous_game_type            object
previous_home_team_errors      int64
previous_home_team_hits        int64
previous_home_team_runs        int64
game_day                      object
previous_game_day             object
temperature                    int64
wind_speed                     int64
sky                           object
previous_game_duration       float64
previous_homewin               int64
dtype: object

In [6]:
for item in train_set.dtypes:
    print(item)

int64
int64
int64
int64
int64
object
object
int64
int64
int64
object
object
int64
int64
object
float64
int64

In [7]:
# check for quantity of Null Values
test_set.isnull().sum()

attendance_binary            0
previous_attendance          0
previous_away_team_errors    0
previous_away_team_hits      0
previous_away_team_runs      0
game_type                    0
previous_game_type           0
previous_home_team_errors    0
previous_home_team_hits      0
previous_home_team_runs      0
game_day                     0
previous_game_day            0
temperature                  0
wind_speed                   0
sky                          0
previous_game_duration       0
previous_homewin             0
dtype: int64

In [8]:
# Checking for null values in the train split
train_set.isnull().sum()

attendance_binary            0
previous_attendance          0
previous_away_team_errors    0
previous_away_team_hits      0
previous_away_team_runs      0
game_type                    0
previous_game_type           0
previous_home_team_errors    0
previous_home_team_hits      0
previous_home_team_runs      0
game_day                     0
previous_game_day            0
temperature                  0
wind_speed                   0
sky                          0
previous_game_duration       0
previous_homewin             0
dtype: int64

In [9]:
# Verifying the split has been done correctly
print(train_set.shape)
print(test_set.shape)

(1698, 17)
(729, 17)

In [10]:
# Gathering cols in a separate list
my_cols = list(data_frame.columns)
my_cols

['attendance_binary',
 'previous_attendance',
 'previous_away_team_errors',
 'previous_away_team_hits',
 'previous_away_team_runs',
 'game_type',
 'previous_game_type',
 'previous_home_team_errors',
 'previous_home_team_hits',
 'previous_home_team_runs',
 'game_day',
 'previous_game_day',
 'temperature',
 'wind_speed',
 'sky',
 'previous_game_duration',
 'previous_homewin']

In [11]:
# Verifying cols quantity
len(my_cols)

17

In [12]:
# Separating target variable into a separate data frame
train_target = train_set[[my_cols[0]]]
train_target

      attendance_binary
2386                  1
1117                  1
748                   0
1265                  0
313                   1
...                 ...
1816                  1
2210                  0
1304                  0
3                     0
2000                  0

[1698 rows x 1 columns]

In [13]:
test_target = test_set[[my_cols[0]]]
test_target

      attendance_binary
2014                  1
2038                  0
2372                  1
14                    0
784                   0
...                 ...
536                   0
1795                  1
847                   0
1476                  0
1203                  1

[729 rows x 1 columns]

In [14]:
# Split target variable from the data frames
train_input = train_set.drop([my_cols[0]], axis=1)
test_input = test_set.drop([my_cols[0]], axis=1)
print(train_input.shape, test_input.shape, sep='\n')

(1698, 16)
(729, 16)

In [15]:
train_input

,previous_attendance,previous_away_team_errors,previous_away_team_hits,previous_away_team_runs,game_type,previous_game_type,previous_home_team_errors,previous_home_team_hits,previous_home_team_runs,game_day,previous_game_day,temperature,wind_speed,sky,previous_game_duration,previous_homewin
2386,38106,0,10,4,Day Game,Night Game,2,5,1,Sunday,Saturday,67,10,Unknown,2.883333,0
1117,36279,0,8,4,Night Game,Day Game,1,6,6,Monday,Sunday,76,7,Unknown,3.100000,1
748,26437,0,11,8,Night Game,Day Game,1,9,5,Thursday,Thursday,72,8,Cloudy,2.816667,0
1265,10651,0,10,4,Night Game,Night Game,2,11,7,Tuesday,Monday,65,15,Sunny,3.100000,1
313,19233,1,12,7,Night Game,Night Game,0,9,6,Friday,Thursday,73,5,Cloudy,3.450000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1816,41575,1,6,2,Day Game,Day Game,0,10,7,Monday,Sunday,70,12,Sunny,2.833333,1
2210,18208,1,11,7,Night Game,Night Game,0,18,12,Tuesday,Monday,76,6,Sunny,3.433333,1
1304,14576,0,8,5,Night Game,Day Game,1,5,1,Friday,Thursday,72,0,In Dome,3.016667,0
3,21830,0,9,6,Day Game,Night Game,0,15,11,Wednesday,Tuesday,77,0,In Dome,3.233333,1
2000,22230,0,4,2,Night Game,Night Game,1,7,3,Saturday,Friday,64,7,Rain,2.616667,1

In [16]:
#splitting data based on type
train_numerical_data=train_input[['previous_attendance','previous_away_team_errors','previous_away_team_hits','previous_away_team_runs',
                                  'previous_home_team_errors','previous_home_team_hits','previous_home_team_runs','temperature','wind_speed','previous_game_duration']]
train_binary_data=train_input[['previous_homewin']]
train_categorical_data=train_input[['game_type','previous_game_type','game_day','previous_game_day','sky']]

In [17]:
#numercial value Process
#imputation of numerical values
from sklearn.impute import SimpleImputer
imputer=SimpleImputer(strategy="mean")
train_numeric_imputedData=imputer.fit_transform(train_numerical_data)

In [18]:
train_numeric_imputedData

array([[3.81060000e+04, 0.00000000e+00, 1.00000000e+01, ...,
        6.70000000e+01, 1.00000000e+01, 2.88333333e+00],
       [3.62790000e+04, 0.00000000e+00, 8.00000000e+00, ...,
        7.60000000e+01, 7.00000000e+00, 3.10000000e+00],
       [2.64370000e+04, 0.00000000e+00, 1.10000000e+01, ...,
        7.20000000e+01, 8.00000000e+00, 2.81666667e+00],
       ...,
       [1.45760000e+04, 0.00000000e+00, 8.00000000e+00, ...,
        7.20000000e+01, 0.00000000e+00, 3.01666667e+00],
       [2.18300000e+04, 0.00000000e+00, 9.00000000e+00, ...,
        7.70000000e+01, 0.00000000e+00, 3.23333333e+00],
       [2.22300000e+04, 0.00000000e+00, 4.00000000e+00, ...,
        6.40000000e+01, 7.00000000e+00, 2.61666667e+00]])

In [19]:
#standerdizing values
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
train_numeric_StanderdizedData=scaler.fit_transform(train_numeric_imputedData)

In [20]:
train_numeric_StanderdizedData

array([[ 0.81003704, -0.72458373,  0.33209881, ..., -0.67553098,
         0.5003033 , -0.43440959],
       [ 0.62460357, -0.72458373, -0.23067941, ...,  0.19771081,
        -0.09059515,  0.03814892],
       [-0.37432158, -0.72458373,  0.61348792, ..., -0.19039665,
         0.106371  , -0.57981221],
       ...,
       [-1.57816747, -0.72458373, -0.23067941, ..., -0.19039665,
        -1.46935821, -0.14360435],
       [-0.84191436, -0.72458373,  0.0507097 , ...,  0.29473768,
        -1.46935821,  0.32895416],
       [-0.8013159 , -0.72458373, -1.35623585, ..., -0.96661158,
        -0.09059515, -1.01602006]])

In [21]:
#Back to pandas(Numerics)
train_numeric_DataDF=pd.DataFrame(train_numeric_StanderdizedData,columns=train_numerical_data.columns).reset_index(drop=True)
train_numeric_DataDF.head()

,previous_attendance,previous_away_team_errors,previous_away_team_hits,previous_away_team_runs,previous_home_team_errors,previous_home_team_hits,previous_home_team_runs,temperature,wind_speed,previous_game_duration
0,0.810037,-0.724584,0.332099,-0.145406,1.798065,-1.039959,-1.112892,-0.675531,0.500303,-0.434410
1,0.624604,-0.724584,-0.230679,-0.145406,0.538010,-0.753481,0.470294,0.197711,-0.090595,0.038149
2,-0.374322,-0.724584,0.613488,1.127273,0.538010,0.105953,0.153657,-0.190397,0.106371,-0.579812
3,-1.976540,-0.724584,0.332099,-0.145406,1.798065,0.678909,0.786931,-0.869585,1.485134,0.038149
4,-1.105500,0.550383,0.894877,0.809103,-0.722046,0.105953,0.470294,-0.093370,-0.484527,0.801513

In [22]:
#Processing Categorical
train_categorical_data.isna().sum()
#I believe no need to process categorical in this case as there are no null values, NIC please confirm.

game_type             0
previous_game_type    0
game_day              0
previous_game_day     0
sky                   0
dtype: int64

In [23]:
#Categorical back to pandas
train_categorical_DataDF=pd.DataFrame(train_categorical_data,columns=train_categorical_data.columns).reset_index(drop=True)
train_categorical_DataDF

       game_type previous_game_type   game_day previous_game_day      sky
0       Day Game         Night Game     Sunday          Saturday  Unknown
1     Night Game           Day Game     Monday            Sunday  Unknown
2     Night Game           Day Game   Thursday          Thursday   Cloudy
3     Night Game         Night Game    Tuesday            Monday    Sunny
4     Night Game         Night Game     Friday          Thursday   Cloudy
...          ...                ...        ...               ...      ...
1693    Day Game           Day Game     Monday            Sunday    Sunny
1694  Night Game         Night Game    Tuesday            Monday    Sunny
1695  Night Game           Day Game     Friday          Thursday  In Dome
1696    Day Game         Night Game  Wednesday           Tuesday  In Dome
1697  Night Game         Night Game   Saturday            Friday     Rain

[1698 rows x 5 columns]

In [24]:
#One hard encoding to categorical values
from sklearn.preprocessing import OneHotEncoder
encoder=OneHotEncoder()
train_categorical_data_Encoded=encoder.fit_transform(train_categorical_DataDF)
train_categorical_data_Encoded.toarray()

array([[1., 0., 0., ..., 0., 0., 1.],
       [0., 1., 1., ..., 0., 0., 1.],
       [0., 1., 1., ..., 0., 0., 0.],
       ...,
       [0., 1., 1., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 1., 0., 0.]])

In [25]:
encoder.categories_

[array(['Day Game', 'Night Game'], dtype=object),
 array(['Day Game', 'Night Game'], dtype=object),
 array(['Friday', 'Monday', 'Saturday', 'Sunday', 'Thursday', 'Tuesday',
        'Wednesday'], dtype=object),
 array(['Friday', 'Monday', 'Saturday', 'Sunday', 'Thursday', 'Tuesday',
        'Wednesday'], dtype=object),
 array(['Cloudy', 'Drizzle', 'In Dome', 'Night', 'Overcast', 'Rain',
        'Sunny', 'Unknown'], dtype=object)]

In [26]:
OneHotEncoder_column_names=[item for sublist in encoder.categories_ for item in sublist]
OneHotEncoder_column_names

['Day Game',
 'Night Game',
 'Day Game',
 'Night Game',
 'Friday',
 'Monday',
 'Saturday',
 'Sunday',
 'Thursday',
 'Tuesday',
 'Wednesday',
 'Friday',
 'Monday',
 'Saturday',
 'Sunday',
 'Thursday',
 'Tuesday',
 'Wednesday',
 'Cloudy',
 'Drizzle',
 'In Dome',
 'Night',
 'Overcast',
 'Rain',
 'Sunny',
 'Unknown']

In [27]:
#back to pandas
train_categorical_data_Encoded_DF=pd.DataFrame(train_categorical_data_Encoded.toarray(),
                                               columns=OneHotEncoder_column_names).reset_index(drop=True)
train_categorical_data_Encoded_DF

,Day Game,Night Game,Day Game,Night Game,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,...,Tuesday,Wednesday,Cloudy,Drizzle,In Dome,Night,Overcast,Rain,Sunny,Unknown
0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1693,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1694,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1695,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1696,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1697,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [28]:
#Concatinate all Train Data
Train_Data_Final=pd.concat((train_numeric_DataDF.reset_index(drop=True),train_categorical_data_Encoded_DF.reset_index(drop=True)
                           ,train_binary_data.reset_index(drop=True)),axis=1)
Train_Data_Final

,previous_attendance,previous_away_team_errors,previous_away_team_hits,previous_away_team_runs,previous_home_team_errors,previous_home_team_hits,previous_home_team_runs,temperature,wind_speed,previous_game_duration,...,Wednesday,Cloudy,Drizzle,In Dome,Night,Overcast,Rain,Sunny,Unknown,previous_homewin
0,0.810037,-0.724584,0.332099,-0.145406,1.798065,-1.039959,-1.112892,-0.675531,0.500303,-0.434410,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0
1,0.624604,-0.724584,-0.230679,-0.145406,0.538010,-0.753481,0.470294,0.197711,-0.090595,0.038149,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1
2,-0.374322,-0.724584,0.613488,1.127273,0.538010,0.105953,0.153657,-0.190397,0.106371,-0.579812,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,-1.976540,-0.724584,0.332099,-0.145406,1.798065,0.678909,0.786931,-0.869585,1.485134,0.038149,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1
4,-1.105500,0.550383,0.894877,0.809103,-0.722046,0.105953,0.470294,-0.093370,-0.484527,0.801513,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1693,1.162127,0.550383,-0.793458,-0.781746,-0.722046,0.392431,0.786931,-0.384450,0.894236,-0.543462,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1
1694,-1.209533,0.550383,0.613488,0.809103,-0.722046,2.684256,2.370116,0.197711,-0.287561,0.765162,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1
1695,-1.578167,-0.724584,-0.230679,0.172764,0.538010,-1.039959,-1.112892,-0.190397,-1.469358,-0.143604,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0
1696,-0.841914,-0.724584,0.050710,0.490933,-0.722046,1.824821,2.053479,0.294738,-1.469358,0.328954,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1
1697,-0.801316,-0.724584,-1.356236,-0.781746,0.538010,-0.467003,-0.479617,-0.966612,-0.090595,-1.016020,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1

In [29]:
test_numerical_data=test_input[['previous_attendance','previous_away_team_errors','previous_away_team_hits','previous_away_team_runs',
                                  'previous_home_team_errors','previous_home_team_hits','previous_home_team_runs','temperature','wind_speed','previous_game_duration']]
test_binary_data=test_input[['previous_homewin']]
test_categorical_data=test_input[['game_type','previous_game_type','game_day','previous_game_day','sky']]

In [30]:
#processing numerical test data
test_numeric_imputedData=imputer.transform(test_numerical_data)
test_numeric_imputedData

array([[3.12260000e+04, 0.00000000e+00, 9.00000000e+00, ...,
        7.30000000e+01, 6.00000000e+00, 3.30000000e+00],
       [2.71530000e+04, 1.00000000e+00, 7.00000000e+00, ...,
        6.30000000e+01, 8.00000000e+00, 2.95000000e+00],
       [3.71600000e+04, 2.00000000e+00, 9.00000000e+00, ...,
        5.30000000e+01, 1.20000000e+01, 3.43333333e+00],
       ...,
       [1.85130000e+04, 0.00000000e+00, 6.00000000e+00, ...,
        7.70000000e+01, 0.00000000e+00, 2.83333333e+00],
       [1.55380000e+04, 0.00000000e+00, 1.40000000e+01, ...,
        7.50000000e+01, 2.00000000e+00, 3.25000000e+00],
       [3.07470000e+04, 1.00000000e+00, 6.00000000e+00, ...,
        9.60000000e+01, 6.00000000e+00, 3.01666667e+00]])

In [31]:
#Standerdizing the numerical values
test_numeric_standerdizedData=scaler.transform(test_numeric_imputedData)
test_numeric_standerdizedData

array([[ 0.1117435 , -0.72458373,  0.0507097 , ..., -0.09336979,
        -0.2875613 ,  0.47435678],
       [-0.30165034,  0.55038329, -0.51206852, ..., -1.06363844,
         0.106371  , -0.28900697],
       [ 0.71402168,  1.8253503 ,  0.0507097 , ..., -2.0339071 ,
         0.89423561,  0.76516201],
       ...,
       [-1.17857711, -0.72458373, -0.79345763, ...,  0.29473768,
        -1.46935821, -0.54346155],
       [-1.48052817, -0.72458373,  1.45765524, ...,  0.10068394,
        -1.07542591,  0.36530481],
       [ 0.06312684,  0.55038329, -0.79345763, ...,  2.13824812,
        -0.2875613 , -0.14360435]])

In [32]:
#convert numeric to pandas
test_numeric_DataDF=pd.DataFrame(test_numeric_standerdizedData,columns=test_numerical_data.columns).reset_index(drop=True)
test_numeric_DataDF.head()

,previous_attendance,previous_away_team_errors,previous_away_team_hits,previous_away_team_runs,previous_home_team_errors,previous_home_team_hits,previous_home_team_runs,temperature,wind_speed,previous_game_duration
0,0.111743,-0.724584,0.050710,0.809103,-0.722046,-0.467003,-0.479617,-0.093370,-0.287561,0.474357
1,-0.301650,0.550383,-0.512069,-0.145406,-0.722046,-0.467003,0.153657,-1.063638,0.106371,-0.289007
2,0.714022,1.825350,0.050710,1.445442,-0.722046,0.678909,0.786931,-2.033907,0.894236,0.765162
3,-0.610605,0.550383,-0.230679,-0.145406,0.538010,-0.753481,-0.796255,0.100684,-1.075426,-0.070903
4,0.756955,-0.724584,-0.512069,-0.463576,-0.722046,-1.039959,-1.112892,0.585818,-0.090595,-0.943319

In [33]:
#Processing Categorical Test Data
test_categorical_data.isna().sum()

game_type             0
previous_game_type    0
game_day              0
previous_game_day     0
sky                   0
dtype: int64

In [34]:
#No null values in categorical data, hence converting back into pandas
test_categorical_dataDF=pd.DataFrame(test_categorical_data,columns=test_categorical_data.columns).reset_index(drop=True)
test_categorical_dataDF

      game_type previous_game_type   game_day previous_game_day      sky
0    Night Game         Night Game   Thursday         Wednesday    Sunny
1    Night Game         Night Game    Tuesday            Monday   Cloudy
2    Night Game           Day Game    Tuesday            Monday   Cloudy
3    Night Game         Night Game   Thursday         Wednesday   Cloudy
4    Night Game           Day Game     Monday            Sunday  Unknown
..          ...                ...        ...               ...      ...
724  Night Game           Day Game     Monday            Sunday  In Dome
725  Night Game           Day Game    Tuesday            Monday    Sunny
726  Night Game         Night Game  Wednesday           Tuesday  In Dome
727  Night Game         Night Game    Tuesday            Monday  Unknown
728    Day Game         Night Game     Sunday          Saturday    Sunny

[729 rows x 5 columns]

In [35]:
#One Hot Encoding test categorical data
test_categorical_data_Encoded=encoder.transform(test_categorical_dataDF)
test_categorical_data_Encoded.toarray()

array([[0., 1., 0., ..., 0., 1., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 1., 1., ..., 0., 0., 0.],
       ...,
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 1.],
       [1., 0., 0., ..., 0., 1., 0.]])

In [36]:
#Back to pandas
test_categorical_data_Encoded_DF=pd.DataFrame(test_categorical_data_Encoded.toarray(),
                                               columns=OneHotEncoder_column_names).reset_index(drop=True)
test_categorical_data_Encoded_DF

,Day Game,Night Game,Day Game,Night Game,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,...,Tuesday,Wednesday,Cloudy,Drizzle,In Dome,Night,Overcast,Rain,Sunny,Unknown
0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
724,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
725,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
726,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
727,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
728,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [37]:
#Concatinate all to one DataFrame
test_Final_Data=pd.concat((test_numeric_DataDF.reset_index(drop=True),test_categorical_data_Encoded_DF.reset_index(drop=True),
                           test_binary_data.reset_index(drop=True)),axis=1)
test_Final_Data

,previous_attendance,previous_away_team_errors,previous_away_team_hits,previous_away_team_runs,previous_home_team_errors,previous_home_team_hits,previous_home_team_runs,temperature,wind_speed,previous_game_duration,...,Wednesday,Cloudy,Drizzle,In Dome,Night,Overcast,Rain,Sunny,Unknown,previous_homewin
0,0.111743,-0.724584,0.050710,0.809103,-0.722046,-0.467003,-0.479617,-0.093370,-0.287561,0.474357,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0
1,-0.301650,0.550383,-0.512069,-0.145406,-0.722046,-0.467003,0.153657,-1.063638,0.106371,-0.289007,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2,0.714022,1.825350,0.050710,1.445442,-0.722046,0.678909,0.786931,-2.033907,0.894236,0.765162,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,-0.610605,0.550383,-0.230679,-0.145406,0.538010,-0.753481,-0.796255,0.100684,-1.075426,-0.070903,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4,0.756955,-0.724584,-0.512069,-0.463576,-0.722046,-1.039959,-1.112892,0.585818,-0.090595,-0.943319,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
724,-1.008571,1.825350,-1.356236,-1.418085,-0.722046,0.392431,-0.479617,0.585818,-1.469358,-1.415877,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1
725,0.833686,-0.724584,-1.919014,-1.418085,-0.722046,-0.467003,-1.112892,0.488791,1.091202,-1.125072,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1
726,-1.178577,-0.724584,-0.793458,-1.099915,-0.722046,-0.467003,-1.429529,0.294738,-1.469358,-0.543462,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0
727,-1.480528,-0.724584,1.457655,1.127273,1.798065,-0.180525,-0.479617,0.100684,-1.075426,0.365305,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0
728,0.063127,0.550383,-0.793458,-0.781746,-0.722046,-0.180525,-0.479617,2.138248,-0.287561,-0.143604,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1

## Find the Baseline (0.5 point)

In [38]:
train_target.value_counts()

attendance_binary
1                    877
0                    821
dtype: int64

In [39]:
train_target.value_counts()/len(train_target)

attendance_binary
1                    0.51649
0                    0.48351
dtype: float64

C:\Users\Kumar Vankadara\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\Kumar Vankadara\anaconda3\lib\site-packages\sklearn\svm\_base.py:985: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn("Liblinear failed to converge, increase "

LinearSVC(C=10)

# Section 2: (3 points in total)

Build three different SVM models (by changing the kernels, regularization, etc.). Generate their training and test values. Each model is worth 1 point. 

(Add cells as needed)

## SVM Model 1:

In [41]:
#Linear SVC
from sklearn.svm import LinearSVC
svm_clf = LinearSVC(C=10)
svm_clf.fit(Train_Data_Final, train_target)

C:\Users\Kumar Vankadara\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\Kumar Vankadara\anaconda3\lib\site-packages\sklearn\svm\_base.py:985: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn("Liblinear failed to converge, increase "

LinearSVC(C=10)

In [44]:
from sklearn.metrics import accuracy_score
train_y_pred=svm_clf.predict(Train_Data_Final)
accuracy_score(train_target,train_y_pred)

0.8362779740871613

In [45]:
#Classification Matrix
from sklearn.metrics import confusion_matrix
confusion_matrix(train_target,train_y_pred)

array([[681, 140],
       [138, 739]], dtype=int64)

In [46]:
#classification report
from sklearn.metrics import classification_report
print(classification_report(train_target,train_y_pred))

              precision    recall  f1-score   support

           0       0.83      0.83      0.83       821
           1       0.84      0.84      0.84       877

    accuracy                           0.84      1698
   macro avg       0.84      0.84      0.84      1698
weighted avg       0.84      0.84      0.84      1698

## SVM Model 2:

In [54]:
#Linear SVC with poly=2
from sklearn.preprocessing import PolynomialFeatures
poly_fea=PolynomialFeatures(degree=2,include_bias=False)
train_poly_x=poly_fea.fit_transform(Train_Data_Final)
test_poly_y=poly_fea.transform(Train_Data_Final)
poly_SVM = LinearSVC(C=10)
poly_SVM.fit(train_poly_x,train_target)
#predicting trained values
trained_poly_y_predicted=poly_SVM.predict(train_poly_x)
#accuracy
accuracy_score(train_target,trained_poly_y_predicted)

C:\Users\Kumar Vankadara\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\Kumar Vankadara\anaconda3\lib\site-packages\sklearn\svm\_base.py:985: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn("Liblinear failed to converge, increase "

0.8975265017667845

In [58]:
#predict test values
test_poly_y_predicted=poly_SVM.predict(test_poly_y)
#nic please check below code
accuracy_score(test_target,test_poly_y_predicted)

ValueError: Found input variables with inconsistent numbers of samples: [729, 1698]

## SVM Model 3:

# Section 3: (3 points in total)

Build two different SGD models (by changing the penalty, etc. or adding polynomial terms) and one LogisticRregression model. Generate their training and test values. Each model is worth 1 point.

(Add cells as needed)

## SGD Model 1:

## SGD Model 2:

## LogisticRegression Model:

# Discussion (3 points in total)

## List the train and test values of each model you built (1 point)

## Which model performs the best and why? (0.5 points) How does it compare to baseline? (0.5 points)

Hint: The best model is the one that has the highest TEST score (regardless of any of the training values). If you select your model based on TRAIN values, you will lose points.

## Is there any evidence of overfitting in the best model, why or why not? If there is, what did you do about it? (0.5 points)

## Is there any evidence of overfitting in the other models (besides the best model), why or why not? If there is, what did you do about it? (0.5 points)